<div id="content">
  <!-- widget grid -->
  <sa-widgets-grid>
    <!-- row -->
    <div class="row" *ngIf="isAuth" >
    <article class="col-sm-12 col-md-12 col-lg-12">
        <sa-widget [togglebutton]="false" [deletebutton]="false" [fullscreenbutton]="false" [custombutton]="false" [sortable]="false" [colorbutton]="false" [editbutton]="false">
          <header>
            <span class="widget-icon">
              <i class="fa fa-table"></i>
            </span>
            <h2>Importação</h2>
          </header>
          <div >
            <div class="alert alert-warning margin-top-10" role="alert">
                <p>O modelo para importação pode ser baixado <a href="modelo_importacao_moeda.csv" target="_blank">aqui</a>.</p>
            </div>
            <div class="widget-body">
             <file-drop (click)="clickedDropzone()" (onFileDrop)="dropped($event)">
              <span>Clique aqui e selecione o arquvio CSV ou arraste para este local.</span>
            </file-drop>
            <input type="file" (change)="onFileInputChange($event)" accept="text/csv" #csvFileInput style="display:none"/>
            </div>
          </div>
          
        </sa-widget>
      </article>
    </div>
    <div *ngIf="!isAuth">
      <admin-login (isAuthEvent)=" isAuth = $event ;"></admin-login>
    </div>
    <!-- end row -->
  </sa-widgets-grid>
  <!-- end widget grid -->
</div>