<div id="content">

  <!-- widget grid -->
  <sa-widgets-grid>

    <!-- row -->
    <div class="row">
      <div id="navbar" class="nav-container" *ngIf="navIsFixed">
        <div class="col-md-12">
          <button type="submit" (click)="listaSegurados()" class="btn btn-labeled btn-default margin-right-13">
            <span class="btn-label">
              <i class="fa fa-user"></i>
            </span> Selecionar segurado
          </button>

          <button type="submit" (click)="infoCalculos()" class="btn btn-labeled btn-default margin-right-13">
            <span class="btn-label">
              <i class="fa fa-calculator"></i>
            </span> Informações de cálculos
          </button>

          <button type="submit" (click)="valoresContribuidos()" class="btn btn-labeled btn-default margin-right-13">
            <span class="btn-label">
              <i class="fa fa-dollar"></i>
            </span> Valores de contribuição
          </button>

          <button type="submit" (click)="imprimirPagina()" class="btn btn-labeled btn-default margin-right-13">
            <span class="btn-label">
              <i class="fa fa-print"></i>
            </span> Imprimir tudo
          </button>
        </div>
      </div> 
      <!-- informações do segurado -->
      <div id="box-dados-segurado">
      <article class="col-sm-12 col-md-12 col-lg-12">
        <h1>Cálculo de Regime Geral da Previdência Social</h1>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#/rgps/rgps-segurados"> Criar/Buscar Segurado</a></li>
          <li class="breadcrumb-item"><a href="#/rgps/rgps-calculos/{{idSegurado}}"> Lista de Cálculos</a></li>
          <li class="breadcrumb-item"><a href="#/rgps/rgps-calculos/{{idSegurado}}/{{idsCalculo[0]}}/edit"> Informações para o cálculo</a></li>
          <li class="breadcrumb-item"><a href="#/rgps/rgps-valores-contribuidos/{{idSegurado}}/{{idsCalculo[0]}}"> Valores de Contribuição</a></li>
          <li class="breadcrumb-item active">Resultados dos Cálculos</li>
        </ol>
        <sa-widget [colorbutton]="false" [editbutton]="false">
          <header>
            <span class="widget-icon">
              <i class="fa fa-edit"></i>
            </span>
            <h2>Dados do segurado</h2>
          </header>
          <!-- widget div-->
          <div>
            <!-- widget content -->
            <div class="widget-body">
              <ul class="list-unstyled">
                <li><b>Nome:</b>  {{segurado.nome}} </li>
                <li><b>PIS:</b>   {{segurado.numero_documento}}</li>
                <li><b>Data de nascimento:</b>  {{segurado.data_nascimento}}</li>
                <li *ngIf="segurado.sexo=='m'"><b>Sexo:</b>  Masculino</li>
                <li *ngIf="segurado.sexo=='f'"><b>Sexo:</b>  Feminino</li>
              </ul>
              <div id="printableSegurado" hidden>
                <h1>Cálculo de Regime Geral da Previdência Social</h1>
                <table class="table table-bordered table-hover">
                  <caption><h2>Dados do Segurado</h2></caption>
                  <tr>
                    <td width="50%" style="text-align: right;">
                      <b>Nome:</b>
                    </td>
                    <td width="50%">
                      {{segurado.nome}}
                    </td>
                  </tr>
                  <tr>
                    <td width="50%" style="text-align: right;">
                      <b>PIS:</b>
                    </td>
                    <td width="50%">
                      {{segurado.numero_documento}}
                    </td>
                  </tr>
                  <tr>
                    <td width="50%" style="text-align: right;">
                      <b>Data de nascimento:</b>
                    </td>
                    <td width="50%">
                       {{segurado.data_nascimento}}
                    </td>
                  </tr>
                  <tr>
                    <td width="50%" style="text-align: right;">
                      <b>Sexo:</b>
                    </td>
                    <td width="50%">
                      <span *ngIf="segurado.sexo=='m'">Masculino</span><span *ngIf="segurado.sexo=='f'">Feminino</span>
                    </td>
                  </tr>
                </table>
              </div>
              <div class="form-actions">
                <div class="row">
                  <div class="col-md-12">
                    <button type="submit" (click)="editSegurado()" class="btn btn-labeled btn-info pull-left">
                      <span class="btn-label">
                        <i class="fa fa-pencil"></i>
                      </span> Editar
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </sa-widget>
      </article>
    </div>

      <!-- tabela com o grupo de cálculos -->
      <article class="col-sm-12 col-md-12 col-lg-12" id='boxGrupoCalculos'>
        <sa-widget [colorbutton]="false" [editbutton]="false">
          <header>
            <span class="widget-icon">
              <i class="fa fa-table"></i>
            </span>
            <h2>Grupo de Cálculos para os valores de contribuição</h2>
          </header>
          <div>
            <div class="widget-body no-padding">
              <sa-datatable [options]="grupoCalculosTableOptions" *ngIf="!isUpdating"
                paginationLength="true" tableClass="table table-striped table-bordered table-hover" width="100%">
                <thead>
                  <tr>
                    <th>Espécie</th>
                    <th>Período para início de benefício</th>
                    <th>Contribuição Primária (Ano/Mês/Dia)</th>
                    <th>Contribuição Secundária (Ano/Mês/Dia)</th>
                    <th>DIB</th>
                    <th>Data de Criação</th>
                    <!-- <th>Comparar</th> -->
                  </tr>
                </thead>
              </sa-datatable>
                <!--<div class="row">
                   <div class="col-md-12">
                    <button (click)="compararCalculos()" type="submit" class="btn btn-labeled btn-primary">
                        <span class="btn-label">
                          <i class="fa fa-calculator"></i>
                        </span> Comparar
                    </button>
                  </div>
                </div> -->
            </div>
          </div>
        </sa-widget>
      </article>
      <!-- opções do calculo -->
      <article class="col-sm-12 col-md-12 col-lg-12">
        <!-- Widget ID (each widget will need unique ID)-->
        <sa-widget [colorbutton]="false" [editbutton]="false"  [colorbutton]="false"
              [editbutton]="false"
              [togglebutton]="false"
              [deletebutton]="false"
              [fullscreenbutton]="false"
              [custombutton]="false">
          <header>
            <span class="widget-icon">
              <i class="fa fa-gear"></i>
            </span>
            <h2>Opções</h2>
          </header>
          <!-- widget div-->
          <div>
            <!-- widget content -->
            <div class="widget-body" style="min-height: auto;">

              <div class="row" id='containerOpcoes'>
                <div class="col-md-12">
                  <button type="submit" (click)="listaSegurados()" class="btn btn-labeled btn-default margin-right-13">
                    <span class="btn-label">
                      <i class="fa fa-user"></i>
                    </span> Selecionar segurado
                  </button>

                  <button type="submit" (click)="infoCalculos()" class="btn btn-labeled btn-default margin-right-13">
                    <span class="btn-label">
                      <i class="fa fa-calculator"></i>
                    </span> Informações de cálculos
                  </button>

                  <button type="submit" (click)="valoresContribuidos()" class="btn btn-labeled btn-default margin-right-13">
                    <span class="btn-label">
                      <i class="fa fa-dollar"></i>
                    </span> Valores de contribuição
                  </button>

                  <button type="submit" (click)="imprimirPagina()" class="btn btn-labeled btn-default margin-right-13">
                    <span class="btn-label">
                      <i class="fa fa-print"></i>
                    </span> Imprimir tudo
                  </button>
                </div>
              </div>

            </div>
          </div>
        </sa-widget>
      </article>

      <div *ngFor="let calculo of calculosList">
        <app-rgps-resultados-anterior88 [calculo]="calculo"
        [segurado]="segurado"
        [isBlackHole]="calculo.isBlackHole" 
        *ngIf="calculo.mostrarCalculoAnterior88"></app-rgps-resultados-anterior88>
        <app-rgps-resultados-entre88e91 [calculo]="calculo"
        [segurado]="segurado"
        [isBlackHole]="calculo.isBlackHole" 
        [tipoCalculo]="'91_98'"
        *ngIf="calculo.mostrarCalculo88_91"></app-rgps-resultados-entre88e91>
        <app-rgps-resultados-entre91e98 [calculo]="calculo"
        [segurado]="segurado"
        [tipoCalculo]="'91_98'"
        *ngIf="calculo.mostrarCalculo91_98"></app-rgps-resultados-entre91e98>
        <app-rgps-resultados-entre91e98 [calculo]="calculo"
        [segurado]="segurado"
        [tipoCalculo]="'98_99'"
        *ngIf="calculo.mostrarCalculo98_99"></app-rgps-resultados-entre91e98>
        <app-rgps-resultados-apos99 [calculo]="calculo"
        [segurado]="segurado"
        *ngIf="calculo.mostrarCalculoApos99"></app-rgps-resultados-apos99>
      </div>
    </div>

    <!-- end row -->

  </sa-widgets-grid>

  <!-- end widget grid -->

</div>