<i class="fa fa-gear fa-4x fa-spin txt-color-red center" *ngIf="isUpdating"></i>

<article *ngIf="!isUpdating">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div *ngFor="let calculoPorRegra of listaConclusaoAcesso">
        <!-- <span>{{ calculoPorRegra.label }}</span> -->
        <accordion
          class="smart-accordion-default panel-group"
          [closeOthers]="true"
        >
          <div
            *ngFor="
              let calculoPossivel of calculoPorRegra.calculosPossiveis;
              let i = index
            "
          >
            <!-- <span>{{ calculoPossivel.descarteContrib}}</span> -->
            <accordion-group [isOpen]="false" #group1>
              <h4 class="panel-title" accordion-heading>
                <a>
                  <strong
                    >Calculo considerando
                    {{ calculoPossivel.numeroCompetencias }} contribuições com a
                    média de
                    {{
                      calculoPossivel.mediaDasContribuicoes.valueString
                    }}</strong
                  >
                  <i
                    class="fa fa-gear fa-2x fa-spin txt-color-red pull-right"
                    *ngIf="isUpdating"
                  ></i>
                  <button
                    *ngIf="!isUpdating"
                    class="btn btn-primary pull-right btn-xs"
                    type="button"
                  >
                    &nbsp;&nbsp;
                    {{ !group1?.isOpen ? "Abrir" : "Fechar" }}
                    <i
                      *ngIf="!isUpdating"
                      class="pull-right fa fa-lg"
                      [ngClass]="{
                        'fa-angle-down': group1?.isOpen,
                        'fa-angle-up': !group1?.isOpen
                      }"
                    ></i
                    >&nbsp;&nbsp;
                  </button>
                </a>
              </h4>
              <div class="no-padding">
                <sa-widget [colorbutton]="false" [editbutton]="false">
                  <div *ngIf="!isUpdating">
                    <div class="widget-body no-padding">
                      <sa-datatable
                        [options]="calculoPossivel.listaCompetencias"
                        [responsive]="false"
                        paginationLength="true"
                        *ngIf="!isUpdating"
                        tableClass="table table-striped table-bordered table-hover"
                        width="100%"
                      >
                        <thead>
                          <tr>
                            <th>#</th>
                            <th>Competência</th>
                            <th>Índice</th>
                            <th>Salário de Contribuição</th>
                            <th>Salário de Contribuição Corrigida</th>
                            <th>Observação</th>
                          </tr>
                        </thead>
                      </sa-datatable>
                    </div>
                  </div>
                </sa-widget>

                <!-- conclusoes genericas -->
                <div *ngIf="!isRegrasPensaoObitoInstituidorAposentado">
                  <table
                    class="table table-bordered table-hover no-padding"
                    *ngIf="!isUpdating"
                  >
                    <thead>
                      <tr>
                        <th>
                          <span class="pull-right">Tipo</span>
                        </th>
                        <th>
                          Descrição
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr
                        *ngFor="let conclusao of conclusoes"
                        class="{{ conclusao.class }}"
                      >
                        <td width="50%">
                          <span class="pull-right font-bold">{{
                            conclusao.string
                          }}</span>
                        </td>
                        <td>{{ conclusao.value }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </accordion-group>
          </div>
        </accordion>
      </div>
    </div>
  </div>
</article>
