<table class="table table-bordered table-hover" *ngIf="!isUpdating">
  <thead>
    <tr>
      <th colspan="2">
        Regra de Transição do art. 17 da EC nº 103/2019 (pedágio de 50%)
        <!-- <i title="" class="fa fa-question-circle fa-lg"></i> -->
      </th>
    </tr>
    <tr *ngIf="conclusoesRegra3.status">
      <th>
        <span class="pull-right">Tipo</span>
      </th>
      <th>
        Descrição
      </th>
    </tr>
  </thead>
  <tbody>
    <ng-container
      *ngIf="conclusoesRegra3.status; then regra3Aplica; else regra3NaoAplica"
    >
    </ng-container>
    <ng-template #regra3Aplica>
      <tr>
        <td width="50%">
          <span class="pull-right font-bold">Data de início do benefício</span>
        </td>
        <td>{{ conclusoesRegra3.dataDib }}</td>
      </tr>
      <tr>
        <td width="50%">
          <span class="pull-right font-bold">Idade </span>
        </td>
        <!-- <td>{{ conclusoesRegra3.idadeDib }}</td> -->
        <td>{{ conclusoesRegra3.idadeDibMoment }}</td>
      </tr>
      <tr>
        <td width="50%">
          <span class="pull-right font-bold">Tempo de Contribuição</span>
        </td>
        <td>{{ conclusoesRegra3.tempoDib }}</td>
      </tr>
      <tr>
        <td width="50%">
          <span class="pull-right font-bold">Fórmula Fator</span>
        </td>
        <td>{{ conclusoesRegra3.formulaFator }}</td>
      </tr>
      <tr>
        <td width="50%">
          <span class="pull-right font-bold">Fator previdenciário aproximado na data de início do benefício</span>
        </td>
        <td>{{ conclusoesRegra3.fatorNaDib }}</td>
      </tr>
    </ng-template>
    <ng-template #regra3NaoAplica>
      <tr>
        <td colspan="2">
          <div class="alert alert-warning margin-top-10" role="alert">
            <p *ngIf="seguradoTransicao.sexo === 'm'" >Não se aplica. O segurado não possuía {{ conclusoesRegra3.requisitoDib }} anos de tempo de contribuição na data da publicação da EC 103/2019.</p>
            <p *ngIf="seguradoTransicao.sexo === 'f'"> Não se aplica. A segurada não possuía {{ conclusoesRegra3.requisitoDib }} anos de tempo de contribuição na data da publicação da EC 103/2019.</p>
          </div>
        </td>
      </tr>
    </ng-template>
  </tbody>
</table>
