<div id="content" *ngIf="!isUpdating">
  <sa-widgets-grid>
    <div id="box-dados-segurado">
      <article class="col-sm-12 col-md-12 col-lg-12" *ngIf="!isUpdating">
        <h1>Recolhimento em Atraso de Contribuições - Artigo 45-A da Lei n. 8.212/1991</h1>
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="#/contribuicoes/contribuicoes-segurados">
              Criar/Buscar Segurado</a
            >
          </li>
          <li class="breadcrumb-item">
            <a href="#/contribuicoes/contribuicoes-calculos/{{ idSegurado }}">
              Lista de Cálculos</a
            >
          </li>
          <li class="breadcrumb-item">
            <a
              href="#/contribuicoes/contribuicoes-calculos/{{ idSegurado }}/{{
                idCalculo
              }}/edit"
            >
              Informações para o Cálculo</a
            >
          </li>
          <li class="breadcrumb-item active">Resultados</li>
        </ol>
      </article>
    </div>

    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <sa-widget [colorbutton]="false" [editbutton]="false">
          <header>
            <span class="widget-icon">
              <i class="fa fa-edit"></i>
            </span>
            <h2>Dados do Segurado</h2>
            <button
              class="btn btn-labeled btn-info pull-right"
              type="submit"
              (click)="editSegurado()"
            >
              <span class="btn-label">
                <i class="fa fa-pencil"></i>
              </span>
              Editar
            </button>
          </header>
          <!-- widget div-->
          <div class="my-0 p-0">
            <!-- widget content -->
            <div class="widget-body widget-body-custom m-0 p-0">
              <table
                class="
                  table table-condensed table-bordered
                  no-padding no-margin
                "
              >
                <thead>
                  <tr>
                    <th width="40%">Nome</th>
                    <th>Data de Nascimento</th>
                    <th>Sexo</th>
                    <th>Idade Atual</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td width="40%" >{{ segurado.nome }}</td>
                    <td >{{ segurado.data_nascimento }}</td>
                    <td >
                      {{ segurado.sexo == "m" ? "Masculino" : "Feminino" }}
                    </td>
                    <td >{{ segurado.idade }} anos</td>
                  </tr>
                </tbody>
              </table>
              <div id="printableSegurado" hidden>
                <table class="table table-bordered table-hover table-condensed">
                  <tr>
                    <td style="text-align: center" colspan="2">
                      <strong style="font-size: 14px;" >Dados do Segurado</strong >
                    </td>
                  </tr>
                  <tr>
                    <td width="50%" style="text-align: right">
                      <b>Nome:</b>
                    </td>
                    <td width="50%">
                      {{ segurado.nome }}
                    </td>
                  </tr>
                  <tr *ngIf="segurado.numero_documento">
                    <td width="50%" style="text-align: right">
                      <b>{{
                        segurado.getDocumentType(segurado.id_documento)
                      }}</b>
                    </td>
                    <td width="50%">
                      {{ segurado.numero_documento }}
                    </td>
                  </tr>
                  <tr>
                    <td width="50%" style="text-align: right">
                      <b>Data de Nascimento:</b>
                    </td>
                    <td width="50%">
                      {{ segurado.data_nascimento }}
                    </td>
                  </tr>
                  <tr>
                    <td width="50%" style="text-align: right">
                      <b>Sexo:</b>
                    </td>
                    <td width="50%">
                      <span *ngIf="segurado.sexo == 'm'">Masculino</span
                      ><span *ngIf="segurado.sexo == 'f'">Feminino</span>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </sa-widget>
      </div>
    </div>

    <div class="row">
      <article class="col-sm-12 col-md-12 col-lg-12" *ngIf="!isUpdating">
        <sa-widget
          [colorbutton]="false"
          [editbutton]="false"
          [togglebutton]="false"
          [deletebutton]="false"
          [fullscreenbutton]="false"
        >
          <header>
            <span class="widget-icon">
              <i class="fa fa-table"></i>
            </span>
            <h2>Informações do Cálculo</h2>
          </header>
          <div class="my-0 p-0">
            <!-- widget content -->
            <div class="widget-body widget-body-custom m-0 p-0">
              <table
                class="
                  table table-condensed table-bordered
                  no-padding no-margin
                "
              >
                <thead>
                  <tr>
                    <th width="40%">Competência Inicial</th>
                    <th>Competência Final</th>
                    <th>Corrigir Monetariamente até:</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      {{ datasCalculoResultados.inicial }}
                    </td>
                    <td>
                      {{ datasCalculoResultados.final }}
                    </td>
                    <td>
                      {{ datasCalculoResultados.atualizarAte }}
                    </td>
                  </tr>
                </tbody>
              </table>

              <div id="printableDadosCalculo" hidden>
                <table class="table table-bordered table-condensed">
                  <tr>
                    <td style="text-align: center" colspan="3">
                      <strong style="font-size: 14px;" >Informações do Cálculo</strong >
                    </td>
                  </tr>
                  <tr>
                    <td width="50%" style="text-align: right">
                      <b>Competência Inicial:</b>
                    </td>
                    <td width="50%">
                      {{ datasCalculoResultados.inicial }}
                    </td>
                  </tr>
                  <tr>
                    <td width="50%" style="text-align: right">
                      <b>Competência Final:</b>
                    </td>
                    <td width="50%">
                      {{ datasCalculoResultados.final }}
                    </td>
                  </tr>
                  <tr>
                    <td width="50%" style="text-align: right">
                      <b>Atualizar até:</b>
                    </td>
                    <td width="50%">
                      {{ datasCalculoResultados.atualizarAte }}
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </sa-widget>
      </article>

      <article
        class="col-sm-12 col-md-12 col-lg-12"
        *ngIf="!isUpdating"
        id="detalhamentoCalculo"
      >
        <sa-widget
          [colorbutton]="false"
          [editbutton]="false"
          [deletebutton]="false"
        >
          <header>
            <span class="widget-icon">
              <i class="fa fa-table"></i>
            </span>
            <h2 class="not-print">Resultado da Contribuição Mensal</h2>
            <button
              class="btn btn-labeled btn-info pull-right not-print"
              type="button"
              (click)="setviewResultados('valoresContrib')"
            >
              <span class="btn-label">
                <i
                  *ngIf="!isUpdating"
                  class="fa"
                  [ngClass]="{
                    'fa-angle-down': viewExibir.valoresContrib,
                    'fa-angle-up': !viewExibir.valoresContrib
                  }"
                ></i>
              </span>
              {{ !viewExibir.valoresContrib ? "Abrir" : "Fechar" }}
            </button>
          </header>
          <div *ngIf="viewExibir.valoresContrib">
            <div class="col-sm-12" *ngIf="!hasDetalhe">
              <div class="well">
                <p>
                  <b
                    >Detalhamento do cálculo disponível apenas no ato de geração
                    do valor.</b
                  >
                </p>
              </div>
            </div>
            <div class="widget-body no-padding hidden-dt">
              <sa-datatable
                *ngIf="hasDetalhe"
                [options]="detalhesTableOptions"
                [responsive]="false"
                paginationLength="true"
                tableClass="table table-striped table-bordered table-hover table-condensed-custom"
                width="100%"
              >
                <thead>
                  <tr class="not-screen">
                    <td style="text-align: center" colspan="6">
                      <strong style="font-size: 14px;" >Resultado da Contribuição Mensal</strong >
                    </td>
                  </tr>
                  <tr>
                    <th class="text-center">#</th>
                    <th class="text-center">Competência</th>
                    <th class="text-center">Salário de Contribuição</th>
                    <th class="text-center">Índice</th>
                    <th class="text-center">
                      Salário de Contribuição Corrigido
                    </th>
                    <th class="text-center">Observação</th>
                  </tr>
                </thead>
              </sa-datatable>
              <div
                id="printableDadosValoresContrib"
                class="p-0"
                *ngIf="viewExibir.valoresContrib"
              >
                <table
                  class="table table-bordered table-hover no-padding mb-0"
                  *ngIf="!isUpdating"
                >
                  <tbody>
                    <!-- <tr>
                    <td colspan="2">
                      <strong >Resultado Final</strong>
                    </td>
                  </tr> -->
                    <tr>
                      <td style="text-align: right">
                        <span class="pull-right font-bold"><b>Tipo</b></span>
                      </td>
                      <td style="text-align: left">
                        <span class="font-bold"><b>Descrição</b></span>
                      </td>
                    </tr>
                    <tr>
                      <td width="50%" style="text-align: right">
                        <span class="pull-right font-bold">
                          Quantidade de salários de contribuição (100%):
                        </span>
                      </td>
                      <td>{{ quantcontribuicoes100 }}</td>
                    </tr>
                    <tr>
                      <td width="50%" style="text-align: right">
                        <span class="pull-right font-bold">
                          Quantidade de Salários de Contribuição Utilizados (80%
                          maiores):
                        </span>
                      </td>
                      <td>{{ quantContribuicoes80 }}</td>
                    </tr>
                    <tr>
                      <td width="50%" style="text-align: right">
                        <span class="pull-right font-bold">
                          Soma dos Salários de Contribuição Considerados:
                        </span>
                      </td>
                      <td>{{ formatMoney(somaDosSalariosContribuicao) }}</td>
                    </tr>
                    <tr>
                      <td width="50%" style="text-align: right">
                        <span class="pull-right font-bold">
                          Média dos Salários de Contribuição:
                        </span>
                      </td>
                      <td>{{ formatMoney(mediaDosSalariosContribuicao) }}</td>
                    </tr>
                    <tr>
                      <td width="50%" style="text-align: right">
                        <span class="pull-right font-bold">
                          Alíquota da Contribuição:
                        </span>
                      </td>
                      <td>20%</td>
                    </tr>
                    <tr>
                      <td width="50%" style="text-align: right">
                        <span class="pull-right font-bold">
                          Valor da Contribuição Mensal:
                        </span>
                      </td>
                      <td>{{ formatMoney(baseAliquota) }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <!-- <small style="padding-left: 10px" class="text-danger"
                ><b
                  >Valores em vermelho correspondem a contribuições
                  descartadas.</b
                ></small
              > -->
            </div>
          </div>
        </sa-widget>
      </article>

      <article class="col-sm-12 col-md-12 col-lg-12" *ngIf="!isUpdating">
        <sa-widget
          [colorbutton]="false"
          [editbutton]="false"
          id="resultadosCalculo"
          [deletebutton]="false"
        >
          <header>
            <span class="widget-icon">
              <i class="fa fa-table"></i>
            </span>
            <h2 class="not-print">Resultado do Total a Indenizar</h2>
            <button
              class="btn btn-labeled btn-info pull-right not-print"
              type="button"
              (click)="setviewResultados('resultados')"
            >
              <span class="btn-label">
                <i
                  *ngIf="!isUpdating"
                  class="fa"
                  [ngClass]="{
                    'fa-angle-down': viewExibir.resultados,
                    'fa-angle-up': !viewExibir.resultados
                  }"
                ></i>
              </span>
              {{ !viewExibir.resultados ? "Abrir" : "Fechar" }}
            </button>
          </header>
          <div *ngIf="viewExibir.resultados">
            <div class="widget-body no-padding hidden-dt">
              <sa-datatable
                [options]="resultadosTableOptions"
                [responsive]="false"
                paginationLength="true"
                tableClass="table table-striped table-bordered table-hover table-condensed-custom"
                width="100%"
              >
                <thead>
                  <tr class="not-screen">
                    <td style="text-align: center" colspan="5">
                      <strong style="font-size: 14px;" >Resultado do Total a Indenizar</strong >
                    </td>
                  </tr>
                  <tr>
                    <th>Competência</th>
                    <th>Valor Mensal da Contribuição</th>
                    <th *ngIf="mostrarJuros">Valor dos Juros</th>
                    <th>Valor da Multa</th>
                    <th>Valor total</th>
                  </tr>
                </thead>
              </sa-datatable>
            </div>
          </div>
          <div
            id="printableDadosResultados"
            class="p-0"
            *ngIf="viewExibir.resultados"
          >
            <table
              class="table table-bordered table-hover no-padding mb-0"
              *ngIf="!isUpdating"
            >
              <tbody>
                <!-- <tr>
                <td colspan="2">
                  <strong >Resultado Final</strong>
                </td>
              </tr> -->
                <tr>
                  <td style="text-align: right">
                    <span class="pull-right font-bold"><b>Tipo</b></span>
                  </td>
                  <td style="text-align: left">
                    <span class="font-bold"><b>Descrição</b></span>
                  </td>
                </tr>
                <tr>
                  <td width="50%" style="text-align: right">
                    <span class="pull-right font-bold">
                      Soma das Contribuições Mensais (A)
                    </span>
                  </td>
                  <td>{{ formatMoney(total_contrib) }}</td>
                </tr>
                <tr>
                  <td width="50%" style="text-align: right">
                    <span class="pull-right font-bold">
                      Valor Total dos Juros (B)
                    </span>
                  </td>
                  <td>{{ formatMoney(total_juros) }} </td>
                </tr>
                <tr>
                  <td width="50%" style="text-align: right">
                    <span class="pull-right font-bold">
                      Valor Total Multa (C)
                    </span>
                  </td>
                  <td>{{ formatMoney(total_multa) }} </td>
                </tr>
                <tr>
                  <td width="50%" style="text-align: right">
                    <span class="pull-right font-bold">
                      Valor Total a Indenizar (A + B + C)
                    </span>
                  </td>
                  <td>{{ formatMoney(total_total) }}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-sm-12" *ngIf="viewExibir.resultados">
            <div class="well">
              <p>
                Cálculo realizado de acordo com as informações fornecidas pelo Usuário, para indenização de contribuições anteriores aos últimos 5 (cinco) anos (decadentes) na forma do artigo 45-A da Lei n. 8.212/1991, com redação dada pela Lei Complementar n. 128/2008, aplicadas ainda as regras previstas no § 7º, do artigo 216 e § 8º-A, do artigo 239, do Decreto n. 3.048/1999, com redação dada pelo Decreto n. 10.410/2020. O Valor para recolhimento das contribuições posteriores ao período decadente deve ser calculados de acordo com o sistema disponibilizado no site da Previdência Social: 
                <a
                  href="https://www.inss.gov.br/servicos-do-inss/calculo-da-guia-da-previdencia-social-gps/"
                  target="_blank"
                  >https://www.inss.gov.br/servicos-do-inss/calculo-da-guia-da-previdencia-social-gps/</a
                >.
              </p>
            </div>
          </div>
        </sa-widget>
        <!-- <div class="form-actions">
          <div class="row">
            <div class="col-md-12">
                <button
                (click)="imprimirTodosResultadosFinal()"
                type="submit"
                class="btn btn-labeled btn-info margin-bottom-10"
              >
                <span class="btn-label">
                  <i class="fa fa-print"></i>
                </span>
                Imprimir Resultado da Contribuição Mensal
              </button>
              <button
                (click)="imprimirTodosResultadosPagina()"
                type="submit"
                class="btn btn-labeled btn-info margin-bottom-10"
              >
                <span class="btn-label">
                  <i class="fa fa-print"></i>
                </span>
                Imprimir Resultados da Contribuição Mensal/Total a Indenizar
              </button>
            </div>
          </div>
        </div> -->
      </article>

      <article class="col-sm-12 col-md-12 col-lg-12">
        <div class="panel panel-default">
          <div class="panel-body m-1 p-1">
            <ul class="pager wizard no-margin">
              <li class="pull-right">
                <button
                (click)="imprimirTodosResultadosPagina()"
                type="submit"
                class="btn btn-labeled btn-info"
              >
                <span class="btn-label">
                  <i class="fa fa-print"></i>
                </span>
                Imprimir Resultados da Contribuição Mensal/Total a Indenizar
              </button>
              </li>
              <li class="pull-right">
                <button
                (click)="imprimirTodosResultadosFinal()"
                type="submit"
                class="btn btn-labeled btn-info mr-5"
              >
                <span class="btn-label">
                  <i class="fa fa-print"></i>
                </span>
                Imprimir Resultado da Contribuição Mensal
              </button>
              </li>
            </ul>
          </div>
        </div>
      </article>
    </div>
  </sa-widgets-grid>
</div>


