.color-chart-F0F8FF{
	color: #F0F8FF !important;
}
.color-chart-FAEBD7{
	color: #FAEBD7 !important;
}
.color-chart-00FFFF{
	color: #00FFFF !important;
}
.color-chart-7FFFD4{
	color: #7FFFD4 !important;
}
.color-chart-F0FFFF{
	color: #F0FFFF !important;
}
.color-chart-F5F5DC{
	color: #F5F5DC !important;
}
.color-chart-FFE4C4{
	color: #FFE4C4 !important;
}
.color-chart-000000{
	color: #000000 !important;
}
.color-chart-FFEBCD{
	color: #FFEBCD !important;
}
.color-chart-0000FF{
	color: #0000FF !important;
}
.color-chart-8A2BE2{
	color: #8A2BE2 !important;
}
.color-chart-A52A2A{
	color: #A52A2A !important;
}
.color-chart-DEB887{
	color: #DEB887 !important;
}
.color-chart-5F9EA0{
	color: #5F9EA0 !important;
}
.color-chart-7FFF00{
	color: #7FFF00 !important;
}
.color-chart-D2691E{
	color: #D2691E !important;
}
.color-chart-FF7F50{
	color: #FF7F50 !important;
}
.color-chart-6495ED{
	color: #6495ED !important;
}
.color-chart-FFF8DC{
	color: #FFF8DC !important;
}
.color-chart-DC143C{
	color: #DC143C !important;
}
.color-chart-00FFFF{
	color: #00FFFF !important;
}
.color-chart-00008B{
	color: #00008B !important;
}
.color-chart-008B8B{
	color: #008B8B !important;
}
.color-chart-B8860B{
	color: #B8860B !important;
}
.color-chart-A9A9A9{
	color: #A9A9A9 !important;
}
.color-chart-A9A9A9{
	color: #A9A9A9 !important;
}
.color-chart-006400{
	color: #006400 !important;
}
.color-chart-BDB76B{
	color: #BDB76B !important;
}
.color-chart-8B008B{
	color: #8B008B !important;
}
.color-chart-556B2F{
	color: #556B2F !important;
}
.color-chart-FF8C00{
	color: #FF8C00 !important;
}
.color-chart-9932CC{
	color: #9932CC !important;
}
.color-chart-8B0000{
	color: #8B0000 !important;
}
.color-chart-E9967A{
	color: #E9967A !important;
}
.color-chart-8FBC8F{
	color: #8FBC8F !important;
}
.color-chart-483D8B{
	color: #483D8B !important;
}
.color-chart-2F4F4F{
	color: #2F4F4F !important;
}
.color-chart-2F4F4F{
	color: #2F4F4F !important;
}
.color-chart-00CED1{
	color: #00CED1 !important;
}
.color-chart-9400D3{
	color: #9400D3 !important;
}
.color-chart-FF1493{
	color: #FF1493 !important;
}
.color-chart-00BFFF{
	color: #00BFFF !important;
}
.color-chart-696969{
	color: #696969 !important;
}
.color-chart-696969{
	color: #696969 !important;
}
.color-chart-1E90FF{
	color: #1E90FF !important;
}
.color-chart-B22222{
	color: #B22222 !important;
}
.color-chart-FFFAF0{
	color: #FFFAF0 !important;
}
.color-chart-228B22{
	color: #228B22 !important;
}
.color-chart-FF00FF{
	color: #FF00FF !important;
}
.color-chart-DCDCDC{
	color: #DCDCDC !important;
}
.color-chart-F8F8FF{
	color: #F8F8FF !important;
}
.color-chart-FFD700{
	color: #FFD700 !important;
}
.color-chart-DAA520{
	color: #DAA520 !important;
}
.color-chart-808080{
	color: #808080 !important;
}
.color-chart-808080{
	color: #808080 !important;
}
.color-chart-008000{
	color: #008000 !important;
}
.color-chart-ADFF2F{
	color: #ADFF2F !important;
}
.color-chart-F0FFF0{
	color: #F0FFF0 !important;
}
.color-chart-FF69B4{
	color: #FF69B4 !important;
}
.color-chart-CD5C5C{
	color: #CD5C5C !important;
}
.color-chart-4B0082{
	color: #4B0082 !important;
}
.color-chart-FFFFF0{
	color: #FFFFF0 !important;
}
.color-chart-F0E68C{
	color: #F0E68C !important;
}
.color-chart-E6E6FA{
	color: #E6E6FA !important;
}
.color-chart-FFF0F5{
	color: #FFF0F5 !important;
}
.color-chart-7CFC00{
	color: #7CFC00 !important;
}
.color-chart-FFFACD{
	color: #FFFACD !important;
}
.color-chart-ADD8E6{
	color: #ADD8E6 !important;
}
.color-chart-F08080{
	color: #F08080 !important;
}
.color-chart-E0FFFF{
	color: #E0FFFF !important;
}
.color-chart-FAFAD2{
	color: #FAFAD2 !important;
}
.color-chart-D3D3D3{
	color: #D3D3D3 !important;
}
.color-chart-D3D3D3{
	color: #D3D3D3 !important;
}
.color-chart-90EE90{
	color: #90EE90 !important;
}
.color-chart-FFB6C1{
	color: #FFB6C1 !important;
}
.color-chart-FFA07A{
	color: #FFA07A !important;
}
.color-chart-20B2AA{
	color: #20B2AA !important;
}
.color-chart-87CEFA{
	color: #87CEFA !important;
}
.color-chart-778899{
	color: #778899 !important;
}
.color-chart-778899{
	color: #778899 !important;
}
.color-chart-B0C4DE{
	color: #B0C4DE !important;
}
.color-chart-FFFFE0{
	color: #FFFFE0 !important;
}
.color-chart-00FF00{
	color: #00FF00 !important;
}
.color-chart-32CD32{
	color: #32CD32 !important;
}
.color-chart-FAF0E6{
	color: #FAF0E6 !important;
}
.color-chart-FF00FF{
	color: #FF00FF !important;
}
.color-chart-800000{
	color: #800000 !important;
}
.color-chart-66CDAA{
	color: #66CDAA !important;
}
.color-chart-0000CD{
	color: #0000CD !important;
}
.color-chart-BA55D3{
	color: #BA55D3 !important;
}
.color-chart-9370DB{
	color: #9370DB !important;
}
.color-chart-3CB371{
	color: #3CB371 !important;
}
.color-chart-7B68EE{
	color: #7B68EE !important;
}
.color-chart-00FA9A{
	color: #00FA9A !important;
}
.color-chart-48D1CC{
	color: #48D1CC !important;
}
.color-chart-C71585{
	color: #C71585 !important;
}
.color-chart-191970{
	color: #191970 !important;
}
.color-chart-F5FFFA{
	color: #F5FFFA !important;
}
.color-chart-FFE4E1{
	color: #FFE4E1 !important;
}
.color-chart-FFE4B5{
	color: #FFE4B5 !important;
}
.color-chart-FFDEAD{
	color: #FFDEAD !important;
}
.color-chart-000080{
	color: #000080 !important;
}
.color-chart-FDF5E6{
	color: #FDF5E6 !important;
}
.color-chart-808000{
	color: #808000 !important;
}
.color-chart-6B8E23{
	color: #6B8E23 !important;
}
.color-chart-FFA500{
	color: #FFA500 !important;
}
.color-chart-FF4500{
	color: #FF4500 !important;
}
.color-chart-DA70D6{
	color: #DA70D6 !important;
}
.color-chart-EEE8AA{
	color: #EEE8AA !important;
}
.color-chart-98FB98{
	color: #98FB98 !important;
}
.color-chart-AFEEEE{
	color: #AFEEEE !important;
}
.color-chart-DB7093{
	color: #DB7093 !important;
}
.color-chart-FFEFD5{
	color: #FFEFD5 !important;
}
.color-chart-FFDAB9{
	color: #FFDAB9 !important;
}
.color-chart-CD853F{
	color: #CD853F !important;
}
.color-chart-FFC0CB{
	color: #FFC0CB !important;
}
.color-chart-DDA0DD{
	color: #DDA0DD !important;
}
.color-chart-B0E0E6{
	color: #B0E0E6 !important;
}
.color-chart-800080{
	color: #800080 !important;
}
.color-chart-663399{
	color: #663399 !important;
}
.color-chart-FF0000{
	color: #FF0000 !important;
}
.color-chart-BC8F8F{
	color: #BC8F8F !important;
}
.color-chart-4169E1{
	color: #4169E1 !important;
}
.color-chart-8B4513{
	color: #8B4513 !important;
}
.color-chart-FA8072{
	color: #FA8072 !important;
}
.color-chart-F4A460{
	color: #F4A460 !important;
}
.color-chart-2E8B57{
	color: #2E8B57 !important;
}
.color-chart-FFF5EE{
	color: #FFF5EE !important;
}
.color-chart-A0522D{
	color: #A0522D !important;
}
.color-chart-C0C0C0{
	color: #C0C0C0 !important;
}
.color-chart-87CEEB{
	color: #87CEEB !important;
}
.color-chart-6A5ACD{
	color: #6A5ACD !important;
}
.color-chart-708090{
	color: #708090 !important;
}
.color-chart-708090{
	color: #708090 !important;
}
.color-chart-FFFAFA{
	color: #FFFAFA !important;
}
.color-chart-00FF7F{
	color: #00FF7F !important;
}
.color-chart-4682B4{
	color: #4682B4 !important;
}
.color-chart-D2B48C{
	color: #D2B48C !important;
}
.color-chart-008080{
	color: #008080 !important;
}
.color-chart-D8BFD8{
	color: #D8BFD8 !important;
}
.color-chart-FF6347{
	color: #FF6347 !important;
}
.color-chart-40E0D0{
	color: #40E0D0 !important;
}
.color-chart-EE82EE{
	color: #EE82EE !important;
}
.color-chart-F5DEB3{
	color: #F5DEB3 !important;
}
.color-chart-FFFFFF{
	color: #FFFFFF !important;
}
.color-chart-F5F5F5{
	color: #F5F5F5 !important;
}
.color-chart-FFFF00{
	color: #FFFF00 !important;
}
.color-chart-9ACD32{
	color: #9ACD32 !important;
}
.color-chart-F0F8FF{
	color: #F0F8FF !important;
}
.color-chart-FAEBD7{
	color: #FAEBD7 !important;
}
.color-chart-00FFFF{
	color: #00FFFF !important;
}
.color-chart-7FFFD4{
	color: #7FFFD4 !important;
}
.color-chart-F0FFFF{
	color: #F0FFFF !important;
}
.color-chart-F5F5DC{
	color: #F5F5DC !important;
}
.color-chart-FFE4C4{
	color: #FFE4C4 !important;
}
.color-chart-000000{
	color: #000000 !important;
}
.color-chart-FFEBCD{
	color: #FFEBCD !important;
}
.color-chart-0000FF{
	color: #0000FF !important;
}
.color-chart-8A2BE2{
	color: #8A2BE2 !important;
}
.color-chart-A52A2A{
	color: #A52A2A !important;
}
.color-chart-DEB887{
	color: #DEB887 !important;
}
.color-chart-5F9EA0{
	color: #5F9EA0 !important;
}
.color-chart-7FFF00{
	color: #7FFF00 !important;
}
.color-chart-D2691E{
	color: #D2691E !important;
}
.color-chart-FF7F50{
	color: #FF7F50 !important;
}
.color-chart-6495ED{
	color: #6495ED !important;
}
.color-chart-FFF8DC{
	color: #FFF8DC !important;
}
.color-chart-DC143C{
	color: #DC143C !important;
}
.color-chart-00FFFF{
	color: #00FFFF !important;
}
.color-chart-00008B{
	color: #00008B !important;
}
.color-chart-008B8B{
	color: #008B8B !important;
}
.color-chart-B8860B{
	color: #B8860B !important;
}
.color-chart-A9A9A9{
	color: #A9A9A9 !important;
}
.color-chart-A9A9A9{
	color: #A9A9A9 !important;
}
.color-chart-006400{
	color: #006400 !important;
}
.color-chart-BDB76B{
	color: #BDB76B !important;
}
.color-chart-8B008B{
	color: #8B008B !important;
}
.color-chart-556B2F{
	color: #556B2F !important;
}
.color-chart-FF8C00{
	color: #FF8C00 !important;
}
.color-chart-9932CC{
	color: #9932CC !important;
}
.color-chart-8B0000{
	color: #8B0000 !important;
}
.color-chart-E9967A{
	color: #E9967A !important;
}
.color-chart-8FBC8F{
	color: #8FBC8F !important;
}
.color-chart-483D8B{
	color: #483D8B !important;
}
.color-chart-2F4F4F{
	color: #2F4F4F !important;
}
.color-chart-2F4F4F{
	color: #2F4F4F !important;
}
.color-chart-00CED1{
	color: #00CED1 !important;
}
.color-chart-9400D3{
	color: #9400D3 !important;
}
.color-chart-FF1493{
	color: #FF1493 !important;
}
.color-chart-00BFFF{
	color: #00BFFF !important;
}
.color-chart-696969{
	color: #696969 !important;
}
.color-chart-696969{
	color: #696969 !important;
}
.color-chart-1E90FF{
	color: #1E90FF !important;
}
.color-chart-B22222{
	color: #B22222 !important;
}
.color-chart-FFFAF0{
	color: #FFFAF0 !important;
}
.color-chart-228B22{
	color: #228B22 !important;
}
.color-chart-FF00FF{
	color: #FF00FF !important;
}
.color-chart-DCDCDC{
	color: #DCDCDC !important;
}
.color-chart-F8F8FF{
	color: #F8F8FF !important;
}
.color-chart-FFD700{
	color: #FFD700 !important;
}
.color-chart-DAA520{
	color: #DAA520 !important;
}
.color-chart-808080{
	color: #808080 !important;
}
.color-chart-808080{
	color: #808080 !important;
}
.color-chart-008000{
	color: #008000 !important;
}
.color-chart-ADFF2F{
	color: #ADFF2F !important;
}
.color-chart-F0FFF0{
	color: #F0FFF0 !important;
}
.color-chart-FF69B4{
	color: #FF69B4 !important;
}
.color-chart-CD5C5C{
	color: #CD5C5C !important;
}
.color-chart-4B0082{
	color: #4B0082 !important;
}
.color-chart-FFFFF0{
	color: #FFFFF0 !important;
}
.color-chart-F0E68C{
	color: #F0E68C !important;
}
.color-chart-E6E6FA{
	color: #E6E6FA !important;
}
.color-chart-FFF0F5{
	color: #FFF0F5 !important;
}
.color-chart-7CFC00{
	color: #7CFC00 !important;
}
.color-chart-FFFACD{
	color: #FFFACD !important;
}
.color-chart-ADD8E6{
	color: #ADD8E6 !important;
}
.color-chart-F08080{
	color: #F08080 !important;
}
.color-chart-E0FFFF{
	color: #E0FFFF !important;
}
.color-chart-FAFAD2{
	color: #FAFAD2 !important;
}
.color-chart-D3D3D3{
	color: #D3D3D3 !important;
}
.color-chart-D3D3D3{
	color: #D3D3D3 !important;
}
.color-chart-90EE90{
	color: #90EE90 !important;
}
.color-chart-FFB6C1{
	color: #FFB6C1 !important;
}
.color-chart-FFA07A{
	color: #FFA07A !important;
}
.color-chart-20B2AA{
	color: #20B2AA !important;
}
.color-chart-87CEFA{
	color: #87CEFA !important;
}
.color-chart-778899{
	color: #778899 !important;
}
.color-chart-778899{
	color: #778899 !important;
}
.color-chart-B0C4DE{
	color: #B0C4DE !important;
}
.color-chart-FFFFE0{
	color: #FFFFE0 !important;
}
.color-chart-00FF00{
	color: #00FF00 !important;
}
.color-chart-32CD32{
	color: #32CD32 !important;
}
.color-chart-FAF0E6{
	color: #FAF0E6 !important;
}
.color-chart-FF00FF{
	color: #FF00FF !important;
}
.color-chart-800000{
	color: #800000 !important;
}
.color-chart-66CDAA{
	color: #66CDAA !important;
}
.color-chart-0000CD{
	color: #0000CD !important;
}
.color-chart-BA55D3{
	color: #BA55D3 !important;
}
.color-chart-9370DB{
	color: #9370DB !important;
}
.color-chart-3CB371{
	color: #3CB371 !important;
}
.color-chart-7B68EE{
	color: #7B68EE !important;
}
.color-chart-00FA9A{
	color: #00FA9A !important;
}
.color-chart-48D1CC{
	color: #48D1CC !important;
}
.color-chart-C71585{
	color: #C71585 !important;
}
.color-chart-191970{
	color: #191970 !important;
}
.color-chart-F5FFFA{
	color: #F5FFFA !important;
}
.color-chart-FFE4E1{
	color: #FFE4E1 !important;
}
.color-chart-FFE4B5{
	color: #FFE4B5 !important;
}
.color-chart-FFDEAD{
	color: #FFDEAD !important;
}
.color-chart-000080{
	color: #000080 !important;
}
.color-chart-FDF5E6{
	color: #FDF5E6 !important;
}
.color-chart-808000{
	color: #808000 !important;
}
.color-chart-6B8E23{
	color: #6B8E23 !important;
}
.color-chart-FFA500{
	color: #FFA500 !important;
}
.color-chart-FF4500{
	color: #FF4500 !important;
}
.color-chart-DA70D6{
	color: #DA70D6 !important;
}
.color-chart-EEE8AA{
	color: #EEE8AA !important;
}
.color-chart-98FB98{
	color: #98FB98 !important;
}
.color-chart-AFEEEE{
	color: #AFEEEE !important;
}
.color-chart-DB7093{
	color: #DB7093 !important;
}
.color-chart-FFEFD5{
	color: #FFEFD5 !important;
}
.color-chart-FFDAB9{
	color: #FFDAB9 !important;
}
.color-chart-CD853F{
	color: #CD853F !important;
}
.color-chart-FFC0CB{
	color: #FFC0CB !important;
}
.color-chart-DDA0DD{
	color: #DDA0DD !important;
}
.color-chart-B0E0E6{
	color: #B0E0E6 !important;
}
.color-chart-800080{
	color: #800080 !important;
}
.color-chart-663399{
	color: #663399 !important;
}
.color-chart-FF0000{
	color: #FF0000 !important;
}
.color-chart-BC8F8F{
	color: #BC8F8F !important;
}
.color-chart-4169E1{
	color: #4169E1 !important;
}
.color-chart-8B4513{
	color: #8B4513 !important;
}
.color-chart-FA8072{
	color: #FA8072 !important;
}
.color-chart-F4A460{
	color: #F4A460 !important;
}
.color-chart-2E8B57{
	color: #2E8B57 !important;
}
.color-chart-FFF5EE{
	color: #FFF5EE !important;
}
.color-chart-A0522D{
	color: #A0522D !important;
}
.color-chart-C0C0C0{
	color: #C0C0C0 !important;
}
.color-chart-87CEEB{
	color: #87CEEB !important;
}
.color-chart-6A5ACD{
	color: #6A5ACD !important;
}
.color-chart-708090{
	color: #708090 !important;
}
.color-chart-708090{
	color: #708090 !important;
}
.color-chart-FFFAFA{
	color: #FFFAFA !important;
}
.color-chart-00FF7F{
	color: #00FF7F !important;
}
.color-chart-4682B4{
	color: #4682B4 !important;
}
.color-chart-D2B48C{
	color: #D2B48C !important;
}
.color-chart-008080{
	color: #008080 !important;
}
.color-chart-D8BFD8{
	color: #D8BFD8 !important;
}
.color-chart-FF6347{
	color: #FF6347 !important;
}
.color-chart-40E0D0{
	color: #40E0D0 !important;
}
.color-chart-EE82EE{
	color: #EE82EE !important;
}
.color-chart-F5DEB3{
	color: #F5DEB3 !important;
}
.color-chart-FFFFFF{
	color: #FFFFFF !important;
}
.color-chart-F5F5F5{
	color: #F5F5F5 !important;
}
.color-chart-FFFF00{
	color: #FFFF00 !important;
}
.color-chart-9ACD32{
	color: #9ACD32 !important;
}
