<div id="content">

  <!-- widget grid -->
  <sa-widgets-grid>

    <!-- row -->
    <div class="row">

      <article class="col-sm-12 col-md-12 col-lg-12">
        <app-contagem-tempo-conclusao-segurado [calculo]="calculo" [segurado]="segurado" [isUpdating]=isUpdating
          [lastdateNascimento]=lastdateNascimento></app-contagem-tempo-conclusao-segurado>
      </article>

      <article class="col-sm-12 col-md-12 col-lg-12">
        <app-contagem-tempo-conclusao-periodos (periodosListRst)="reciverFeedback($event)"></app-contagem-tempo-conclusao-periodos>
        <div class="well">
          <p>
            <strong>*</strong> A coluna "Tempo Contribuição Convertido" visualiza período por período, sem a supressão
            de eventuais concomitâncias, após a incidência dos respectivos multiplicadores. Na coluna “Tempo de
            contribuição Convertido” já está considerada a aplicação dos fatores multiplicadores.
            A supressão de períodos concomitantes é efetuada preservando-se a contagem do tempo em que houve a
            aplicação de fator multiplicador mais vantajoso. Tanto a supressão quanto a aplicação de fatores
            multiplicadores são considerados nas conclusões finais na parte inferior desta página.
          </p>
        </div>
      </article>

      <article class="col-sm-12 col-md-12 col-lg-12">
        <!-- Widget ID (each widget will need unique ID)-->
        <sa-widget [colorbutton]="false" [editbutton]="false" [togglebutton]="false" [deletebutton]="false"
          [fullscreenbutton]="false" [custombutton]="false">
          <header>
            <span class="widget-icon">
              <i class="fa fa-bar-chart-o"></i>
            </span>
            <h2>Gráfico</h2>
          </header>
          <div *ngIf="!getPeriodosList">
            <app-contagem-tempo-conclusao-graph [periodosList]="periodosList"></app-contagem-tempo-conclusao-graph>
          </div>
          <div *ngIf="getPeriodosList" class="alert alert-info text-align-center no-padding">
              <i class="fa fa-gear fa-3x fa-spin"></i>
            </div>
        </sa-widget>
      </article>

      <article class="col-sm-12 col-md-12 col-lg-12">
        <!-- Widget ID (each widget will need unique ID)-->
        <sa-widget [colorbutton]="false" [editbutton]="false" [togglebutton]="false" [deletebutton]="false"
          [fullscreenbutton]="false" [custombutton]="false">
          <header>
            <span class="widget-icon">
              <i class="fa fa-clock-o"></i>
            </span>
            <h2>Conclusões</h2>
          </header>
          <div *ngIf="!getPeriodosList">
            <div class="widget-body no-padding heigth-auto">
              <app-contagem-tempo-conclusao [calculo]="calculo" [segurado]="segurado" [periodosList]="periodosList"
                (limitesTempoTotal)="reciverFeedbackLastdate($event)" ></app-contagem-tempo-conclusao>
            </div>
          </div>
          <div *ngIf="getPeriodosList" class="alert alert-info text-align-center no-padding">
            <i class="fa fa-gear fa-3x fa-spin"></i>
          </div> 
        </sa-widget>
      </article>
    </div>
    <!-- end row -->
  </sa-widgets-grid>
  <!-- end widget grid -->
</div>