<div id="content">

  <!-- widget grid -->
  <sa-widgets-grid>

    <!-- row -->
    <div class="row">

      <article class="col-sm-12 col-md-12 col-lg-12">
        <sa-widget [colorbutton]="false" [editbutton]="false">
          <header>
            <span class="widget-icon">
              <i class="fa fa-edit"></i>
            </span>
            <h2>Dados do segurado</h2>
          </header>
          <!-- widget div-->
          <div>
            <!-- widget content -->
            <div class="widget-body">
              <ul class="list-unstyled">
                <li>
                  <b>Nome:</b> FARLEY FABIANO DE SOUZA FERRAZ</li>
                <li>
                  <b>CPF:</b> 811526716-34</li>
                <li>
                  <b>Data de nascimento:</b> 01/06/1970 - 47 anos</li>
                <li>
                  <b>Sexo:</b> Masculino</li>
              </ul>
              <div class="form-actions">
                <div class="row">
                  <div class="col-md-12">
                    <button type="submit" class="btn btn-labeled btn-primary">
                      <span class="btn-label">
                        <i class="fa fa-pencil"></i>
                      </span> Editar
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </sa-widget>
      </article>









      <article class="col-sm-12 col-md-12 col-lg-12">

        <!-- Widget ID (each widget will need unique ID)-->
        <sa-widget [colorbutton]="false" [editbutton]="false">
          <!-- widget options:
              usage: <sa-widget [editbutton]="false">
    
              [colorbutton]="false"
              [editbutton]="false"
              [togglebutton]="false"
              [deletebutton]="false"
              [fullscreenbutton]="false"
              [custombutton]="false"
              [collapsed]="true"
              [sortable]="false"
    
              -->
          <header>
            <span class="widget-icon">
              <i class="fa fa-gear"></i>
            </span>
            <h2>Dados do segurado</h2>

          </header>

          <!-- widget div-->
          <div>

            <!-- widget content -->
            <div class="widget-body" style="min-height: auto;">

              <div class="row">
                <div class="col-md-12">
                  <button type="submit" class="btn btn-labeled btn-default margin-right-13">
                    <span class="btn-label">
                      <i class="fa fa-user"></i>
                    </span> Selecionar segurado
                  </button>

                  <button type="submit" class="btn btn-labeled btn-default margin-right-13">
                    <span class="btn-label">
                      <i class="fa fa-calculator"></i>
                    </span> Informações de cálculos
                  </button>

                  <button type="submit" class="btn btn-labeled btn-default margin-right-13">
                    <span class="btn-label">
                      <i class="fa fa-dollar"></i>
                    </span> Valores de contribuição
                  </button>

                  <button type="submit" class="btn btn-labeled btn-default margin-right-13">
                    <span class="btn-label">
                      <i class="fa fa-print"></i>
                    </span> Imprimir tudo
                  </button>
                </div>
              </div>

            </div>
          </div>
        </sa-widget>
      </article>




      <article class="col-sm-12 col-md-12 col-lg-12">
        <!-- Widget ID (each widget will need unique ID)-->
        <sa-widget [colorbutton]="false" [editbutton]="false">
          <header>
            <span class="widget-icon">
              <i class="fa fa-table"></i>
            </span>
            <h2>Grupos de Cálculos</h2>
          </header>
          <div>
            <div class="widget-body no-padding">
              <sa-datatable [options]="{
                    colReorder: true,
                  ajax: 'assets/api/tables/datatables.standard.json',
                  columns: [ {data: 'especie'}, {data: 'inicio_beneficio'}, {data: 'contribuicao_primaria'}, {data: 'contribuicao_secundaria'}, {data: 'dib'}, {data: 'data_criacao'} ] }"
                paginationLength="true" tableClass="table table-striped table-bordered table-hover" width="100%">
                <thead>
                  <tr>
                    <th>Espécie</th>
                    <th>Período para início de benefício</th>
                    <th>Contribuição Primária (Ano/Mês/Dia)</th>
                    <th>Contribuição Secundária (Ano/Mês/Dia)</th>
                    <th>DIB</th>
                    <th>Data de Criação</th>
                  </tr>
                </thead>
              </sa-datatable>
            </div>
          </div>
        </sa-widget>
      </article>





      <article class="container-fluid">
        <table class="table table-hover table-bordered">
          <thead>
            <tr>
              <th>
                Descrição
              </th>
              <th>
                Ação
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <p>Exportar para o cálculo de Benefícios Atrasados</p>
              </td>
              <td>
                <button type="submit" class="btn btn-labeled btn-primary pull-right">
                  <span class="btn-label">
                    <i class="fa fa-link"></i>
                  </span> EXPORTAR
                </button>
              </td>
            </tr>
            <tr>
              <td>
                <p>Exportar para o cálculo de Benefícios Atrasados - Teto 12/98 e 12/2003</p>
              </td>
              <td>
                <button type="submit" class="btn btn-labeled btn-primary pull-right">
                  <span class="btn-label">
                    <i class="fa fa-link"></i>
                  </span> EXPORTAR
                </button>
              </td>
            </tr>
            <tr>
              <td>
                <p>Calcular com base na tabela do INPC vigente na data da DIB</p>
              </td>
              <td>
                <button type="submit" class="btn btn-labeled btn-primary pull-right">
                  <span class="btn-label">
                    <i class="fa fa-calculator"></i>
                  </span> CÁLCULAR
                </button>
              </td>
            </tr>
            <tr>
              <td>
                <p>Mostrar Reajustes Administrativos</p>
              </td>
              <td>
                <button type="submit" class="btn btn-labeled btn-primary pull-right">
                  <span class="btn-label">
                    <i class="fa fa-eye"></i>
                  </span> MOSTRAR
                </button>
              </td>
            </tr>
            <tr>
              <td>
                <p>Mostrar Reajustes Administrativos</p>
              </td>
              <td>
                <button type="submit" class="btn btn-labeled btn-primary pull-right">
                  <span class="btn-label">
                    <i class="fa fa-print"></i>
                  </span> IMPRIMIR
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </article>




      <article class="col-sm-12 col-md-12 col-lg-12">
        <sa-widget [colorbutton]="false" [editbutton]="false">
          <header>
            <span class="widget-icon">
              <i class="fa fa-edit"></i>
            </span>
            <h2>Aposentadoria por tempo de contribuição Entre 05/04/1991 e 15/12/1998</h2>
          </header>
          <!-- widget div-->
          <div>
            <!-- widget content -->
            <div class="widget-body">
              <ul class="list-unstyled">
                <li>
                  <b>Nome:</b> FARLEY FABIANO DE SOUZA FERRAZ</li>
                <li>
                  <b>CPF:</b> 811526716-34</li>
                <li>
                  <b>Data de nascimento:</b> 01/06/1970 - 47 anos</li>
                <li>
                  <b>Sexo:</b> Masculino</li>
              </ul>
              <div class="form-actions">
                <div class="row">
                  <div class="col-md-12">
                    <button type="submit" class="btn btn-labeled btn-primary">
                      <span class="btn-label">
                        <i class="fa fa-pencil"></i>
                      </span> Editar
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </sa-widget>
      </article>





      <article class="col-sm-12 col-md-12 col-lg-12">

        <sa-widget [colorbutton]="false" [editbutton]="false">

          <header>
            <span class="widget-icon">
              <i class="fa fa-percent"></i>
            </span>
            <h2>Adicionar informações para cálculos</h2>

          </header>

          <div>

            <div class="widget-body">

              <form class="form-horizontal">

                <fieldset>

                  <div class="form-group">
                    <label class="col-md-2 control-label" for="select-1">Data do Início do Benefício:</label>
                    <div class="col-md-8">
                      <input class="form-control" type="text">
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-md-2 control-label" for="select-2">Período do início do benefício:</label>
                    <div class="col-md-8">
                      <select class="form-control" id="select-1">
                        <option>-- Selecione --</option>
                        <option>Anterior a 05/10/1988</option>
                        <option>Entre 05/10/1988 e 04/04/1991</option>
                        <option>Entre 05/04/1991 e 15/12/1998</option>
                        <option>Entre 16/12/1998 e 28/11/1999</option>
                        <option>A partir de 29/11/1999</option>
                        <option>Período PBC Completo</option>
                      </select>
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-md-2 control-label" for="select-2">Espécie:</label>
                    <div class="col-md-8">
                      <select class="form-control" id="select-1">
                        <option>-- Selecione --</option>
                        <option>Aposentadoria especial</option>
                        <option>Aposentadoria especial da Pessoa com Deficiência Grave</option>
                        <option>Aposentadoria especial da Pessoa com Deficiência Leve</option>
                        <option>Aposentadoria especial da Pessoa com Deficiência Moderada</option>
                        <option>Aposentadoria especial por Idade da Pessoa com Deficiência</option>
                        <option>Aposentadoria por idade - Trabalhador Rural</option>
                        <option>Aposentadoria por idade - Trabalhador Urbano</option>
                        <option>Aposentadoria por invalidez Previdenciária ou Pensão por Morte</option>
                        <option>Aposentadoria por tempo de contribuição</option>
                        <option>Aposentadoria por tempo de serviço de professor</option>
                        <option>Auxílio Acidente - 30%</option>
                        <option>Auxílio Acidente - 40%</option>
                        <option>Auxílio Acidente - 60%</option>
                        <option>Auxílio Acidente previdenciário - 50%</option>
                        <option>Auxílio Doença </option>
                        <option>LOAS</option>
                        <option>LOAS - Benefício no valor de um salário mínimo</option>

                      </select>
                    </div>
                  </div>

                  <h3>Tempo de contribuição</h3>

                  <div class="form-group">
                    <label class="col-md-2 control-label" for="select-1">Contribuição Primária:</label>
                    <div class="col-md-2">
                      <input class="form-control" placeholder="Anos" type="text">
                    </div>
                    <div class="col-md-2">
                      <input class="form-control" placeholder="Meses" type="text">
                    </div>
                    <div class="col-md-2">
                      <input class="form-control" placeholder="Dias" type="text">
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-md-2 control-label" for="select-1">Contribuição Secundária:</label>
                    <div class="col-md-2">
                      <input class="form-control" placeholder="Anos" type="text">
                    </div>
                    <div class="col-md-2">
                      <input class="form-control" placeholder="Meses" type="text">
                    </div>
                    <div class="col-md-2">
                      <input class="form-control" placeholder="Dias" type="text">
                    </div>
                  </div>

                </fieldset>


                <div class="form-actions">
                  <div class="row">
                    <div class="col-md-12">
                      <button type="submit" class="btn btn-labeled btn-primary">
                        <span class="btn-label">
                          <i class="fa fa-save"></i>
                        </span> Inserir
                      </button>
                    </div>
                  </div>
                </div>

              </form>
            </div>
          </div>
        </sa-widget>
      </article>




      <article class="col-sm-12 col-md-12 col-lg-12">


        <!-- Widget ID (each widget will need unique ID)-->
        <sa-widget [colorbutton]="false" [editbutton]="false">
          <header>
            <span class="widget-icon">
              <i class="fa fa-table"></i>
            </span>
            <h2>Listagem de segurados</h2>
          </header>
          <div>
            <div class="widget-body no-padding">
              <sa-datatable [options]="{
                    colReorder: true,
                  ajax: 'assets/api/tables/datatables.standard.json',
                  columns: [ {data: 'actions-calc'}, {data: 'nome'}, {data: 'tipo'}, {data: 'documento'}, {data: 'data_nascimento'}, {data: 'data_filiacao'}, {data: 'data_cadasctro'} ] }"
                paginationLength="true" tableClass="table table-striped table-bordered table-hover" width="100%">
                <thead>
                  <tr>
                    <th>Ações</th>
                    <th>Nome</th>
                    <th>Tipo</th>
                    <th>Documento</th>
                    <th>Data de nascimento</th>
                    <th>Data de filiação</th>
                    <th>Data de cadastro</th>
                  </tr>
                </thead>
              </sa-datatable>
            </div>
          </div>
        </sa-widget>
      </article>

    </div>

    <!-- end row -->

  </sa-widgets-grid>

  <!-- end widget grid -->

</div>