<!-- Widget ID (each widget will need unique ID)-->
<sa-widget [colorbutton]="false" [editbutton]="false" [deletebutton]="false" class="no-margin">
  <header>
    <span class="widget-icon">
      <i class="fa fa-edit"></i>
    </span>
    <h2>Editar Segurado</h2>
  </header>

  <!-- widget div-->
    <!-- widget content -->
    <div class="widget-body-custom no-padding no-margin">
      <app-beneficios-segurados-form
        [errors]="Errors"
        [formData]="form"
        (onSubmit)="submit($event)"
      ></app-beneficios-segurados-form>
    </div>
</sa-widget>
