<div id="content">
  <div class="row">
    <article class="col-sm-12 col-md-12 col-lg-12">

      <!-- Widget ID (each widget will need unique ID)-->
      <sa-widget [colorbutton]="false" [editbutton]="false" [deletebutton]="false">
        <header>
          <span class="widget-icon">
            <i class="fa fa-edit"></i>
          </span>
          <h2>Editar segurado</h2>

        </header>

        <!-- widget div-->
        <div>

          <!-- widget content -->
          <div class="widget-body">

            <app-beneficios-segurados-form [errors]="Errors" [formData]="form" (onSubmit)="submit($event)"></app-beneficios-segurados-form>

          </div>
        </div>
      </sa-widget>
    </article>
  </div>
</div>