<!-- Widget ID (each widget will need unique ID)-->
<sa-widget [colorbutton]="false" [editbutton]="false" [deletebutton]="false" class="mb-3">
  <header>
    <span class="widget-icon">
      <i class="fa fa-list"></i>
    </span>
    <h2>Lista de Cálculos</h2>
  </header>
    <div class="widget-body no-padding no-margin">
      <sa-datatable paginationLength="true"
                tableClass="table table-striped table-bordered table-hover table-condensed" [options]="datatableOptions" width="100%">
        <thead>
          <tr>
            <th>Ações</th>
            <th>Data do Cálculo</th>
            <th>Data do Ajuizamento da Ação</th>
            <th>Data da Citação</th>
            <th>DIB Devido</th>
            <th>RMI do Benefício Devido</th>
            <th>DIB Recebidos</th>
            <th>RMI dos Benefícios Recebidos</th>
          </tr>
        </thead>
      </sa-datatable>
    </div>
</sa-widget>