<table class="table table-bordered table-hover" *ngIf="!isUpdating">
  <thead>
    <tr>
      <th colspan="2">
        Regra de Transição do art. 16 da EC nº 103/2019 (Idade Mínima
        Progressiva)
      </th>
    </tr>
    <tr *ngIf="conclusoesRegra2.status">
      <th>
        <span class="pull-right">Tipo</span>
      </th>
      <th>
        Descrição
      </th>
    </tr>
  </thead>
  <tbody *ngIf="conclusoesRegra2.status">
    <tr>
      <td width="50%">
        <span class="pull-right font-bold">Data de Início do Benefício</span>
      </td>
      <td>{{ conclusoesRegra2.dataDib }}</td>
    </tr>
    <tr>
      <td width="50%">
        <span class="pull-right font-bold">Idade na Data de Início do Benefício </span>
      </td>
      <!-- <td>{{ conclusoesRegra2.idadeDib }}</td> -->
      <td>{{ conclusoesRegra2.idadeDibMoment }}</td>
    </tr>
    <tr>
      <td width="50%">
        <span class="pull-right font-bold">Tempo de Contribuição Necessário</span>
      </td>
      <td>{{ conclusoesRegra2.tempoDib }}</td>
    </tr>
    <tr>
      <td width="50%">
        <span class="pull-right font-bold">Percentual da Média Salarial</span>
      </td>
      <td>{{ conclusoesRegra2.formula }}</td>
    </tr>
  </tbody>
</table>
