<table
class="table table-bordered table-hover"
*ngIf="!isUpdating"
>
<thead>
  <tr>
    <th colspan="2">
      Regra de Transição do art. 16 da EC nº 103/2019 (idade mínima progressiva)
    </th>
  </tr>
  <tr *ngIf="conclusoesRegra2.status">
    <th>
        <span class="pull-right">Tipo</span>
    </th>
    <th>
      Descrição
    </th>
  </tr>
</thead>

<tbody>
  <ng-container
    *ngIf="
      conclusoesRegra2.status;
      then regra2Aplica;
      else regra2NaoAplica
    "
  >
  </ng-container>
  <ng-template #regra2Aplica>
    <tr>
      <td width="50%">
        <span class="pull-right font-bold"
          >Fórmula para percentual</span
        >
      </td>
      <td>{{ conclusoesRegra2.formula }}</td>
    </tr>
    <tr>
      <td width="50%">
        <span class="pull-right font-bold">Percentual</span>
      </td>
      <td>{{ conclusoesRegra2.percentual }} %</td>
    </tr>
    <tr>
      <td width="50%">
        <span class="pull-right font-bold">Valor</span>
      </td>
      <td>{{ conclusoesRegra2.valorString }}</td>
    </tr>
  </ng-template>
  <ng-template #regra2NaoAplica>
    <tr>
      <td colspan="2">
        <div
          class="alert alert-warning margin-top-10"
          role="alert"
        >
          <p>{{ conclusoesRegra2.msg }}</p>
        </div>
      </td>
    </tr>
  </ng-template>
</tbody>
</table>