<div id="content">
  <div class="row">
    <article class="col-sm-12 col-md-12 col-lg-12">
      <h1>Cálculo de Regime Geral da Previdência Social</h1>
      <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#/rgps/rgps-segurados"> Criar/Buscar Segurado</a></li>
          <li class="breadcrumb-item"><a href="#/rgps/rgps-calculos/{{idSegurado}}"> Lista de Cálculos</a></li>
          <li class="breadcrumb-item active">Informações para o cálculo</li>
        </ol>
      <!-- Widget ID (each widget will need unique ID)-->
      <sa-widget [colorbutton]="false" [editbutton]="false"  [deletebutton]="false">
        <header>
          <span class="widget-icon">
            <i class="fa fa-eye"></i>
          </span>
          <h2>Editar Cálculo</h2>

        </header>

        <!-- widget div-->
        <div>

          <!-- widget content -->
          <div *ngIf = "!isUpdating" class="widget-body">

            <app-rgps-calculos-form [errors]="Errors" [formData]="form" [isEdit]="edit_mode" (onSubmit)="submit($event)"></app-rgps-calculos-form>

          </div>
        </div>
      </sa-widget>
    </article>
  </div>
</div>