@media screen and (max-width: 1024px) {
  .min-height-importador {
    min-height: 350px;
  }
}

@media screen and (min-width: 1024px) {
  .min-height-importador {
    min-height: 410px;
  }
}

@media screen and (min-width: 1500px) {
  .min-height-importador {
    min-height: 550px;
  }
}
