<!-- Widget ID (each widget will need unique ID)-->
<sa-widget [colorbutton]="false" [editbutton]="false" [deletebutton]="false">
	<header>
	  <span class="widget-icon">
	    <i class="fa fa-eye"></i>
	  </span>
	  <h2>Contribuição anterior a {{dataDecadente.getMonth()+1}}/{{dataDecadente.getFullYear()}}</h2>
	</header>
    <!-- widget div-->
    <div>
      <!-- widget content -->
      <div class="widget-body">
      	<h5  class="section-title">Contribuições atrasadas</h5>
        <p>
          Favor preencher a data inicial e a data final das contribuições atrasadas que pretende recolher
        </p>
<form class="form-horizontal">
	<fieldset>
		<div class="form-group">
		  <label class="col-md-2 control-label">Competência inicial</label>
		  <div class="col-md-3">
		    <input class="form-control" [(ngModel)]="competenciaInicial" (change)="errors.clear('competenciaInicial')" [ngModelOptions]="{standalone: true}" [textMask]="{mask: dateMask}" placeholder="(mm/aaaa)" type="text">
		    <small *ngIf="errors.has('competenciaInicial')" class="text-danger">{{ errors.get('competenciaInicial') }}</small>
		  </div>
		  <label class="col-md-2 control-label">Competência final</label>
		  <div class="col-md-3">
		    <input class="form-control" [(ngModel)]="competenciaFinal" [ngModelOptions]="{standalone: true}" (change)="errors.clear('competenciaFinal')" [textMask]="{mask: dateMask}" placeholder="(mm/aaaa)" type="text">
		    <small *ngIf="errors.has('competenciaFinal')" class="text-danger">{{ errors.get('competenciaFinal') }}</small>
		  </div>
		</div>
		<div class="alert alert-info">
		  <p>
		    Para fins de cálculo do valor a ser recolhido a título de atrasados a LC nº. 128/08 determina a realização de uma média dos
		    salários-de-contribuição posteriores a Julho de 1994. Favor preencher abaixo os salários-de-contribuição
		    do segurado existentes a partir desta data para apuração da base de cálculo das contribuições em atraso.
		    <a (click) = "showMessage = !showMessage">
		      <strong>Veja o que dispõe o § 1º do art. 45 da Lei nº. 8212.</strong>
		    </a>
		  </p>
		  <p *ngIf="showMessage">Art. 45 (...)
§ 2º Para apuração e constituição dos créditos a que se refere o § 1o deste artigo, a Seguridade Social utilizará como base de incidência o valor da média aritmética simples dos maiores salários-de-contribuição, reajustados, correspondentes a 80% (oitenta por cento) de todo o período contributivo decorrido desde a competência julho de 1994.
<br>
§4º Sobre os valores apurados na forma dos §§ 2o e 3o deste artigo incidirão juros moratórios de 0,5% (zero vírgula cinco por cento) ao mês, capitalizados anualmente, limitados ao percentual máximo de 50% (cinqüenta por cento), e multa de 10% (dez por cento).</p>
		</div>
		<div class="form-group">
			<h5 class="section-title">Contribuições utilizadas na base do cálculo</h5>
		  <label class="col-md-2 control-label">Contribuição de</label>
		  <div class="col-md-3">
		    <input class="form-control" [(ngModel)]="contribuicaoDe" [ngModelOptions]="{standalone: true}" [textMask]="{mask: dateMask}" (change)="errors.clear('contribuicaoDe')" placeholder="(mm/aaaa)" type="text"  (keyup)="moveNext($event, 7, 'contribuicaoAte')" id="contribuicaoDe">
		    <small *ngIf="errors.has('contribuicaoDe')" class="text-danger">{{ errors.get('contribuicaoDe') }}</small>
		  </div>
		  <label class="col-md-2 control-label">Contribuição até</label>
		  <div class="col-md-3">
		    <input class="form-control" [(ngModel)]="contribuicaoAte" [ngModelOptions]="{standalone: true}" [textMask]="{mask: dateMask}" (change)="errors.clear('contribuicaoAte')" placeholder="(mm/aaaa)" (keyup)="moveNext($event, 7, 'salarioContribuicao')" type="text" id="contribuicaoAte">
		    <small *ngIf="errors.has('contribuicaoAte')" class="text-danger">{{ errors.get('contribuicaoAte') }}</small>
		  </div>
		</div>
		<div class="form-group">
		  <label class="col-md-2 control-label">Salário de contribuição</label>
		  <div class="col-md-3">
		    <input class="form-control" currencyMask [(ngModel)]="salarioContribuicao" [ngModelOptions]="{standalone: true}" (change)="errors.clear('salarioContribuicao')"  maxlength="12" placeholder="R$" type="text" id="salarioContribuicao">
		    <small *ngIf="errors.has('salarioContribuicao')" class="text-danger">{{ errors.get('salarioContribuicao') }}</small>
		  	<div class="checkbox">
          		<label>
            		<input type="checkbox" name = "jurosCheckbox" [(ngModel)]="chkJuros" class="checkbox">
                	<span>Desmarque para calcular sem juros</span>
            	</label>
          	</div>
		  </div>
		</div>
	</fieldset>
	<div class="form-actions">
		<div class="row">
		  <div class="col-md-12">
		  	<button (click)="voltar()" type="submit" class="btn btn-labeled btn-primary">
		      <span class="btn-label">
		        <i class="fa fa-backward"></i>
		      </span> Voltar
		    </button>
		    <button (click)="submit()" type="submit" class="btn btn-labeled btn-primary">
		      <span class="btn-label">
		        <i class="fa fa-pencil"></i>
		      </span> Preencher
		    </button>
		  </div>
		</div>
	</div>
</form>
</div>
</div>
</sa-widget>