<!-- Widget ID (each widget will need unique ID)-->
<sa-widget [colorbutton]="false" [editbutton]="false" [deletebutton]="false">
  <header>
    <span class="widget-icon">
      <i class="fa fa-table"></i>
    </span>
    <h2>Período a Indenizar</h2>
  </header>
  <!-- widget div-->
  <div>
    <!-- widget content -->
    <div class="widget-body">
      <p class="mb-4">
        Preencher os campos abaixo com as datas das competências inicial e final
        do período a ser indenizado:
      </p>
      <form class="form-horizontal">
        <fieldset>
          <div class="form-group">
            <label class="col-md-2 col-md-2-custom control-label" 
            style="padding-left: 0px;padding-right: 0px"
            >Competência Inicial:</label>
            <div class="col-md-2 col-md-2-custom">
              <input
                class="form-control"
                id="competenciaInicial"
                [(ngModel)]="competenciaInicial"
                (change)="
                  errors.clear('competenciaInicial');
                  validateInputs(1, 'competenciaInicial')
                "
                [ngModelOptions]="{ standalone: true }"
                [textMask]="{ mask: dateMask }"
                placeholder="(MM/AAAA)"
                type="text"
                (keyup)="
                  moveNext($event, 7, 'competenciaFinal');
                  setIsFormContribuicoes();
                "
              />
              <small
                *ngIf="errors.has('competenciaInicial')"
                class="text-danger"
                >{{ errors.get("competenciaInicial") }}</small
              >
            </div>
            <label class="col-md-2 col-md-2-custom control-label"
            style="padding-left: 0px;padding-right: 0px"
            >Competência Final:</label>
            <div class="col-md-2 col-md-2-custom">
              <input
                class="form-control"
                id="competenciaFinal"
                [(ngModel)]="competenciaFinal"
                [ngModelOptions]="{ standalone: true }"
                (change)="
                  errors.clear('competenciaFinal');
                  validateInputs(1, 'competenciaFinal')
                "
                [textMask]="{ mask: dateMask }"
                placeholder="(MM/AAAA)"
                type="text"
                (keyup)="
                  moveNext($event, 7, 'atualizarAte'); setIsFormContribuicoes();
                "
              />
              <small
                *ngIf="errors.has('competenciaFinal')"
                class="text-danger"
                >{{ errors.get("competenciaFinal") }}</small
              >
            </div>
            <label class="col-md-2 col-md-2-custom-2 control-label"
            style="padding-left: 0px;padding-right: 0px"
              >Corrigir Monetariamente até:</label
            >
            <div class="col-md-2 col-md-2-custom">
              <input
                class="form-control"
                [(ngModel)]="atualizarAte"
                [ngModelOptions]="{ standalone: true }"
                [textMask]="{ mask: dateMask }"
                (change)="
                  errors.clear('atualizarAte');
                  validateInputs(1, 'atualizarAte')
                "
                (keyup)="setIsFormContribuicoes()"
                placeholder="(MM/AAAA)"
                type="text"
                id="atualizarAte"
              />
              <small *ngIf="errors.has('atualizarAte')" class="text-danger">{{
                errors.get("atualizarAte")
              }}</small>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</sa-widget>

<sa-widget [colorbutton]="false" [editbutton]="false" [deletebutton]="false">
  <header>
    <span class="widget-icon">
      <i class="fa fa-table"></i>
    </span>
    <h2>Informar Valor dos Salários de Contribuição</h2>
  </header>
  <!-- widget div-->
  <div>
    <!-- widget content -->
    <div class="widget-body widget-body-custom">
      <div class="row my-4">
        <div class="col-lg-offset-1 col-sm-4 col-md-6 col-lg-4">
          <button
            type="button"
            class="py-3 btn btn-block"
            (click)="setOptionEntradaDados($event, 'cnis')"
            [ngClass]="
              dadosPassoaPasso.type === 'cnis'
                ? 'btn-ieprev active btn-ieprev-rad '
                : 'btn-ieprev btn-ieprev-rad'
            "
          >
            <strong>Importar Salários de Contribuição do CNIS</strong>
          </button>
        </div>
        <div class="col-lg-offset-2 col-xs-4 col-sm-4 col-md-6 col-lg-4">
          <button
            type="button"
            class="py-3 btn btn-block"
            (click)="setOptionEntradaDados($event, 'manual')"
            [ngClass]="
              dadosPassoaPasso.type === 'manual'
                ? 'btn-ieprev active btn-ieprev-rad'
                : 'btn-ieprev btn-ieprev-rad'
            "
          >
            <strong>Inserir Salários de Contribuição Manualmente</strong>
          </button>
        </div>
      </div>

      <div class="row" *ngIf="dadosPassoaPasso.type === 'cnis'">
        <article class="col-md-12">
          <app-contribuicoes-importacao-cnis
            [atualizarAte]="atualizarAte"
            (contribuicoesEventOut)="setContribuicoesImport($event)"
          >
          </app-contribuicoes-importacao-cnis>
        </article>
      </div>

      <div class="row" *ngIf="dadosPassoaPasso.type === 'manual'">
        <article class="col-md-12">
          <sa-widget
            [colorbutton]="false"
            [editbutton]="false"
            [deletebutton]="false"
            class="mb-3"
          >
            <header>
              <span class="widget-icon">
                <i class="fa fa-money"></i>
              </span>
              <h2>Inserir Salários de Contribuição Manualmente</h2>
            </header>
            <div>
              <div class="widget-body widget-body-custom">
                <form class="form-horizontal">
                  <fieldset class="pb-3 pt-3">
                    <div class="form-group">
                      <label
                        class="control-label col-md-2"
                        for="contribuicaoDeMatriz"
                        >Contribuição de:</label
                      >
                      <div class="col-md-2">
                        <input
                          class="form-control"
                          [(ngModel)]="contribuicaoDeMatriz"
                          [ngModelOptions]="{ standalone: true }"
                          [textMask]="{ mask: dateMask }"
                          (change)="errors.clear('contribuicaoDeMatriz')"
                          placeholder="(MM/AAAA)"
                          type="text"
                          (keyup)="moveNext($event, 7, 'contribuicaoAteMatriz')"
                          id="contribuicaoDeMatriz"
                        />
                        <small
                          *ngIf="errors.has('contribuicaoDeMatriz')"
                          class="text-danger"
                          >{{ errors.get("contribuicaoDeMatriz") }}</small
                        >
                      </div>
                      <label
                        class="control-label col-md-2"
                        for="contribuicaoAteMatriz"
                        >Contribuição até:</label
                      >
                      <div class="col-md-2">
                        <input
                          class="form-control"
                          [(ngModel)]="contribuicaoAteMatriz"
                          [ngModelOptions]="{ standalone: true }"
                          [textMask]="{ mask: dateMask }"
                          (change)="errors.clear('contribuicaoAteMatriz')"
                          placeholder="(MM/AAAA)"
                          (keyup)="moveNext($event, 7, 'salarioContribuicao')"
                          type="text"
                          id="contribuicaoAteMatriz"
                        />
                        <small
                          *ngIf="errors.has('contribuicaoAteMatriz')"
                          class="text-danger"
                          >{{ errors.get("contribuicaoAteMatriz") }}</small
                        >
                      </div>
                      <label
                        class="col-md-2 control-label"
                        for="salarioContribuicao"
                        title="Valor do Salário de contribuição"
                        >Valor do SC:</label
                      >
                      <div class="col-md-2">
                        <input
                          class="form-control"
                          currencyMask
                          [(ngModel)]="salarioContribuicao"
                          [ngModelOptions]="{ standalone: true }"
                          (change)="errors.clear('salarioContribuicao')"
                          maxlength="12"
                          placeholder="R$"
                          type="text"
                          id="salarioContribuicao"
                        />
                        <small
                          *ngIf="errors.has('salarioContribuicao')"
                          class="text-danger"
                          >{{ errors.get("salarioContribuicao") }}</small
                        >
                      </div>
                    </div>
                  </fieldset>

                  <div class="form-actions p-0 mt-0">
                    <div class="row">
                      <div class="col-md-9">
                        <popover-content
                          #avisoContribuicao
                          title="ATENÇÃO!"
                          [closeOnClickOutside]="true"
                        >
                          <div
                            class="alert alert-danger bg-ieprev fade in bold text-justify"
                          >
                          O valor a ser indenizado será calculado com base na média dos 80% maiores salários de contribuição posteriores a julho de 1994, conforme disposto no artigo 45-A da Lei n. 8212, com redação dada pela Lei Complementar n. 128/08, aplicadas ainda as regras contidas no Decreto n. 3.048/1999, principalmente naquelas previstas no § 7º, do artigo 216 e no § 8º-A, do artigo 239.
<br><br>Afastando esta regra o Usuário poderá, aplicando antigo entendimento jurisprudencial, calcular o valor a ser indenizado, utilizando-se dos salários de contribuição com valor mínimo (salário mínimo). Neste caso deverá inserir os valores manualmente, estando ciente de que deverá se responsabilizar pela inserção dos valores, além que eventual recolhimento deverá ser avalizado pelo INSS.
                          </div>
                        </popover-content>
                        <button
                          type="button"
                          class="btn btn-labeled btn-info pull-left"
                          popoverPlacement="right"
                          [popoverOnHover]="true"
                          [popover]="avisoContribuicao"
                        >
                          <span class="btn-label">
                            <i class="fa fa-warning"></i>
                          </span>
                          ATENÇÃO!
                        </button>
                        <span class="pull-left p-2"
                          >(*) Preenchimento Obrigatório.</span
                        >
                      </div>
                      <div class="col-md-3">
                        <button
                          type="submit"
                          (click)="submit()"
                          class="btn btn-labeled btn-ieprev"
                        >
                          <span class="btn-label">
                            <i class="fa fa-plus"></i>
                          </span>
                          Inserir período
                        </button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </sa-widget>
        </article>
      </div>
    </div>
  </div>
</sa-widget>
