<!-- Widget ID (each widget will need unique ID)-->
<sa-widget [colorbutton]="false" [editbutton]="false"  [deletebutton]="false">
  <header>
    <span class="widget-icon">
      <i class="fa fa-table"></i>
    </span> 
    <h2>Cálculos Cadastrados</h2>
  </header>
  <div>
    <div class="widget-body no-padding">
      <sa-datatable [options]="datatableOptions"
        paginationLength="true" tableClass="table table-striped table-bordered table-hover" width="100%">
        <thead>
          <tr>
            <th>Ações</th>
            <th>Espécie</th>
            <th>Período para início de benefício</th>
            <th>Contribuição Primária (Ano/Mês/Dia)</th>
            <th>DIB</th>
            <th>Benefício</th>
            <th>Data de Criação</th>
            <th>Selecionar</th> 
          </tr>
        </thead>
      </sa-datatable>
    </div>
  </div>
</sa-widget>