<div id="content">
  <div class="row">
    <article class="col-sm-12 col-md-12 col-lg-12">
      <h1 *ngIf="type != 'AJ'">Benefícios Atrasados</h1>
      <h1 *ngIf="type == 'AJ'">Benefícios Atrasados - Revisão do Teto</h1>
      <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#/beneficios/beneficios-segurados"> Criar/Buscar Segurado</a></li>
          <li class="breadcrumb-item"><a href="#/beneficios/beneficios-calculos/{{seguradoId}}"> Lista de Cálculos</a></li>
          <li class="breadcrumb-item active">Informações para o Cálculo</li>
        </ol>
      <!-- Widget ID (each widget will need unique ID)-->
      <sa-widget [colorbutton]="false" [editbutton]="false" [deletebutton]="false">
        <header>
          <span class="widget-icon">
            <i class="fa fa-edit"></i>
          </span>
          <h2>Editar Cálculo</h2>

        </header>

        <!-- widget div-->
        <div>

          <!-- widget content -->
          <div *ngIf = "!isUpdating" class="widget-body">
            <app-beneficios-calculos-form 
                [errors]="Errors" 
                [formData]="form" 
                [type] = "calculoType"
                (onSubmit)="submit($event)"
            ></app-beneficios-calculos-form>
          </div>
        </div>
      </sa-widget>
    </article>
  </div>
</div>