.control-label{
    font-weight: 600;
}

.btn-info-custom-plan {
    color: #0d0d0d !important;
    background-color: #ffaa21 !important;
    border-color: #ffaa21 !important;
  }


  .modal-full {
    width:95%
}

.matriz-number {
    width: 100%;
    text-align: right !important;
    background-color: transparent;
    border-color: transparent;
}

.mt-8{
    margin-top: 8rem;
}