<div class="row my-4">
  <div class="col-sm-12 col-md-12 col-lg-12">
        <sa-widget
          [colorbutton]="false"
          [editbutton]="false"
          [deletebutton]="false"
          class="mb-3"
        >
          <header>
            <span class="widget-icon">
              <i class="fa fa-edit"></i>
            </span>
            <h2>Segurado Selecionado</h2>
          </header>
          <div>
            <div
              *ngIf="segurado.nome"
              class="widget-body p-0 widget-body-custom"
            >
              <ul class="list-inline m-0">
                <li class="px-5">
                  <strong>Nome:</strong> {{ segurado.nome }}
                </li>
                <li class="px-5" *ngIf="segurado.numero_documento">
                  <strong
                    >{{
                      segurado.getDocumentType(
                        segurado.id_documento
                      )
                    }}:</strong
                  >
                  {{ segurado.numero_documento }}
                </li>
                <li class="px-5">
                  <strong>Data de Nascimento:</strong>
                  {{ segurado.data_nascimento }}
                </li>
                <li class="px-5">
                  <strong>Sexo:</strong>
                  {{
                    segurado.sexo == "m" ? "Masculino" : "Feminino"
                  }}
                </li>
              </ul>
            </div>
          </div>
        </sa-widget>
  </div>
</div>
<!-- 
<div class="row my-4">
  <div class="col-sm-12 col-md-12 col-lg-12">
        <sa-widget
          [colorbutton]="false"
          [editbutton]="false"
          [deletebutton]="false"
          class="mb-3"
        >
          <header>
            <span class="widget-icon">
              <i class="fa fa-edit"></i>
            </span>
            <h2>Cáculo Selecionado</h2>
          </header>
          <div>
            <div
              *ngIf="calculo.data_pedido_beneficio"
              class="widget-body p-0 widget-body-custom"
            >
              <ul class="list-inline m-0">
                <li class="px-5">
                  <strong>Data de início do Beneficío:</strong> {{ calculo.data_pedido_beneficio }}
                </li>
                <li class="px-5">
                  <strong>Data de Nascimento:</strong> {{ calculo.tipo_seguro }}
                </li>
                 <li class="px-5">
                  <strong>RMI Atual:</strong> {{ formatMoeda(calculo.valor_beneficio) }}
                </li>
              </ul>
            </div>
          </div>
        </sa-widget>
  </div>
</div> -->



<div id="box-form-planejamento">
  <div class="col-xs-12 col-sm-12">
    <sa-widget
      [colorbutton]="false"
      [editbutton]="false"
      [togglebutton]="false"
      [deletebutton]="false"
      [fullscreenbutton]="false"
      [custombutton]="false"
      [collapsed]="false"
      [sortable]="false"
    >
      <header>
        <span class="widget-icon">
          <i class="fa fa-money"></i>
        </span>
        <h2>Informações do Benefício Fututo</h2>
      </header>
      <div>
        <div class="widget-body">
          <form class="form-horizontal">
            <fieldset>
              <div class="row">
                <div class="col-md-6 col-lg-6">
                  <div class="form-group">
                    <label class="control-label col-md-6"
                      >Data de Início de Benefício - DIB*:</label
                    >
                    <div class="col-md-3">
                      <input
                        class="form-control"
                        [textMask]="{ mask: dateMaskdiB }"
                        placeholder="DIB Futura"
                        type="text"
                        required
                        [(ngModel)]="model.data_futura"
                        [ngModelOptions]="{ standalone: true }"
                      />
                      <small
                        *ngIf="errors.has('dataFutura')"
                        class="text-danger"
                        >{{ errors.get("dataFutura") }}</small
                      >
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-lg-6">
                  <div class="form-group">
                    <label class="control-label col-md-2" for="especiePlan"
                      >Espécie:</label
                    >
                    <div class="col-md-10">
                      <select
                        name="especie"
                        [(ngModel)]="model.especie"
                        [ngModelOptions]="{ standalone: true }"
                        class="form-control"
                        id="especiePlan"
                      >
                        <option selected disabled>
                          - Selecione uma espécie -
                        </option>
                        <option>Aposentadoria Especial - 15 anos</option>
                        <option>Aposentadoria Especial - 20 anos</option>
                        <option>Aposentadoria Especial - 25 anos</option>
                        <option>Aposentadoria por Idade da PcD</option>
                        <option>
                          Aposentadoria por Idade - Trabalhador Rural
                        </option>
                        <option>
                          Aposentadoria por Idade - Trabalhador Urbano
                        </option>
                        <option>
                          Aposentadoria por Tempo de Contribuição da PcD
                          (Deficiência Grave)
                        </option>
                        <option>
                          Aposentadoria por Tempo de Contribuição da PcD
                          (Deficiência Moderada)
                        </option>
                        <option>
                          Aposentadoria por Tempo de Contribuição da PcD
                          (Deficiência Leve)
                        </option>
                        <option>
                          Aposentadoria por Tempo de Contribuição do(a)
                          Professor(a)
                        </option>
                        <option>Aposentadoria Programada</option>
                        <option>Aposentadoria Programada - Professor</option>
                      </select>
                      <small
                        *ngIf="errors.has('especie')"
                        class="text-danger"
                        >{{ errors.get("especie") }}</small
                      >
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6 col-lg-6">
                  <div class="form-group">
                    <label class="control-label col-md-6"
                      >Renda Mensal Inicial - RMI*:</label
                    >
                    <div class="col-md-3">
                      <input
                        class="form-control"
                        placeholder="Valor Benefício"
                        type="text"
                        currencyMask
                        maxlength="20"
                        required
                        [(ngModel)]="model.valor_beneficio"
                        [ngModelOptions]="{ standalone: true }"
                      />
                      <small
                        *ngIf="errors.has('valorBeneficio')"
                        class="text-danger"
                        >{{ errors.get("valorBeneficio") }}</small
                      >
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-lg-6">
                  <div class="form-group">
                    <label class="control-label col-md-2" for="especiePlan"
                      >Aliquota:</label
                    >
                    <div class="col-md-10">
                      <select
                        class="form-control"
                        required
                        [(ngModel)]="model.aliquota"
                        [ngModelOptions]="{ standalone: true }"
                        name="aliquota"
                      >
                        <option value="" selected="selected">
                          Selecione Aliquota
                        </option>
                        <option [value]="5">Contribuinte Individual - 5% - MEI</option>
                        <option  [value]="5">Contribuinte Facultativo- 5% - Dona(s) de Casa - Baixa Renda</option>
                        <option [value]="8">Trabalhador Rural a Serviço de Produtor Rural PF - 8%</option>
                        <option [value]="11">Contribuinte Individual - Prestador de Serviço para PJ - 11%</option> 
                        <option [value]="11">Contribuinte Individual - Autônomo - 11% - Regime Simplicado</option>
                        <option [value]="11">Contribuinte Facultativo - 11% - Regime Simplicado</option>
                        <option [value]="20">Contribuinte Individual- Autônomo - 20% </option>
                        <option [value]="20">Contribuinte Facultativo - 20%</option>
                        <option [value]="99">Contribuinte Empregado, Avulso e Doméstico - Progressiva e Cumulativa - 7,5% a 14%</option>
                      </select>
                      <small
                        *ngIf="errors.has('aliquota')"
                        class="text-danger"
                        >{{ errors.get("aliquota") }}</small
                      >
                    </div>
                  </div>
                </div>
              </div>
            </fieldset>
            <div class="form-actions row p-0 mt-0">
              <div class="col-md-6">
                <span class="pull-left p-2"
                  >(*) Preenchimento Obrigatório.</span
                >
              </div>
              <div class="col-md-6">
                <button
                  (click)="salvarPlanejamento($event)"
                  type="button"
                  class="btn btn-labeled btn-success pull-right"
                  *ngIf="!isEdit"
                >
                  <span class="btn-label"> <i class="fa fa-save"></i> </span
                  >&nbsp;&nbsp;&nbsp;&nbsp;Salvar&nbsp;&nbsp;&nbsp;&nbsp;
                </button>
                <button
                  (click)="updatePlan($event)"
                  type="button"
                  class="btn btn-labeled btn-success pull-right"
                  *ngIf="isEdit"
                >
                  <span class="btn-label"> <i class="fa fa-save"></i> </span
                  >&nbsp;&nbsp;Atualizar&nbsp;&nbsp;
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </sa-widget>
  </div>

  <article class="col-sm-12 col-md-12 col-lg-12">
    <sa-widget [colorbutton]="false" [editbutton]="false">
      <header>
        <span class="widget-icon">
          <i class="fa fa-building"></i>
        </span>
        <h2>Lista de Benefícios Futuros</h2>

        <!-- <button class="btn btn-labeled btn-warning pull-right" type="button"
          title="Planejamento Previdenciário." (click)="novoPlanejamento()">

          <span class="btn-label">
            <i class="fa fa-plus"></i>
          </span>
          Criar novo Planejamento
        </button> -->
      </header>

      <!-- form fim -->
      <sa-widget
        [colorbutton]="false"
        [editbutton]="false"
        class="no-margin"
        *ngIf="!isUpdatePlan"
      >
        <div>
          <div class="widget-body no-padding widget-body-custom hidden-dt">
            <!-- <sa-datatable
              [options]="datatableOptionsPlan"
              paginationLength="true"
              (selectedRowEvent)="getRow($event)"
              (updateRowEvent)="getupdatePlananejamentoList($event)"
              (deleteRowEvent)="deletarPlananejamentoList($event)"
              tableClass="table table-striped table-bordered table-hover table-condensed"
              width="100%"
            >
              <thead>
                <tr>
                  <th></th>
                  <th>Data Futura</th>
                  <th>Espécie</th>
                  <th>Valor Benefício</th>
                  <th>Alíquota</th>
                  <th class="text-center" width="75px">Ações</th>
                  <th class="text-center" width="75px">selecionar</th>
                </tr>
              </thead>
            </sa-datatable> -->
            <table
            *ngIf="!isUpdatePlan && planejamentoListData.length > 0"
            class="table table-striped table-bordered table-hover table-condensed"
            
          >
            <thead>
              <tr>
                <th>Data Futura</th>
                <th>Valor Benefício</th>
                <th>Alíquota</th>
                <th class="text-center" width="75px">Ações</th>
                <th class="text-center" width="75px">seleconar</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let planRow of planejamentoListData">
                <td>{{ formatReceivedDate(planRow.data_futura) }}</td>
                <td class="text-center">
                  {{ formatMoeda(planRow.valor_beneficio) }}
                </td>
                <td class="text-center">{{ planRow.aliquota }} %</td>
                <td class="text-center" width="120px">
                  <div class="btn-group">
                    <button
                      type="button"
                      class="btn btn-xs btn-primary"
                      id="planejar{{ planRow.id }}"
                      (click)="planejar(planRow.id)"
                      title="Planejar"
                    >
                      <i class="fa fa-share-square fa-1-7x"></i>
                    </button>
                    <button
                      type="button"
                      class="btn btn-xs btn-warning"
                      id="editar{{ planRow.id }}"
                      (click)="getupdatePlananejamentoList(planRow.id)"
                      title="Editar"
                    >
                      <i class="fa fa-edit fa-1-7x"></i>
                    </button>
                    <button
                      type="button"
                      class="btn btn-xs btn-danger"
                      id="deletar{{ planRow.id }}"
                      (click)="deletarPlananejamentoList(planRow.id)"
                      title="Excluir"
                    >
                      <i class="fa fa-times fa-1-7x"></i>
                    </button>
                  </div>
                </td>
                <td class="align-center">
                      <input
                        (click)="getRow(planRow.id)" 
                        type="checkbox"
                        id="{{planRow.id}}-checkbox"
                        class="checked-row-one "
                        [value]="planRow.id" />
                </td>
              </tr>
            </tbody>
          </table>
          </div>
        </div>
      </sa-widget>
      <!-- fim da lista -->
    </sa-widget>
  </article>
</div>

<!-- 
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="row">
      <div class="col-sm-4">
        <div
          class="form-group"
          [ngClass]="{
            'has-success': dataFutura.valid && activeStep.submitted,
            'has-error': !dataFutura.valid && activeStep.submitted,
            'has-error': errors.has('dataFutura')
          }"
        >
          <div class="input-group">
            <span class="input-group-addon"
              ><i class="fa fa-calendar fa-lg fa-fw"></i
            ></span>
            <input
              class="form-control input-lg"
              [textMask]="{ mask: dateMaskdiB }"
              placeholder="DIB Futura"
              type="text"
              name="dataFutura"
              #dataFutura="ngModel"
              required
              [(ngModel)]="model.data_futura"
            />
          </div>
          <span
            [class.hidden]="dataFutura.valid || !activeStep.submitted"
            class="help-block"
            *ngIf="errors.has('dataFutura')"
            class="text-danger"
            >{{ errors.get("dataFutura") }}> Favor entrar com uma data
            válida.
          </span>
        </div>
      </div>
      <div class="col-sm-4">
        <div
          class="form-group"
          [ngClass]="{
            'has-success': valorBeneficio.valid && activeStep.submitted,
            'has-error': !valorBeneficio.valid && activeStep.submitted
          }"
        >
          <div class="input-group">
            <span class="input-group-addon"
              ><i class="fa fa-money fa-lg fa-fw"></i
            ></span>
            <input
              class="form-control input-lg"
              placeholder="Valor Benefício"
              type="text"
              name="valorBeneficio"
              #valorBeneficio="ngModel"
              currencyMask
              maxlength="20"
              required
              [(ngModel)]="model.valor_beneficio"
            />
          </div>
          <span
            [class.hidden]="valorBeneficio.valid || !activeStep.submitted"
            class="help-block"
          >
            Favor entrar com dados válidos.
          </span>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <div
            class="input-group"
            [ngClass]="{
              'has-success': aliquota.valid && activeStep.submitted,
              'has-error': !aliquota.valid && activeStep.submitted
            }"
          >
            <span class="input-group-addon"
              ><i class="fa fa-external-link-square fa-lg fa-fw"></i
            ></span>
            <select
              class="form-control input-lg"
              required
              [(ngModel)]="model.aliquota"
              #aliquota="ngModel"
              name="aliquota"
            >
              <option value="" selected="selected">
                Selecione Aliquota
              </option>
              <option [value]="5">Fixo - 5%</option>
              <option [value]="11">Fixo - 11%</option>
              <option [value]="20">Fixo - 20%</option>
              <option [value]="99">Cumulativo - 7,5% a 14%</option>
            </select>
          </div>
        </div>
      </div>

      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <button
          type="button"
          class="btn btn-primary btn-block"
          (click)="salvarPlanejamento()"
        >
          Adicionar
        </button>
      </div>
    </div>
  </div>
</div> -->

<!-- 
      <accordion class="smart-accordion-red panel-group" [closeOthers]="true" data-toggle="modal"
        data-target="#planejamento">
        <accordion-group [isOpen]="false" #grupoPlanejamento>
          <h4 class="panel-title" accordion-heading>
            <a>
              <strong id='tituloCalculo' style="color: #f5f5f5;"> Informações</strong>
              <i class="fa fa-gear fa-1-9x fa-spin txt-color-red pull-right" *ngIf="isUpdatePlan"></i>
              <button *ngIf="!isUpdatePlan" class="btn btn-labeled btn-info pull-right" (click)="verificaPlano()"
                type="button" title="Planejamento Previdenciário." style="height: 25px">
                &nbsp;&nbsp;
                <span class="widget-icon">
                  <i class="fa fa-list"></i>
                </span>

                <i *ngIf="!isUpdatePlan" class="pull-right fa fa-lg p-1" [ngClass]="{
                    'fa-angle-down': grupoPlanejamento?.isOpen,
                    'fa-angle-up': !grupoPlanejamento?.isOpen
                    }"></i>&nbsp;&nbsp;Planejamento
              </button>
            </a>
          </h4>

          <div class="no-padding no-margin">
            <div id="panejamentoList0001" class="boxCalculo row">
              

            </div> 
            <div class="row">
              <div class="col-md-12">
              </div>
            </div>
          </div>



        </accordion-group>
      </accordion> -->

<!-- <table class="table table-striped table-bordered table-hover table-responsive table-condensed"
                  *ngIf="!isUpdatePlan && planejamentoList.length > 0">
                  <thead>
                    <tr>
                      <th>Data Futura</th>
                      <th>Valor Benefício</th>
                      <th>Alíquota</th>
                      <th class="text-center" width="75px">Ações</th>
                      <th class="text-center" width="75px">seleconar</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let planRow of planejamentoList">
                      <td>{{ formatReceivedDate(planRow.data_futura) }}</td>
                      <td class="text-center">
                        {{ formatMoeda(planRow.valor_beneficio) }}
                      </td>
                      <td class="text-center">{{ planRow.aliquota }} %</td>
                      <td class="text-center" width="120px">
                        <div class="btn-group">
                          <button type="button" class="btn btn-xs btn-primary" id="planejar{{ planRow.id }}"
                          (click)="planejar(planRow.id)"  title="Planejar">
                          <i class="fa fa-share-square fa-1-7x"></i>
                        </button>
                          <button type="button" class="btn btn-xs btn-warning" id="editar{{ planRow.id }}"
                            (click)="getupdatePlananejamentoList(planRow.id)" title="Editar">
                            <i class="fa fa-edit fa-1-7x"></i>
                          </button>
                          <button type="button" class="btn btn-xs btn-danger" id="deletar{{ planRow.id }}"
                            (click)="deletarPlananejamentoList(planRow.id)" title="Excluir">
                            <i class="fa fa-times fa-1-7x"></i>
                          </button>
                        </div>
                      </td>
                      <td>
                        <div class="checkbox checkboxSegurado"><label>
                          <input type="checkbox" id='${planRow.id}-checkbox' 
                          class="checked-row-one checkbox {{styleTheme}}" 
                          [value]="planRow.id"><span> </span></label>
                   </div>
                      </td>
                    </tr>
                  </tbody>
                </table> -->

<!-- <div bsModal #modalCreatePlan="bs-modal" class="modal fade" id="create-planejamento">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body p-0 m-0">
        <div class="row">
          <article class="col-sm-12 col-md-12 col-lg-12">
            <sa-widget [colorbutton]="false" [editbutton]="false" [deletebutton]="false" class="mb-0">
              <header>
                <span class="widget-icon">
                  <i class="fa fa-plus"></i>
                </span>
                <h2>Adicionar informações para planejamento</h2>
                <button type="button" class="btn btn-xs pull-right btn-danger" (click)="modalCreatePlan.hide()"
                  aria-hidden="true">
                  <i class="fa fa-times fa-1-9x btn-danger txt-color-white p-2 pull-left"></i>
                </button>
              </header>

              <sa-widget [editbutton]="false" [deletebutton]="false" color="darken">
                <div>

                  <div class="widget-body">

                    <div class="row">
                      <form novalidate="novalidate">
                        <div class="col-sm-12">
                          <div class="form-bootstrapWizard clearfix">
                            <ul class="bootstrapWizard">
                              <li *ngFor="let pane of steps; let i = index" [class.active]="activeStep == pane">
                                <a (click)="setActiveStep(pane)"> <span class="step">
                                    <span *ngIf="!pane.checked">{{i + 1}}</span>
                                    <i class="fa fa-check" *ngIf="pane.checked"></i>
                                  </span> <span class="title">{{pane.title}}</span>
                                </a>
                              </li>
                            </ul>
                          </div>
                          <div class="tab-content">
                            <div class="tab-pane" [class.active]="activeStep.key == 'step1'">
                              <br>

                              <h3><strong>Passo 1 </strong> - O que é e quando fazer?</h3>

                              <p style="font-size: large;">O planejamento previdenciário é um serviço oferecido pelo
                                IEPREV que visa trazer agilidade e segurança para o segurado no momento da sua
                                aposentadoria, pois possibilita minimizar erros no processo administrativo da
                                aposentadoria, sempre em busca do melhor benefício. </p>
                                <p style="font-size: large;">As alterações legislativas no
                                Direito Previdenciário são inúmeras e constantes, além disso, os históricos
                                contributivos dos segurados são, via de regra, muito falhos nos bancos de dados do INSS.
                              </p>

                            </div>
                            <div class="tab-pane" [class.active]="activeStep.key == 'step2'">
                              <br>

                              <h3><strong>Passo 2</strong> - Planejamento</h3>
   
                              <div class="form-group">
                                <label style="font-size: large;"><strong> Alguns exemplos:</strong> </label>
                                <p style="font-size: large;">- Aposentar-se no momento certo;</p>
                                <p style="font-size: large;">- Aposentar-se com o melhor benefício possível;</p>
                                <p style="font-size: large;">- Agilizar a análise do requerimento administrativo da
                                  aposentadoria;</p>
                                <p style="font-size: large;">- Apresentar toda a documentação necessária no INSS, no
                                  momento do requerimento;</p>
                                <p style="font-size: large;">- Contribuir com o valor correto, caso haja a necessidade
                                  de continuar contribuindo;</p>
                                <p style="font-size: large;">- Possibilidades de correção das falhas no CNIS do
                                  segurado, antes mesmo do momento do requerimento da aposentadoria.</p>
                              </div>

                            </div>
                            <div class="tab-pane" [class.active]="activeStep.key == 'step3'">
                              <br>

                              <h3><strong>Passo 3</strong> - Formulário</h3>
                              <div class="row">

                              </div>

                              <div class="row">
                                <div class="col-sm-4">
                                  <div class="form-group" [ngClass]="{
                                    'has-success':dataFutura.valid && activeStep.submitted,
                                    'has-error':!dataFutura.valid && activeStep.submitted,
                                    'has-error': errors.has('dataFutura')
                                    }"
                                    >
                                    <div class="input-group">
                                      <span class="input-group-addon"><i class="fa fa-calendar fa-lg fa-fw"></i></span>
                                      <input class="form-control input-lg" 
                                      [textMask]="{mask: dateMaskdiB}"
                                        placeholder="DIB Futura" 
                                        type="text" name="dataFutura" 
                                        #dataFutura="ngModel" 
                                        required [(ngModel)]="model.data_futura" >
                                    </div>
                                    <span [class.hidden]="dataFutura.valid || !activeStep.submitted" 
                                    class="help-block"
                                    *ngIf="errors.has('dataFutura')" class="text-danger">{{ errors.get('dataFutura') }}>
                                      Favor entrar com uma data válida.
                                    </span>
                                  </div>
                                </div>
                                <div class="col-sm-4">
                                  <div class="form-group" [ngClass]="{
                                    'has-success':valorBeneficio.valid && activeStep.submitted,
                                    'has-error':!valorBeneficio.valid && activeStep.submitted
                                    }">
                                    <div class="input-group">
                                      <span class="input-group-addon"><i class="fa fa-money fa-lg fa-fw"></i></span>
                                      <input class="form-control input-lg" placeholder="Valor Benefício" type="text"
                                        name="valorBeneficio" #valorBeneficio="ngModel" currencyMask maxlength="20"
                                        required [(ngModel)]="model.valor_beneficio">
                                    </div>
                                    <span [class.hidden]="valorBeneficio.valid || !activeStep.submitted"
                                      class="help-block">
                                      Favor entrar com dados válidos.
                                    </span>
                                  </div>
                                </div>
                                <div class="col-sm-4">
                                  <div class="form-group">
                                    <div class="input-group" [ngClass]="{
                                    'has-success':aliquota.valid && activeStep.submitted,
                                    'has-error':!aliquota.valid && activeStep.submitted
                                    }">
                                      <span class="input-group-addon"><i
                                          class="fa fa-external-link-square fa-lg fa-fw"></i></span>
                                      <select class="form-control input-lg" required [(ngModel)]="model.aliquota"
                                        #aliquota="ngModel" name="aliquota">
                                        <option value="" selected="selected">Selecione Aliquota</option>
                                        <option [value]="5">Fixo - 5%</option>
                                        <option [value]="11">Fixo - 11%</option>
                                        <option [value]="20">Fixo - 20%</option>
                                        <option [value]="99">Cumulativo - 7,5% a 14%</option>
                                      </select>
                                    </div>
                                  </div>
                                </div>

                              </div>

                            </div>
                            <div class="tab-pane" [class.active]="activeStep.key == 'step4'">
                              <br>

                              <h3><strong>Passo 4</strong> - Finalizar</h3>
                              <br>

                              <h1 class="text-center text-success"><strong><i class="fa fa-check fa-lg"></i>
                                  Completo</strong></h1>
                              <h4 class="text-center">Click Próximo para finalizar.</h4>
                              <br>
                              <br>
                            </div>

                            <div class="form-actions">
                              <div class="row">
                                <div class="col-sm-12">
                                  <ul class="pager wizard no-margin">
                                    <li class="previous">
                                      <a (click)="prevStep()" [class.disabled]="steps.indexOf(activeStep) == 0"
                                        class="btn btn-lg btn-default"> Anterior
                                      </a>
                                    </li>
                                    <li class="next">
                                      <a (click)="nextStep()" *ngIf="!isEdit" 
                                        [class.disabled]="activeStep.submitted && !activeStep.valid"
                                        class="btn btn-lg txt-color-darken"> Próximo 
                                      </a>
                                      <a (click)="updatePlan()" *ngIf="isEdit" 
                                      [class.disabled]="activeStep.submitted && !activeStep.valid"
                                      class="btn btn-lg txt-color-darken"> Atualizar  
                                    </a>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                            </div>

                          </div>
                        </div>
                      </form>
                    </div>

                  </div>

                </div>

              </sa-widget>




            </sa-widget>
          </article>
        </div>
      </div>
    </div>
  </div>
</div> -->
