<div id="content" *ngIf="!isUpdating">

  <!-- widget grid -->
  <sa-widgets-grid>

    <!-- row -->
    <div class="row">
      <article class="col-sm-12 col-md-12 col-lg-12">
        <h1>Cálculo: Benefícios Atrasados</h1>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#/beneficios/beneficios-segurados"> Criar/Buscar Segurado</a></li>
          <li class="breadcrumb-item active">Lista dos cálculos de Atrasados realizados </li>
        </ol>
        <!-- Widget ID (each widget will need unique ID)-->
        <sa-widget [colorbutton]="false" [editbutton]="false">
          <header>
            <span class="widget-icon">
              <i class="fa fa-edit"></i>
            </span>
            <h2>Dados do segurado</h2>

          </header>

          <!-- widget div-->
          <div>

            <!-- widget content -->
            <div class="widget-body">

              <ul class="list-unstyled">
                <li><b>Nome:</b>  {{segurado.nome}} </li>
                <li *ngIf="segurado.id_documento==1"><b>PIS:</b>   {{segurado.numero_documento}}</li>
                <li *ngIf="segurado.id_documento==2"><b>PASEP:</b>   {{segurado.numero_documento}}</li>
                <li *ngIf="segurado.id_documento==3"><b>CPF:</b>   {{segurado.numero_documento}}</li>
                <li *ngIf="segurado.id_documento==4"><b>NIT:</b>   {{segurado.numero_documento}}</li>
                <li *ngIf="segurado.id_documento==5"><b>RG:</b>   {{segurado.numero_documento}}</li>
                <li><b>Data de nascimento:</b>  {{segurado.data_nascimento}}</li>
                <li><b>Data de filiação:</b>  {{segurado.data_filiacao}}</li>
                <li *ngIf="segurado.sexo=='m'"><b>Sexo:</b>  Masculino</li>
                <li *ngIf="segurado.sexo=='f'"><b>Sexo:</b>  Feminino</li>
              </ul>

              <div class="form-actions">
                <div class="row">
                  <div class="col-md-12">

                    <button type="submit" (click)="editSegurado()" class="btn btn-labeled btn-info pull-left">
                      <span class="btn-label">
                        <i class="fa fa-pencil-square-o"></i>
                      </span> Editar
                    </button>

<!--                     <button type="submit" class="btn btn-labeled btn-primary">
                      <span class="btn-label">
                        <i class="fa fa-percent"></i>
                      </span> Novo cálculo
                    </button> -->

                  </div>
                </div>
              </div>

            </div>
          </div>
        </sa-widget>
      </article>

      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Sistema</th>
                  <th>Descrição</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <button type="submit" (click)="createNewCalculo()" class="btn btn-labeled btn-default pull-left">
                      <span class="btn-label">
                        <i class="fa fa-arrow-right"></i>
                      </span> Beneficios Atrasados
                    </button>
                  </td>
                  <td>
                    <p>Diferenças entre valores de rendas mensais de benefícios devidos e recebidos bem como correção monetária, juros de mora e honorários. (<a target="_blank"href="http://qualidade.ieprev.com.br/conteudo/id/1439/t/calculo-de-beneficios-atrasados">manual</a>, <a target="_blank"href="http://qualidade.ieprev.com.br/UserFiles/File/MANUAL%20DO%20SIMULADOR%20DE%20C%c3%81LCULO%20DE%20BENEF%c3%8dCIOS%20ATRASADOS.pdf">manual em PDF</a>, <a target="_blank"href="https://vimeo.com/209445770">videoaula</a>, <a target="_blank"href="http://www.youtube.com/watch?v=WS0Hn-MJWZc&list=PLNw6awklYZ0NN4G5zkE3jPY8IT5AqwPBt">videoaula da simulaçao para Buraco Negro</a>)</p>

                  </td>
                </tr>
                <tr>
                  <td>
                    <button type="submit" (click)="createNewCalculoJudicial()" class="btn btn-labeled btn-default pull-left">
                      <span class="btn-label">
                        <i class="fa fa-arrow-right"></i>
                      </span> Benefícios Atrasados - Teto 12/1998 e 12/2003
                    </button>
                  </td>
                  <td>
                    <p>Simula diferenças devidas referente aos tetos legais de R$1200,00 para 12/1998 e R$2400,00 para 12/2003 quando no cálculo de seu salário de benefício sofreu limitação ao teto do salário de contribuição vigente no momento da concessão fazendo jus a revisão judicial. (<a target="_blank"href="http://qualidade.ieprev.com.br/conteudo/id/22868/t/beneficio-atrasados-tetos">manual</a>, <a target="_blank"href="http://www.youtube.com/watch?v=SHWS5Z945d8">videoaula</a>)</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <button type="submit" (click)="createNewCalculoIndices()" class="btn btn-labeled btn-default pull-left">
                      <span class="btn-label">
                        <i class="fa fa-arrow-right"></i>
                      </span> Benefícios Atrasados - Índices 06/1999 e 05/2004
                    </button>
                  </td>
                  <td>
                    <p>Simula revisão com acréscimo dos índices de 2,28% em 06/1999 e 1,75% em 05/2004. (<a target="_blank"href="http://qualidade.ieprev.com.br/conteudo/id/34152/t/beneficio-atrasados---indices-06-99-e-05-04">manual</a>, <a target="_blank"href="http://qualidade.ieprev.com.br/UserFiles/File/MANUAL%20DO%20SIMULADOR%20DE%20C%c3%81LCULO%20DE%20BENEF%c3%8dCIOS%20ATRASADOS%2099-04.pdf">manual em PDF</a>, <a target="_blank"href="https://www.youtube.com/watch?v=v-GFKdUxwYE&list=PLNw6awklYZ0NN4G5zkE3jPY8IT5AqwPBt&index=9">videoaula</a>)</p>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <article class="col-sm-12 col-md-12 col-lg-12" *ngIf="!isUpdating">
        <app-beneficios-calculos-index [list]="calculosList" [datatableOptions]="calculoTableOptions"></app-beneficios-calculos-index>
      </article>


      <div class="row row-fix-width">
        <div class="col-sm-4 col-sm-offset-4">
          <table class="table table-bordered table-hover table-condensed">
            <thead>
              <tr>
                <th colspan="2" class="text-align-center">LEGENDA</th>
              </tr>
            </thead>
            <thead>
              <tr>
                <th>Símbolo</th>
                <th>Descrição</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <i class="fa fa-edit"></i>
                </td>
                <td>Editar o item relacionado.</td>
              </tr>
              <tr>
                <td><i class="fa fa-times"></i></td>
                <td>Remove definitivamente do sistema o item relacionado.</td>
              </tr>
              <tr>
                <td><i class="fa fa-search"></i></td>
                <td>Mostra o resultado do cálculo do item relacionado.</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>




    </div>

    <!-- end row -->

  </sa-widgets-grid>

  <!-- end widget grid -->

</div>
