<div id="content" *ngIf="!isUpdating">
  <!-- widget grid -->
  <sa-widgets-grid>
    <!-- row -->
    <div class="row mb-1">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <h1>Liquidação de Sentença</h1>
      </div>
    </div>
    <div class="row mb-1">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="#/beneficios/beneficios-segurados">
              Criar/Buscar Segurado</a
            >
          </li>
          <li class="breadcrumb-item active">
            Lista dos Cálculos Realizados
          </li>
        </ol>
      </div>
    </div>

    <div class="row mb-2">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <!-- Widget ID (each widget will need unique ID)-->
        <sa-widget
          [colorbutton]="false"
          [editbutton]="false"
          [deletebutton]="false"
          class="mb-4"
        >
          <header>
            <span class="widget-icon">
              <i class="fa fa-edit"></i>
            </span>
            <h2>Dados do Segurado</h2>
          </header>
          <!-- widget div-->
          <div>
            <!-- widget content -->
            <div class="widget-body p-0 widget-body-custom">
              <ul class="list-inline m-0">
                <li class="px-5"><strong>Nome:</strong>  {{segurado.nome}} </li>
                <li  class="px-5" *ngIf="segurado.numero_documento" >
                  <strong>{{segurado.getDocumentType(segurado.id_documento)}}:</strong>   {{segurado.numero_documento}}
                </li>
                <li  class="px-5"><strong>Data de Nascimento:</strong>  {{segurado.data_nascimento}}</li>
                <li  class="px-5"><strong>Sexo:</strong>  {{(segurado.sexo=='m')? 'Masculino' : 'Feminino'}}</li>
              </ul>
              <div class="form-actions p-0 mt-3">
                <div class="row">
                  <div class="col-md-12">
                    <button
                      type="submit"
                      (click)="editSegurado()"
                      class="btn btn-labeled btn-info pull-right"
                    >
                      <span class="btn-label">
                        <i class="fa fa-pencil-square-o"></i>
                      </span>
                      Editar
                    </button>

                    <!--<button type="submit" class="btn btn-labeled btn-primary">
               <span class="btn-label">
                 <i class="fa fa-percent"></i>
               </span> Novo cálculo
             </button> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </sa-widget>
      </div>
    </div>

    <div class="row md-4">
      <div class="col-md-12 col-sm-12 col-lg-12">
        <table class="table table-bordered table-condensed">
          <thead>
            <tr>
              <th>Tipo</th>
              <th>Descrição</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <a
                  type="submit"
                  (click)="createNewCalculo()"
                  class="btn btn-labeled btn-info mt-2"
                  style="width: 325px;"
                >
                  <span class="btn-label pull-left">
                    <i class="fa fa-plus"></i>
                  </span>
                 <p class="m-2">Criar Novo Cálculo</p>
                </a>
                <!-- <br>
                <br>
                <br>
                <button type="submit" (click)="createNewCalculo('R')" class="btn btn-labeled btn-info pull-left">
                  <span class="btn-label">
                    <i class="fa fa-arrow-right"></i>
                  </span> Revisão de beneficios 
                </button> -->
              </td>
              <td>
                <p>
                  Diferenças entre valores de rendas
                    mensais de benefícios devidos e recebidos, com a aplicação de
                    correção monetária, juros de mora e honorários advocatícios.
                </p>
              </td>
            </tr>
            <tr>
              <td>
                <a
                  type="submit"
                  (click)="createNewCalculoJudicial()"
                  class="btn btn-labeled btn-info mt-4"
                  style="width: 325px;"
                >
                  <span class="btn-label pull-left">
                    <i class="fa fa-plus"></i>
                  </span>
                  <p class="m-2"> Criar Novo Cálculo 
                  EC 20/1998 e EC 41/2003</p>
                </a>
              </td>
              <td>
                <p>
                  Diferenças devidas (com juros, correção monetária e honorários advocatícios) referente à readequação aos Tetos Constitucionais (Revisão do Teto) previstos nas EC’s 20/98 e 41/03 (R$ 1.200,00 e R$ 2.400,00), decorrente da limitação do Salário de Benefício ao teto do Salário de Contribuição vigente na Data de Início do Benefício – DIB.
                </p>
              </td>
            </tr>
            <!-- <tr>
              <td>
                <button type="submit" (click)="createNewCalculoIndices()" class="btn btn-labeled btn-default pull-left">
                  <span class="btn-label">
                    <i class="fa fa-arrow-right"></i>
                  </span> Benefícios Atrasados - Índices 06/1999 e 05/2004
                </button>
              </td>
              <td>
                <p>Simula revisão com acréscimo dos índices de 2,28% em 06/1999 e 1,75% em 05/2004. (<a target="_blank"href="http://qualidade.ieprev.com.br/conteudo/id/34152/t/beneficio-atrasados---indices-06-99-e-05-04">manual</a>, <a target="_blank"href="http://qualidade.ieprev.com.br/UserFiles/File/MANUAL%20DO%20SIMULADOR%20DE%20C%c3%81LCULO%20DE%20BENEF%c3%8dCIOS%20ATRASADOS%2099-04.pdf">manual em PDF</a>, <a target="_blank"href="https://www.youtube.com/watch?v=v-GFKdUxwYE&list=PLNw6awklYZ0NN4G5zkE3jPY8IT5AqwPBt&index=9">videoaula</a>)</p>
              </td>
            </tr> -->
          </tbody>
        </table>
      </div>
    </div>

    <div class="row mb-3">
      <article class="col-sm-12 col-md-12 col-lg-12" *ngIf="!isUpdating">
        <app-beneficios-calculos-index
          [list]="calculosList"
          [datatableOptions]="calculoTableOptions"
        ></app-beneficios-calculos-index>
      </article>
    </div>

    <div class="row mb-2">
      <div class="col-md-12">
        <div class="panel panel-default">
          <!-- <div class="panel-heading m-0 p-1">
            <strong>Instrução do cálculo</strong>
          </div> -->
          <div class="panel-body m-1 p-1">
            <ul class="pager wizard no-margin">
              <li class="pull-center">
                <a
                  data-toggle="modal"
                  data-target="#tutorial-liquidacao-sentenca"
                  class="btn btn-lg txt-color-white btn-danger bg-ieprev-red"
                  title="Tutorial Planejamento Previdenciário"
                  >Tutorial</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div
    id="tutorial-liquidacao-sentenca"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="tutorial-liquidacao-sentenca-title"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-custom" role="document">
      <div class="modal-content modal-lg">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe
            src="https://player.vimeo.com/video/447520641?color=ffffff"
            class="embed-responsive-item"
            frameborder="0"
            allow="autoplay; fullscreen"
            allowfullscreen
          ></iframe>
        </div>
      </div>
    </div>
  </div>

    <div class="row mb-0">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="panel panel-default">
          <div class="panel-heading m-0 p-1">
            <strong>Legenda</strong>
          </div>
          <div class="panel-body m-1 p-2">
            <ul class="list-inline m-0 p-0">
              <li>
                <i
                  class="fa fa-calculator btn-primary fa-1-9x txt-color-white p-0 pull-left"
                  title="Mostra o resultado do cálculo do item relacionado."
                ></i>
                Calcular RMI
              </li>
              <li>
                <i
                  class="fa fa-edit fa-1-9x btn-warning txt-color-white p-0 pull-left"
                  title="Editar o item relacionado."
                ></i>
                Editar
              </li>
              <li>
                <i
                  class="fa fa-times fa-1-9x btn-danger txt-color-white p-0 pull-left"
                  title="Remove definitivamente do sistema o item relacionado."
                ></i>
                Remover
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- end row -->
  </sa-widgets-grid>

  <!-- end widget grid -->
</div>
