<div id="content">
  <!-- widget grid -->
  <sa-widgets-grid>
    <!-- <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <h3 class="p-1 m-1 no-print">Planejamento Previdenciário</h3>
      </div>
    </div> -->

    <div id="inicialPlanejamento" *ngIf="isPaginaInicial" class="pt-4">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="jumbotron background-inicial jumbotrom-custom-plan">
          <div class="container">
            <h1
              style="color: white; font-weight: 500; font-size: 45px"
              class="py-3 pl-5"
            >
              Planejamento Previdenciário
            </h1>
            <p
              style="color: white; font-weight: 500; text-align: justify"
              class="py-4 px-5"
            >
              O Planejamento Previdenciário é a maior estratégia de melhoria das
              condições futuras da aposentadoria dos segurados da Previdência
              Social. Com a finalidade de encontrar o benefício de aposentadoria
              mais vantajoso, deve ser aplicado a partir da análise de todas as
              regras existentes, a fim de identificar o melhor momento para o
              requerimento do benefício previdenciário. Atento a esta realidade,
              o Instituto de Estudos Previdenciários – IEPREV, criou importante
              ferramenta, um Simulador de Cálculos que irá revolucionar a forma
              de construção do Planejamento Previdenciário. Baseado em passo a
              passo, disposto em uma linha do tempo clara e auto explicativa,
              auxiliará o operador do Direito Previdenciário, permitindo, de
              forma ágil e eficaz, a análise, elaboração e conclusão do
              planejamento, facilitando a identificação e escolha do melhor
              momento para a aposentação. Atendendo assim os anseios daqueles
              que defendem o direito social e buscam aliar ao seu trabalho
              diário a entrega de melhores condições aos segurados do sistema.
            </p>
            <div class="row pt-5">
              <div class="col-md-3 col-lg-3 col-md-offset-9">
                <button
                  type="button"
                  (click)="setIsPaginaInicial()"
                  class="btn btn-lg btn-block btn-ieprev"
                  style="font-weight: bolder"
                >
                  Iniciar
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="passoPlanejamento" class="well mt-5" *ngIf="!isPaginaInicial">
      <div class="row mt-5">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <form novalidate="novalidate">
            <div class="col-sm-12">
              <div class="form-bootstrapWizard clearfix">
                <ul class="bootstrapWizard">
                  <li
                    *ngFor="let pane of steps; let i = index"
                    [class.active]="activeStep == pane"
                  >
                    <a (click)="setActiveStep(pane)">
                      <span class="step">
                        <span *ngIf="!pane.checked">{{ i + 1 }}</span>
                        <i class="fa fa-check" *ngIf="pane.checked"></i>
                      </span>
                      <span class="title">{{ pane.title }}</span>
                    </a>
                  </li>
                </ul>
              </div>
              <div class="tab-content" style="margin-top: 5rem">
                <div
                  class="tab-pane"
                  [class.active]="activeStep.key == 'step1'"
                >
                  <!-- <div class="row mt-5">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                      <h3>
                        <strong>Passo 1 </strong> - Objetivo deste simulador
                      </h3>
                    </div>
                  </div>
                  <p style="font-size: large">
                    O planejamento previdenciário tem o objetivo de verificar
                    qual melhor possíbilidade entre duas opções de data íniciais
                    de benefício distintas para verificar qual a melhor opção.
                  </p> -->
                  <div class="row mt-5">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                      <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                        <ul class="bootstrapWizard form-wizard mt-3">
                          <li class="active" data-target="#step1">
                            <a data-toggle="tab">
                              <span class="step">1</span></a
                            >
                          </li>
                        </ul>
                      </div>
                      <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
                        <ul class="text-justify pt-1" style="font-size: 14px">
                          <li>
                            Selecione um segurado cadastrado para iniciar o
                            Planejamento Previdenciário;
                          </li>
                          <li>
                            Caso não tenha segurado cadastrado
                            <a
                              (click)="redirecionarSeguradoRMI()"
                              style="color: #ffaa21 !important"
                            >
                              <strong>Clique Aqui </strong></a
                            >
                            para Criar Novo segurado.
                          </li>
                        </ul>
                      </div>
                      <!-- <h3><strong>Passo 1</strong> - Dados do Segurado</h3> -->
                    </div>
                  </div>
                  <!-- <ul class="list-unstyled" style="font-size: large">
                    <li><i class="fa fa-check"></i> 
                      Selecione segurado cadastrado para iniciar o Planejamento Previdenciário;</li>
                    <li><i class="fa fa-check"></i> 
                      <a
                      (click)="redirecionarSeguradoRMI()"
                      style="color: #ffaa21 !important"
                    >
                      <strong>Caso não tenha segurado cadastrado Clique Aqui para Criar Novo segurado.</strong></a
                    >
                    </li>
                  </ul> -->
                  <!-- <p style="font-size: large">
                    Selecione segurado cadastrado para iniciar o Planejamento Previdenciário;<br>
                    <a
                      (click)="redirecionarSeguradoRMI()"
                      style="color: #ffaa21 !important"
                    >
                      <strong>Caso não tenha segurado cadastrado Clique Aqui para Criar Novo segurado.</strong></a
                    >
                  </p> -->
                  <!-- <div class="row">
                    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                      <button
                        (click)="redirecionarSeguradoRMI()"
                        type="submit"
                        class="btn btn-info pull-left"
                      >
                        Clique aqui para ser direcionado ao Cálculo de Renda
                        Mensal Inicial&nbsp;&nbsp;&nbsp;<i
                          class="fa fa-arrow-circle-right"
                        ></i>
                      </button>
                    </div>
                  </div> -->

                  <div class="row mt-4 body-step-component">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                      <app-rgps-planejamento-segurados-list
                        (seguradoSelecionadoEvent)="
                          setSeguradoSelecionado($event)
                        "
                      >
                      </app-rgps-planejamento-segurados-list>
                    </div>
                  </div>
                </div>
                <div
                  class="tab-pane"
                  [class.active]="activeStep.key == 'step2'"
                >
                  <div class="row mt-5">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                      <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 pt-4">
                        <ul class="bootstrapWizard form-wizard mt-3">
                          <li class="active" data-target="#step2">
                            <a data-toggle="tab">
                              <span class="step">2</span></a
                            >
                          </li>
                        </ul>
                      </div>
                      <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
                        <ul class="text-justify" style="font-size: 14px">
                          <li>
                            Selecione um cálculo cadastrado para prosseguir com
                            o Planejamento Previdenciário;
                          </li>
                          <li>
                            Caso não tenha cálculo cadastrado
                            <a
                              (click)="redirecionarSeguradoCalculosRMI()"
                              style="color: #ffaa21 !important"
                            >
                              <strong>Clique Aqui </strong></a
                            >
                            para criar novo cálculo;
                          </li>
                          <li>
                            Caso o segurado selecionado não possua direito
                            adquirido a nenhum benefício até a data atual, será
                            possível prosseguir com o Planejamento
                            Previdenciário, programando a melhor data futura
                            para requerimento do benefício.
                          </li>
                        </ul>
                      </div>

                      <!-- <h3><strong>Passo 1</strong> - Dados do Segurado</h3> -->
                    </div>
                  </div>
                  <!-- <p style="font-size: large">
                    Selecione o cálculo. Caso o segurado não possua um calculo
                    de Renda Mensal Inicial
                    <a
                      (click)="redirecionarSeguradoCalculosRMI()"
                      style="color: #ffaa21 !important"
                    >
                      <strong> Clique Aqui </strong></a
                    >
                    para ser direcionado para criar um calculo para o segurado.
                    Observação siga até a conclusão.
                  </p> -->
                  <!-- <div class="row mt-5">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                      <h3><strong>Passo 2</strong> RMI do Benefício Atual</h3>
                      <p style="font-size: large">
                        Selecione o cálculo. Caso o segurado não possua um
                        calculo de Renda Mensal Inicial
                        <a
                          (click)="redirecionarSeguradoCalculosRMI()"
                          style="color: #ffaa21 !important"
                        >
                          <strong> Clique Aqui </strong></a
                        >
                        para ser direcionado para criar um calculo para o
                        segurado. Observação siga até a conclusão.
                      </p>

                   
                    </div>
                  </div> -->
                  <div class="row body-step-component">
                    <app-rgps-planejamento-calculos-planejados
                      *ngIf="isSeguradoSelecionado"
                      [seguradoSelecionado]="seguradoSelecionado"
                      [isSeguradoSelecionado]="isSeguradoSelecionado"
                      (calculoSelecionadoEvent)="setCalculoSelecionado($event)"
                    >
                    </app-rgps-planejamento-calculos-planejados>
                  </div>
                </div>
                <div
                  class="tab-pane"
                  [class.active]="activeStep.key == 'step3'"
                >
                  <!-- <div class="row mt-5">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                      <h3><strong>Passo 3</strong> Dados do Benefício Futuro</h3>
                    </div>
                  </div> -->

                  <div class="row mt-5">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                      <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                        <ul class="bootstrapWizard form-wizard mt-3">
                          <li class="active" data-target="#step3">
                            <a data-toggle="tab">
                              <span class="step">3</span></a
                            >
                          </li>
                        </ul>
                      </div>
                      <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
                        <ul class="text-justify pt-1" style="font-size: 14px">
                          <li>
                            Selecione um benefício futuro cadastrado para
                            prosseguir com o Planejamento Previdenciário;
                          </li>
                          <li>
                            Caso não tenha benefício futuro cadastrado, insira
                            as informações no formulário para criar novo
                            benefício futuro.
                          </li>
                        </ul>
                      </div>
                      <!-- <strong
                        >Texto Texto Texto Texto Texto Texto Texto
                      </strong> -->
                      <!-- <h3><strong>Passo 1</strong> - Dados do Segurado</h3> -->
                    </div>
                  </div>
                  <!-- <p style="font-size: large">
                    Selecione o cálculo de Benefício futuro ou adicione no
                    formulário abaixo.
                  </p> -->
                  <div class="row pt-4 body-step-component">
                    <app-rgps-planejamento-list
                      *ngIf="!isUpdatingPlan"
                      [calculo]="calculoSelecionado"
                      [segurado]="seguradoSelecionado"
                      [isCalculoSelecionado]="isCalculoSelecionado"
                      (planejamentoSelecionadoEvent)="
                        setPlanejamentoSelecionado($event)
                      "
                    ></app-rgps-planejamento-list>
                  </div>
                </div>
                <div
                  class="tab-pane"
                  [class.active]="activeStep.key == 'step4'"
                >
                  <!-- <div class="row mt-5">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                      <h3><strong>Passo 4</strong> RMI do Benefício Futuro</h3>
                    </div>
                  </div> -->
                  <div class="row my-5">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                      <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                        <ul class="bootstrapWizard form-wizard mt-3">
                          <li class="active" data-target="#step4">
                            <a data-toggle="tab">
                              <span class="step">4</span></a
                            >
                          </li>
                        </ul>
                      </div>
                      <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
                        <ul
                          class="list-unstyled text-justify"
                          style="font-size: 14px"
                        >
                          <li>
                            O Simulador realizará o cálculo da renda mensal
                            inicial do benefício futuro, com a inclusão dos
                            salários de contribuição informados no Passo 3;
                          </li>
                          <li>
                            Clique em Abrir para acessar o cálculo ou em
                            Imprimir, onde poderá salvar o cálculo, inclusive;
                          </li>
                          <li>
                            Clique em continuar para acessar o relatório com as
                            informações do Planejamento Previdenciário.
                          </li>
                        </ul>
                      </div>
                      <!-- <strong
                        >Texto Texto Texto Texto Texto Texto Texto
                      </strong> -->
                      <!-- <h3><strong>Passo 1</strong> - Dados do Segurado</h3> -->
                    </div>
                  </div>
                  <!-- <p style="font-size: large">
                    Processando as informações selecionadas do segurado.
                  </p> -->

                  <div
                    class="body-step-component my-4"
                    *ngIf="
                      activeStep.key == 'step4' &&
                      isSeguradoSelecionado &&
                      isCalculoSelecionado
                    "
                  >
                    <app-rgps-planejamento-calculo-futuro
                      *ngIf="isPlanejamentoSelecionado"
                      [calculo]="calculoSelecionado"
                      [segurado]="seguradoSelecionado"
                      [planejamento]="planejamentoSelecionado"
                      [isPlanejamentoSelecionado]="isPlanejamentoSelecionado"
                    >
                    </app-rgps-planejamento-calculo-futuro>
                  </div>

                  <!-- <h1 class="text-center text-success">
                    <strong><i class="fa fa-check fa-lg"></i> Completo</strong>
                  </h1>
                  <h4 class="text-center">Click next para finalizar.</h4> -->
                  <br />
                  <br />
                </div>

                <div
                  id="tutorial-plan"
                  class="modal fade"
                  tabindex="-1"
                  role="dialog"
                  aria-labelledby="tutorial-plan-title"
                  aria-hidden="true"
                >
                  <div class="modal-dialog modal-dialog-custom" role="document">
                    <div class="modal-content modal-lg">
                      <div class="embed-responsive embed-responsive-16by9">
                        <iframe
                          src="https://www.youtube.com/embed/ENJaER2VoJQ"
                          class="embed-responsive-item"
                          frameborder="0"
                          allow="autoplay; fullscreen"
                          allowfullscreen
                        ></iframe>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-actions mt-0">
                  <div class="row">
                    <div class="col-sm-12">
                      <ul class="pager wizard no-margin">
                        <li class="previous">
                          <a
                            (click)="prevStep()"
                            [class.disabled]="steps.indexOf(activeStep) == 0"
                            class="btn btn-lg btn-default"
                            title="Retornar ao passo anterior"
                            >Retornar&nbsp;</a>
                        </li>
                        <li class="pull-center">
                          <a
                            data-toggle="modal"
                            data-target="#tutorial-plan"
                            class="btn btn-lg txt-color-white btn-danger bg-ieprev-red"
                            title="Tutorial Planejamento Previdenciário"
                            >Tutorial</a
                          >
                        </li>
                        <li class="next">
                          <a
                            (click)="nextStep()"
                            [class.disabled]="!activeStep.valid"
                            class="btn btn-lg txt-color-darken"
                            title="Continuar para próximo passo"
                          >Continuar</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </sa-widgets-grid>
</div>
<!--  


<div class="row mb-4">
  <div class="col-sm-12 col-md-12 col-lg-12">
    <ol class="breadcrumb m-0">
      <li class="breadcrumb-item active"></li>
    </ol>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12" *ngIf="!isUpdating">
    <app-rgps-planejamento-segurados-list></app-rgps-planejamento-segurados-list>
  </div>
</div>

<div class="row mb-3">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading m-0 p-1">
            <strong>Legenda</strong>
          </div>
          <div class="panel-body m-1 p-1">
            <ul class="list-inline">
              <li><i class="fa fa-calculator fa-1-7x bg-color-blue txt-color-white p-1"></i> Calculos do Segurado</li>
              <li><i class="fa fa-edit fa-1-7x btn-warning txt-color-white p-1"></i> Editar</li>
              <li><i class="fa fa-times fa-1-7x btn-danger txt-color-white p-1"></i> Remover</li>
            </ul>
          </div>
        </div>
      </div>
</div>
<div class="row mb-3">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading m-0 p-1">
        <strong>Instrução do cálculo</strong>
      </div>
      <div class="panel-body m-1 p-1">
        <ul class="list-unstyled">
          <li><a routerlink="/tutorial" target="_blank" href="#/tutorial">Clique aqui e veja os tutoriais e manuais dos simuladores</a></li>
        </ul>
        <p class="margin-lg-top">
          fjskdjfkjsdkfjhskdjhf 
        </p>
      </div>
    </div>
  </div>
</div> -->
