<table class="table table-striped table-hover table-responsive" *ngIf="!isUpdating">
  <thead>
    <tr>
      <th></th>
      <th>Empresa</th>
      <th>Data Início</th>
      <th>Data Final</th>
      <th class="text-center">Fator Condição</th>
      <th class="text-center">Carência</th>
      <th class="text-center"><span data-placement="top" tooltip="Se exite um ou mais vínculos de trabalho no mesmo período ">Concomitante</span></th>
      <th class="text-center"><span data-placement="top" tooltip="Tempo de contribuição (Somente a diferença entre datas)">Tempo
          de Constribuição</span></th>
      <th class="text-center"><span data-placement="top" tooltip="Tempo de contribuição (com fator multiplicador)">Tempo
          de Constribuição Convertido <strong>*</strong></span></th>
      <th class="text-center"><span data-placement="top" tooltip="Identifica os vínculos em conflito">Concomitâncias</span></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let periodo of periodosList">
      <td>{{periodo.vinculo}}</td>
      <td>{{periodo.empresa}}</td>
      <td>{{periodo.data_inicio}}</td>
      <td>{{periodo.data_termino}}</td>
      <td class="text-center">{{periodo.fator_condicao_especial}}</td>
      <td class="text-center">{{periodo.carencia}}</td>
    </tr>
  </tbody>
</table>

<div *ngIf="isUpdating" class="alert alert-info text-align-center no-padding">
  <h3> <i class="fa fa-gear fa-3x fa-spin"></i> Carregando...</h3>
</div>