<article class="col-sm-12 col-md-12 col-lg-12">
  <sa-widget [colorbutton]="false" [editbutton]="false" [deletebutton]="false">
    <header>
      <span class="widget-icon">
        <i class="fa fa-table"></i>
      </span>
      <h2>Benefícios Recebido</h2>
      <button
        type="button"
        (click)="recebidosModal.show()"
        class="btn btn-labeled btn-info pull-right"
      >
        <span class="btn-label"> <i class="fa fa-plus"></i> </span>Adicionar
        Benefício
      </button>
    </header>
    <div>
      <div class="widget-body no-padding widget-body-custom">
        <div class="well well-light" *ngIf="listRecebidos.length === 0">
          <strong>Não Há Itens na Lista</strong>
        </div>
        <table
          class="table table-striped table-bordered table-hover table-responsive table-condensed"
          *ngIf="!isUpdating && listRecebidos.length > 0"
        >
          <thead>
            <tr>
              <th class="text-center">Espécie / Número Benefício</th>
              <th class="text-center">DIB / DIP</th>
              <th class="text-center">DIB Anterior</th>
              <th class="text-center">Data Final do Período</th>
              <th class="text-center">RMI</th>
              <th class="text-center">IRT</th>
              <th class="text-center">RMI Inferior ao Mínimo</th>
              <th class="text-center" width="75px">Ações</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let recebidoLine of listRecebidos">
              <td class="text-center">
                {{ getTipoAposentadoria(recebidoLine.especie) }}
                <span *ngIf="recebidoLine.numeroBeneficio"
                  ><br />
                  {{ recebidoLine.numeroBeneficio }}</span
                >
              </td>
              <td class="text-center">
                {{ recebidoLine.dib }}
                <span *ngIf="recebidoLine.dip"
                  ><br />
                  {{ recebidoLine.dip }}</span
                >
              </td>
              <td class="text-center">{{ recebidoLine.dibAnterior }}</td>
              <td class="text-center">{{ recebidoLine.cessacao }}</td>
              <td class="text-center">
                {{ definicaoMoeda.formatMoneyB(recebidoLine.rmi) }}
                <!-- <span *ngIf="recebidoLine.rmiBuracoNegro">
                  <br />{{
                    definicaoMoeda.formatMoneyB(recebidoLine.rmiBuracoNegro)
                  }}
                </span> -->
              </td>
              <td class="text-center">{{ recebidoLine.irt }}</td>
              <td class="text-center">
                {{ recebidoLine.reajusteMinimo ? "Sim" : "Não" }}  {{ recebidoLine.reajuesteMinimo }}
              </td>
              <td class="text-center" width="auto">
                <div class="btn-group">
                  <button
                    type="button"
                    class="btn btn-xs btn-warning"
                    id="editar{{ recebidoLine.id }}"
                    (click)="getupdatePeriodoRecebidoList(recebidoLine.id)"
                    title="Editar"
                  >
                    <i class="fa fa-edit fa-1-7x"></i>
                  </button>
                  <button
                    type="button"
                    class="btn btn-xs btn-danger"
                    id="deletar{{ recebidoLine.id }}"
                    (click)="deletePeriodoRecebidoList(recebidoLine.id)"
                    title="Excluir"
                  >
                    <i class="fa fa-times fa-1-7x"></i>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <div *ngIf="isUpdating" class="alert alert-info text-align-center">
          <h3><i class="fa fa-gear fa-3x fa-spin"></i> Carregando...</h3>
        </div>
      </div>
    </div>
  </sa-widget>
</article>

<div
  bsModal
  #recebidosModal="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myLargeModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-body p-0 m-0">
        <div class="row">
          <article class="col-sm-12 col-md-12 col-lg-12">
            <sa-widget
              [colorbutton]="false"
              [editbutton]="false"
              [deletebutton]="false"
              class="mb-0"
            >
              <header>
                <span class="widget-icon">
                  <i class="fa fa-plus"></i>
                </span>
                <h2>Benefício Recebido</h2>
                <button
                  type="button"
                  class="btn btn-xs pull-right btn-danger"
                  (click)="recebidosModal.hide()"
                  aria-hidden="true"
                >
                  <i
                    class="fa fa-times fa-1-9x btn-danger txt-color-white p-2 pull-left"
                  ></i>
                </button>
              </header>
              <div>
                <div class="widget-body mb-0">
                  <form class="form-horizontal">
                    <fieldset>
                      <div class="form-group">
                        <label
                          class="control-label col-md-2"
                          for="especieRecebidoSelect"
                          >Espécie:</label
                        >
                        <div class="col-md-9">
                          <select
                            name="especieValoresRecebidos"
                            [(ngModel)]="especieValoresRecebidos"
                            class="form-control"
                            id="especieRecebidoSelect"
                            (change)="validRecebidos()"
                          >
                            <option
                              *ngFor="let option of especieValoresOptions"
                              value="{{ option.value }}"
                            >
                              {{ option.name }}
                            </option>
                          </select>
                          <small
                            *ngIf="errors.has('especieValoresRecebidos')"
                            class="text-danger"
                            >{{ errors.get("especieValoresRecebidos") }}</small
                          >
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-md-7 control-label"
                          >Número do Benefício:</label
                        >
                        <div class="col-md-4">
                          <input
                            [(ngModel)]="numeroBeneficioRecebido"
                            [textMask]="{ mask: numBenefMask }"
                            name="numeroBeneficioRecebido"
                            class="form-control"
                            type="text"
                            maxlength="200"
                          />
                          <small
                            *ngIf="errors.has('numeroBeneficioRecebido')"
                            class="text-danger"
                            >{{ errors.get("numeroBeneficioRecebido") }}</small
                          >
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-md-7 control-label"
                          >Data de Início de Benefício - DIB*:</label
                        >
                        <div class="col-md-4">
                          <input
                            class="form-control"
                            [textMask]="{ mask: dateMask }"
                            name="dibValoresRecebidos"
                            (blur)="setCheckRevisao()"
                            (change)="
                              dibValoresRecebidosChanged(); 
                              validRecebidos();
                            "
                            [(ngModel)]="dibValoresRecebidos"
                            type="text"
                          />
                          <small
                            *ngIf="errors.has('dibValoresRecebidos')"
                            class="text-danger"
                            >{{ errors.get("dibValoresRecebidos") }}</small
                          >
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-7"
                          >Data de Início do Pagamento - DIP*:</label
                        >
                        <div class="col-md-4">
                          <input
                            class="form-control"
                            [textMask]="{ mask: dateMask }"
                            name="dipValoresRecebidos"
                            (change)="validRecebidos()"
                            [(ngModel)]="dipValoresRecebidos"
                            type="text"
                          />
                          <small
                            *ngIf="errors.has('dipValoresRecebidos')"
                            class="text-danger"
                            >{{ errors.get("dipValoresRecebidos") }}</small
                          >
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-7"
                          >Data de Início do Benefício Anterior (Se
                          houver):</label
                        >
                        <div class="col-md-4">
                          <input
                            name="dibAnteriorValoresRecebidos"
                            [(ngModel)]="dibAnteriorValoresRecebidos"
                            (blur)="setCcheckBoxdibAnterior()"
                            class="form-control"
                            [textMask]="{ mask: dateMask }"
                            type="text"
                          />
                          <small
                            *ngIf="errors.has('dibAnteriorValoresRecebidos')"
                            class="text-danger"
                            >{{
                              errors.get("dibAnteriorValoresRecebidos")
                            }}</small
                          >
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-7"
                          >Data Final Recebidos*:</label
                        >
                        <div class="col-md-4">
                          <input
                            name="cessacaoValoresRecebidos"
                            [(ngModel)]="cessacaoValoresRecebidos"
                            [textMask]="{ mask: dateMask }"
                            class="form-control"
                            type="text"
                          />
                          <small
                            *ngIf="errors.has('cessacaoValoresRecebidos')"
                            class="text-danger"
                            >{{ errors.get("cessacaoValoresRecebidos") }}</small
                          >
                        </div>
                      </div>

                      <div class="form-group">
                        <!-- <label
                          *ngIf="recebidosBuracoNegro"
                          class="control-label col-md-7"
                        >
                          RMI antes da revisão (Buraco Negro):</label
                        >
                        <label
                          *ngIf="!recebidosBuracoNegro"
                          class="control-label col-md-7"
                        >
                          <i
                            *ngIf="
                              especieValoresRecebidos == '16' ||
                              especieValoresRecebidos == '11'
                            "
                            title="Para o benefício de LOAS, deve inserir o valor de um salário mínimo."
                            class="fa fa-question-circle fa-lg"
                          ></i
                          >Renda Mensal Inicial - RMI*:</label
                        > -->
                      <label
                        class="control-label col-md-7"
                      >
                        <i
                          *ngIf="
                            especieValoresRecebidos == '16' ||
                            especieValoresRecebidos == '11'
                          "
                          title="Para o benefício de LOAS, deve inserir o valor de um salário mínimo."
                          class="fa fa-question-circle fa-lg"
                        ></i
                        >Renda Mensal Inicial - RMI*:</label
                      >
                        <div class="col-md-4">
                          <input
                            name="rmiValoresRecebidos"
                            currencyMask
                            [(ngModel)]="rmiValoresRecebidos"
                            class="form-control"
                            type="text"
                            (blur)="validRecebidos()"
                          />
                          <small
                            *ngIf="errors.has('rmiValoresRecebidos')"
                            class="text-danger"
                            >{{ errors.get("rmiValoresRecebidos") }}</small
                          >
                        </div>
                      </div>
                      <!-- <div *ngIf="recebidosBuracoNegro" class="form-group">
                        <label class="control-label col-md-7"
                          >RMI depois da revisão (Buraco Negro):</label
                        >
                        <div class="col-md-4">
                          <input
                            name="rmiValoresRecebidosBuracoNegro"
                            [(ngModel)]="rmiValoresRecebidosBuracoNegro"
                            currencyMask
                            class="form-control"
                            type="text"
                          />
                        </div>
                      </div> -->
                      <div
                        class="form-group"
                        *ngIf="
                          [
                            '4',
                            '7',
                            '2',
                            '16',
                            '1',
                            '3',
                            '5',
                            '13',
                            '18',
                            '19'
                          ].includes(especieValoresRecebidos)
                        "
                      >
                        <label class="col-md-7 control-label"
                          >Aplicar Adicional de 25%:
                        </label>
                        <div class="col-md-4">
                          <label class="radio radio-inline">
                            <input
                              [(ngModel)]="adicional25Recebido"
                              [ngModelOptions]="{ standalone: true }"
                              (change)="errors.clear('adicional25Recebido')"
                              type="radio"
                              [value]="false"
                            />
                            Não
                          </label>
                          <label class="radio radio-inline">
                            <input
                              [(ngModel)]="adicional25Recebido"
                              [ngModelOptions]="{ standalone: true }"
                              (change)="errors.clear('adicional25Recebido')"
                              type="radio"
                              [value]="true"
                            />
                            Sim
                          </label>
                          <div class="row">
                            <div class="col-md-12">
                              <small
                                *ngIf="errors.has('adicional25Recebido')"
                                class="text-danger"
                                >{{
                                  errors.get("adicional25Recebido") | i18n
                                }}</small
                              >
                            </div>
                          </div>
                        </div>
                      </div>
                      <div
                        class="form-group"
                        *ngIf="
                          adicional25Recebido == 1 &&
                          [
                            '4',
                            '7',
                            '2',
                            '16',
                            '1',
                            '3',
                            '5',
                            '13',
                            '18',
                            '19'
                          ].includes(especieValoresRecebidos)
                        "
                      >
                        <div>
                          <label
                            class="control-label"
                            [ngClass]="true ? 'col-md-7' : 'col-md-4'"
                            >Data de Início do Adicional de 25%:
                          </label>
                          <div
                            class="col-md-4"
                            [ngClass]="true ? 'col-md-4' : 'col-md-2'"
                          >
                            <input
                              name="dataInicialadicional2Recebido"
                              [textMask]="{ mask: dateMask }"
                              [(ngModel)]="dataInicialadicional2Recebido"
                              class="form-control"
                              type="text"
                            />
                            <small
                              *ngIf="
                                errors.has('dataInicialadicional2Recebido')
                              "
                              class="text-danger"
                              >{{
                                errors.get("dataInicialadicional2Recebido")
                              }}</small
                            >
                          </div>
                        </div>
                      </div>

                      <div class="form-group" *ngIf="!recebidosBuracoNegro" >
                        <label class="control-label col-md-7">
                          Índice de Limitação no Teto:
                          <i
                            title="Índice de Reajuste de Teto (IRT) só existe para beneficios com limitação ao teto."
                            class="fa fa-question-circle fa-lg text-info"
                          ></i>
                        </label>
                        <div class="col-md-4">
                          <input
                            name="taxaAjusteMaximaConcedida"
                            class="form-control"
                            [(ngModel)]="taxaAjusteMaximaConcedida"
                            [textMask]="{ mask: IndiceMask, guide: false }"
                            type="text"
                          />
                          <small
                            *ngIf="errors.has('taxaAjusteMaximaConcedida')"
                            class="text-danger"
                            >{{
                              errors.get("taxaAjusteMaximaConcedida")
                            }}</small
                          >
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-md-8 col-sm-offset-3">
                          <div class="checkbox">
                            <label>
                              <input
                                type="checkbox"
                                name="naoAplicarSMBeneficioConcedido"
                                [(ngModel)]="naoAplicarSMBeneficioConcedido"
                                class="checkbox"
                                checked="checked"
                              />
                              <span
                                >Valor da RMI Inferior ao Salário Mínimo.</span
                              >
                            </label>
                          </div>
                        </div>
                      </div>
                      <div class="form-group"
                      *ngIf="[
                        '6',
                        '8',
                        '9',
                        '10'
                      ].includes(especieValoresRecebidos)"
                      >
                        <div class="col-md-8 col-sm-offset-3">
                          <div class="checkbox">
                            <label>
                              <input
                                type="checkbox"
                                name="manterPercentualSMConcedido"
                                [(ngModel)]="manterPercentualSMConcedido"
                                class="checkbox"
                                checked="checked"
                              />
                              <span
                                > Manter a RMA em {{changePercentual(especieValoresRecebidos, 'r') }} do Salário Mínimo.</span
                              >
                            </label>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-md-8 col-sm-offset-3">
                          <div class="checkbox">
                            <label>
                              <input
                                type="checkbox"
                                name="calcularAbono13UltimoMesRecebidos"
                                [(ngModel)]="calcularAbono13UltimoMesRecebidos"
                                class="checkbox"
                                checked="checked"
                              />
                              <span
                                >Calcular o 13º no Último Ano do Cálculo.</span
                              >
                            </label>
                          </div>
                        </div>
                      </div>
                    </fieldset>
                    <div class="form-group">
                      <div class="col-md-12">
                        <p class="pull-left no-margin">(*) Preenchimento Obrigatório.</p>
                        <button
                          *ngIf="!rowRecebidosEdit"
                          id="adicionarRecebido"
                          (click)="inserirRecebidoList($event)"
                          type="button"
                          class="btn-labeled btn-info pull-right"
                        >
                          <span class="btn-label">
                            <i class="fa fa-plus"></i>
                          </span>
                          <span
                            >&nbsp;&nbsp;&nbsp;Adicionar
                            Benefício&nbsp;&nbsp;&nbsp;</span
                          >
                        </button>
                        <button
                          *ngIf="rowRecebidosEdit"
                          id="replaceRecebido"
                          (click)="updateRecebidoList($event, rowRecebidosEdit)"
                          type="button"
                          class="btn-labeled btn-info pull-right"
                        >
                          <span class="btn-label">
                            <i class="fa fa-edit"></i>
                          </span>
                          <span
                            >&nbsp;&nbsp;&nbsp;Atualizar
                            Benefício&nbsp;&nbsp;&nbsp;</span
                          >
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </sa-widget>
          </article>
        </div>
      </div>
    </div>
  </div>
</div>
