<div id="content">

  <!-- informações do segurado -->
  <article class="col-sm-12 col-md-12 col-lg-12">
    <sa-widget [colorbutton]="false" [editbutton]="false">
      <header>
        <span class="widget-icon">
          <i class="fa fa-edit"></i>
        </span>
        <h2>Dados do Segurado</h2>
      </header>
      <!-- widget div-->
      <div>
        <!-- widget content -->
        <div class="widget-body">
          <ul class="list-unstyled">
            <li><b>Nome:</b>  {{segurado.nome}} </li>
            <li><b>PIS:</b>   {{segurado.numero_documento}}</li>
            <li><b>Data de Nascimento:</b>  {{segurado.data_nascimento}}</li>
            <li *ngIf="segurado.sexo=='m'"><b>Sexo:</b>  Masculino</li>
            <li *ngIf="segurado.sexo=='f'"><b>Sexo:</b>  Feminino</li>           
          </ul>
          <div class="form-actions">
            <div class="row">
              <div class="col-md-12">
                <button type="submit" (click)="editSegurado()" class="btn btn-labeled btn-info pull-left">
                  <span class="btn-label">
                    <i class="fa fa-pencil"></i>
                  </span> Editar
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </sa-widget>
  </article>


  <!-- widget grid -->
  <sa-widgets-grid>

    <!-- row -->
    <div class="row">

      <article class="col-sm-12 col-md-12 col-lg-12">
        <sa-widget [colorbutton]="false" [editbutton]="false">
          <header>
            <span class="widget-icon">
            <i class="fa fa-calculator"></i>
            </span>
            <h2>Informações para comparação</h2>
          </header>
          <div>
            <div class="widget-body">
              <form class="form-horizontal">
                <fieldset>
                  <div class="form-group">
                    <label class="col-md-2 control-label" for="select-2">Alíquota:</label>
                    <div class="col-md-8">
                      <select [(ngModel)]="aliquota" (change)="changeAliquota()" [ngModelOptions]="{standalone: true}" class="form-control" id="select-1">
                        <option value="11">11% (Simples/Nacional)</option>
                        <option value="20">20%</option>
                        <option value="31">31% (20% da Empresa e 11% do Segurado)</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-md-2 control-label" for="select-1">Valor da contribuição em atraso:</label>
                    <div class="col-md-8">
                      <input [(ngModel)]="contribEmAtraso" currencyMask maxlength="20" [ngModelOptions]="{standalone: true}" class="form-control" type="text">
                    </div>
                  </div>
                </fieldset>
                <div class="form-actions">
                  <div class="row">
                    <div class="col-md-12">
                      <button (click)="recalcular()" type="submit" class="btn btn-labeled btn-primary">
                        <span class="btn-label">
                          <i class="fa fa-calculator"></i>
                        </span> Recalcular
                      </button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </sa-widget>
      </article>

      <article class="col-sm-12 col-md-12 col-lg-12">
        <!-- Widget ID (each widget will need unique ID)-->
        <sa-widget [colorbutton]="false" [editbutton]="false">
          <header>
            <span class="widget-icon">
              <i class="fa fa-table"></i>
            </span>
            <h2>Cálculos a serem comparados</h2>
          </header>
          <div>
            <div class="widget-body no-padding" *ngIf="!isUpdating">
              <sa-datatable [options]="tableOptions" 
                paginationLength="true" tableClass="table table-striped table-bordered table-hover" width="100%">
                <thead>
                  <tr>
                    <th>Nº do Cálculo</th>
                    <th>Espécie</th>
                    <th>DIB</th>
                    <th>Benefício</th>
                  </tr>
                </thead>
              </sa-datatable>
              <table class="table table-bordered table-hover">
                <tr>
                  <td width="50%">
                    <span class="pull-right font-bold">Idade na última DIB:</span>
                  </td>
                  <td>
                    {{idadeUltimaDib}} anos
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </sa-widget>
      </article>

      <!-- Resultados hipotese seguro facultativa -->
      <article class="col-sm-12 col-md-12 col-lg-12">
        <sa-widget [colorbutton]="false" [editbutton]="false">
          <header>
            <span class="widget-icon">
              <i class="fa fa-edit"></i>
            </span>
            <h2>Hipótese em que o segurado contribuía como segurado facultativo ou contribuinte individual cuja alíquota é de {{aliquota}}%</h2>
          </header>
          <div>
            <div class="widget-body">
              <table class="table table-bordered table-hover">
                <tr *ngFor="let resultado of resultadosFacultativo">
                  <td width="50%">
                    <span class="pull-right font-bold">{{resultado.string}}</span>
                  </td>
                  <td>
                    {{resultado.value}}
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </sa-widget>
      </article>

      <!-- Hipóteses em que o Segurado(a) teve contribuição descontada diretamente de seu salário -->
      <article class="col-sm-12 col-md-12 col-lg-12"> 
        <sa-widget [colorbutton]="false" [editbutton]="false">
          <header>
            <span class="widget-icon">
              <i class="fa fa-edit"></i>
            </span>
            <h2>Hipóteses em que o Segurado(a) teve contribuição descontada diretamente de seu salário</h2>
          </header>
          <div>
            <div class="widget-body">
              <table class="table table-bordered table-hover">
                <tr *ngFor="let resultado of resultadosDescontadoSlario">
                  <td width="50%">
                    <span class="pull-right font-bold">{{resultado.string}}</span>
                  </td>
                  <td>
                    {{resultado.value}}
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </sa-widget>
      </article>

    </div>

    <!-- end row -->

  </sa-widgets-grid>

  <!-- end widget grid -->

</div>