<div class="widget-body no-padding">
  <sa-datatable
    [options]="datatableOptions"
    paginationLength="true"
    pagination="true"
    tableClass="table table-striped table-bordered table-hover table-condensed"
    width="100%"
  >
    <thead>
      <tr>
        <th>Ações</th>
        <th>Data do Cálculo</th>
        <th>Data Inicial do Período a Indenizar</th>
        <th>Data Final do Período a Indenizar</th>
        <th>Média dos Salário de Contribuição</th>
        <th>Valor da Contribuíção</th>
        <th>Valor Total a Indenizar</th>
      </tr>
    </thead>
  </sa-datatable>
</div>
