<div class="widget-body no-padding">
	<sa-datatable [options]="datatableOptions" paginationLength="true" pagination="true" tableClass="table table-striped table-bordered table-hover" width="100%">
		<thead>
			<tr>
		    <th>Ações</th>
		    <th>Número</th>
		    <th>Data do Cálculo</th>
		    <th>Contribuição Inicial</th>
		    <th>Contribuição Final</th>
		    <th>Contribuição Inicial</th>
		    <th>Contribuição Final</th>
		    <th>Salário de Contribuição</th>
		    <th>Valor Final Corrigido</th>
			</tr>
		</thead>
	</sa-datatable>
</div>