<div id="content">
  <!-- widget grid -->
  <sa-widgets-grid>
    <div class="row mb-3">
      <article class="col-sm-12 col-md-12 col-lg-12">
        <h1>Liquidação de Sentença</h1>
      </article>
    </div>
    <!-- row -->
    <div *ngIf="!isEdit" class="row mb-3">
      <div class="col-sm-12 col-md-12 col-lg-12 mb-0 pb-0">
        <app-beneficios-segurados-create (onSubmit)="onCreate($event)"></app-beneficios-segurados-create>
      </div>
    </div>
    <div *ngIf="isEdit" class="row mb-3">
      <div class="col-sm-12 col-md-12 col-lg-12 mb-0 pb-0">
        <app-beneficios-segurados-edit (onSubmit)="onCreate($event)"></app-beneficios-segurados-edit>
      </div>
    </div>
    <br>
    <div class="row">
      <article class="col-sm-12 col-md-12 col-lg-12" *ngIf="!isUpdating">
        <app-beneficios-segurados-index [list]="list" [datatableOptions]="datatableOptions"></app-beneficios-segurados-index>
      </article>
    </div>

    <div class="row mb-3">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading m-0 p-1">
            <strong>Legenda</strong>
          </div>
          <div class="panel-body m-1 p-1">
            <ul class="list-inline">
              <li><i class="fa fa-list fa-1-7x bg-color-blue txt-color-white p-1"></i>Ver a lista de cálculos para o segurado</li>
              <li><i class="fa fa-edit fa-1-7x btn-warning txt-color-white p-1"></i> Editar</li>
              <li><i class="fa fa-times fa-1-7x btn-danger txt-color-white p-1"></i> Remover</li>
            </ul>
          </div>
        </div>
      </div>
  </div>
    <div class="row mb-3">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading m-0 p-1">
            <strong>Instrução do cálculo</strong>
          </div>
          <div class="panel-body m-1 p-1">
            <ul class="list-unstyled">
              <li><a routerLink="/tutorial" target="_blank">Clique aqui e veja os tutoriais e manuais dos simuladores</a></li>
            </ul>
          </div>
        </div>
      </div>
  </div>

    <!-- end row -->

  </sa-widgets-grid>

  <!-- end widget grid -->

</div>