<table class="table table-striped">
  <thead>
    <tr>
      <th rowspan="2" class="text-center"><span data-placement="bottom" tooltip="CONSIDERANDO FATORES MULTIPLICADORES">Conclusões</span></th>
      <th colspan="3" class="text-center">Tempo de Contribuíção</th>
      <th rowspan="2" class="text-center">Carência </th>
      <th rowspan="2" class="text-center">Exportar </th>
    </tr>
    <tr class="text-center">
      <th class="text-center">Anos</th>
      <th class="text-center">Meses</th>
      <th class="text-center">dias</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Tempo de contribuição anterior a Constituição de 88 (05/10/88)</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Tempo de contribuição até o término do Buraco Negro (04/04/1991)</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>

    <tr>
      <td>Tempo de contribuição até a Emenda nº 20/98 - (16/12/1998)</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Tempo de contribuição até a Lei nº 9876/99 - (29/11/1999)</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Tempo total de contribuição até a data fim do último período</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Tempo de Pedágio para Aposentadoria Proporcional</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Tempo Mínimo para Aposentadoria Proporcional com Pedágio</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Tempo a cumprir para aposentadoria proporcional</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Tempo a cumprir para Aposentadoria Integral</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Idade mínima exigida para aposentadoria proporcional</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Somatória do tempo de contribuição e idade</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>