<table *ngIf="!isUpdateTotal" class="table table-striped table-bordered no-margin">
  <thead>
    <tr>
      <th rowspan="2" class="text-center"><span data-placement="bottom" tooltip="CONSIDERANDO FATORES MULTIPLICADORES">Conclusões</span></th>
      <th colspan="3" class="text-center">Tempo de Contribuíção</th>
      <th rowspan="2" class="text-center">Carência </th>
      <th rowspan="2" class="text-center">Exportar </th>
    </tr>
    <tr>
      <th class="text-center">Anos</th>
      <th class="text-center">Meses</th>
      <th class="text-center">dias</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Tempo de contribuição anterior a Constituição de 88 (05/10/1988)</td>
      <td class="text-center">{{ tempoTotalConFator88.years() }}</td>
      <td class="text-center">{{ tempoTotalConFator88.months() }}</td>
      <td class="text-center">{{ this.Math.ceil(tempoTotalConFator88.days()) | number : '1.0-0' }}</td>
      <td class="text-center">{{ carencia88 }}</td>
      <td class="text-center no-padding">
         <app-contagem-tempo-conclusao-exportar-rgps  
                    [calculo]="calculo" 
                    [segurado]="segurado"
                    [dataExportacao]="05/10/1988"
                    [carencia]="carencia88"
                    [totalAnos]="tempoTotalConFator88.years()"
                    [totalMeses]="tempoTotalConFator88.months()"
                    [totalDias]=" this.Math.ceil(tempoTotalConFator88.days())"
        ></app-contagem-tempo-conclusao-exportar-rgps>
      </td>
    </tr>
    <tr>
      <td>Tempo de contribuição até o término do Buraco Negro (04/04/1991)</td>
      <td class="text-center">{{ tempoTotalConFator91.years() }}</td>
      <td class="text-center">{{ tempoTotalConFator91.months() }}</td>
      <td class="text-center">{{ this.Math.ceil(tempoTotalConFator91.days()) | number : '1.0-0' }}</td>
      <td class="text-center">{{ carencia91 }}</td>
      <td class="text-center no-padding">
          <app-contagem-tempo-conclusao-exportar-rgps  
                    [calculo]="calculo" 
                    [segurado]="segurado"
                    [dataExportacao]="04/04/1991"
                    [carencia]="carencia91"
                    [totalAnos]="tempoTotalConFator91.years()"
                    [totalMeses]="tempoTotalConFator91.months()"
                    [totalDias]=" this.Math.ceil(tempoTotalConFator91.days())"
        ></app-contagem-tempo-conclusao-exportar-rgps>
      </td>
    </tr>

    <tr>
      <td>Tempo de contribuição até a Emenda nº 20/98 - (16/12/1998)</td>
      <td class="text-center">{{ tempoTotalConFator98.years() }}</td>
      <td class="text-center">{{ tempoTotalConFator98.months() }}</td>
      <td class="text-center">{{ this.Math.ceil(tempoTotalConFator98.days()) | number : '1.0-0' }}</td>
      <td class="text-center">{{ carencia98 }}</td>
      <td class="text-center no-padding">
          <app-contagem-tempo-conclusao-exportar-rgps  
                [calculo]="calculo" 
                [segurado]="segurado"
                [dataExportacao]="16/12/1998"
                [carencia]="carencia98"
                [totalAnos]="tempoTotalConFator98.years()"
                [totalMeses]="tempoTotalConFator98.months()"
                [totalDias]=" this.Math.ceil(tempoTotalConFator98.days())"
          ></app-contagem-tempo-conclusao-exportar-rgps>
      </td>
    </tr>
    <tr>
      <td>Tempo de contribuição até a Lei nº 9876/99 - (29/11/1999)</td>
      <td class="text-center">{{ tempoTotalConFator99.years() }}</td>
      <td class="text-center">{{ tempoTotalConFator99.months() }}</td>
      <td class="text-center">{{ this.Math.ceil(tempoTotalConFator99.days()) | number : '1.0-0' }}</td>
      <td class="text-center">{{ carencia99 }}</td>
      <td class="text-center no-padding">
          <app-contagem-tempo-conclusao-exportar-rgps  
              [calculo]="calculo" 
              [segurado]="segurado"
              [dataExportacao]="29/11/1999"
              [carencia]="carencia99"
              [totalAnos]="tempoTotalConFator99.years()"
              [totalMeses]="tempoTotalConFator99.months()"
              [totalDias]=" this.Math.ceil(tempoTotalConFator99.days())"
          ></app-contagem-tempo-conclusao-exportar-rgps>
      </td>
    </tr>
    <tr>
      <td>Tempo total de contribuição até a data fim do último período</td>
      <td class="text-center">{{ tempoTotalConFator.years() }}</td>
      <td class="text-center">{{ tempoTotalConFator.months() }}</td>
      <td class="text-center">{{ this.Math.ceil(tempoTotalConFator.days()) | number : '1.0-0' }}</td>
        <td class="text-center">{{ carencia }}</td>
      <td class="text-center no-padding">
          <app-contagem-tempo-conclusao-exportar-rgps  
          [calculo]="calculo" 
          [segurado]="segurado"
          [dataExportacao]="limitesDoVinculo.fim"
          [carencia]="carencia"
          [totalAnos]="tempoTotalConFator.years()"
          [totalMeses]="tempoTotalConFator.months()"
          [totalDias]=" this.Math.ceil(tempoTotalConFator.days())"
      ></app-contagem-tempo-conclusao-exportar-rgps>
      </td>
    </tr>
    <tr>
      <td>Tempo de Pedágio para Aposentadoria Proporcional</td>
      <td class="text-center">{{ tempoDePedApProp.years() }}</td>
      <td class="text-center">{{ tempoDePedApProp.months() }}</td>
      <td class="text-center">{{ this.Math.ceil(tempoDePedApProp.days()) | number : '1.0-0' }}</td>
      <td rowspan="6" colspan="2"></td>
      <!-- <td rowspan="6"></td> -->
    </tr>
    <tr>
      <td>Tempo Mínimo para Aposentadoria Proporcional com Pedágio</td>
      <td class="text-center">{{ tempoDePedApPropComPedagio.years() }}</td>
      <td class="text-center">{{ tempoDePedApPropComPedagio.months() }}</td>
      <td class="text-center">{{ this.Math.ceil(tempoDePedApPropComPedagio.days()) | number : '1.0-0' }}</td>
    </tr>
    <tr>
      <td>Tempo a cumprir para aposentadoria proporcional</td>
      <td class="text-center">{{ tempoParaAposProp.years() }}</td>
      <td class="text-center">{{ tempoParaAposProp.months() }}</td>
      <td class="text-center">{{ this.Math.ceil(tempoParaAposProp.days()) | number : '1.0-0' }}</td>
    </tr>
    <tr>
      <td>Tempo a cumprir para Aposentadoria Integral</td>
      <td class="text-center">{{ tempoCumprirAposItentegal.years() }}</td>
      <td class="text-center">{{ tempoCumprirAposItentegal.months() }}</td>
      <td class="text-center">{{ this.Math.ceil(tempoCumprirAposItentegal.days()) | number : '1.0-0' }}</td>
    </tr>
    <tr>
      <td>Idade mínima exigida para aposentadoria proporcional</td>
      <td colspan="3" class="text-center"> {{ idadeMinimaAposProp }}</td>
    </tr>
    <tr>
      <td>Somatória do tempo de contribuição e idade</td>
      <td class="text-center">{{ somatoriaTempoContribIdade.years() }}</td>
      <td class="text-center">{{ somatoriaTempoContribIdade.months() }}</td>
      <td class="text-center">{{ this.Math.ceil(somatoriaTempoContribIdade.days()) | number : '1.0-0' }}</td>
    </tr>
  </tbody>
</table>