<table
  *ngIf="!isUpdateTotal"
  class="table table-striped table-bordered no-margin"
>
  <thead>
    <tr>
      <th rowspan="2" class="text-center">
        Conclusões
        <i
          class="fa fa-question-circle fa-lg text-info"
          data-placement="bottom"
          tooltip="CONSIDERANDO FATORES MULTIPLICADORES"
        ></i>
      </th>
      <th colspan="3" class="text-center">Tempo de Contribuição</th>
      <th rowspan="2" class="text-center">Carência</th>
      <th rowspan="2" class="text-center not-print">
        Exportar para RMI do RGPS
        <i
          class="fa fa-question-circle fa-lg text-info"
          data-placement="bottom"
          tooltip="Ao clicar no botão exportar você será direcionado para calculo de RMI do RGPS."
        ></i>
      </th>
    </tr>
    <tr>
      <th class="text-center">Anos</th>
      <th class="text-center">Meses</th>
      <th class="text-center">Dias</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Tempo de contribuição anterior a Constituição de 88 (05/10/1988)</td>
      <td class="text-center">{{ tempoTotalConFator88.years }}</td>
      <td class="text-center">{{ tempoTotalConFator88.months }}</td>
      <td class="text-center">
        {{ tempoTotalConFator88.days }}
      </td>
      <td class="text-center">{{ carencia88 }}</td>
      <td class="text-center no-padding not-print">
        <span *ngIf="tempoTotalConFator88.fullDays > 0">
          <app-contagem-tempo-conclusao-exportar-rgps
            [seguradoId]="segurado.id"
            [dataExportacao]="'04/10/1988'"
            [dadosParaExportar]="this.dadosParaExportar"
            [label]="'88'"
          ></app-contagem-tempo-conclusao-exportar-rgps>
        </span>
      </td>
    </tr>
    <tr>
      <td>Tempo de contribuição até o término do Buraco Negro (04/04/1991)</td>
      <td class="text-center">{{ tempoTotalConFator91.years }}</td>
      <td class="text-center">{{ tempoTotalConFator91.months }}</td>
      <td class="text-center">{{ tempoTotalConFator91.days }}</td>
      <td class="text-center">{{ carencia91 }}</td>
      <td class="text-center no-padding not-print">
        <span *ngIf="tempoTotalConFator91.fullDays > 0">
          <app-contagem-tempo-conclusao-exportar-rgps
            [seguradoId]="segurado.id"
            [dataExportacao]="'04/04/1991'"
            [dadosParaExportar]="this.dadosParaExportar"
            [label]="'91'"
          ></app-contagem-tempo-conclusao-exportar-rgps>
        </span>
      </td>
    </tr>
    <tr>
      <td>Tempo de contribuição até a Emenda nº 20/98 - (16/12/1998)</td>
      <td class="text-center">{{ tempoTotalConFator98.years }}</td>
      <td class="text-center">{{ tempoTotalConFator98.months }}</td>
      <td class="text-center">{{ tempoTotalConFator98.days }}</td>
      <td class="text-center">{{ carencia98 }}</td>
      <td class="text-center no-padding not-print">
        <span *ngIf="tempoTotalConFator98.fullDays > 0">
          <app-contagem-tempo-conclusao-exportar-rgps
            [seguradoId]="segurado.id"
            [dataExportacao]="'15/12/1998'"
            [dadosParaExportar]="this.dadosParaExportar"
            [label]="'98'"
          ></app-contagem-tempo-conclusao-exportar-rgps>
        </span>
      </td>
    </tr>
    <tr>
      <td>Tempo de contribuição até a Lei nº 9876/99 - (29/11/1999)</td>
      <td class="text-center">{{ tempoTotalConFator99.years }}</td>
      <td class="text-center">{{ tempoTotalConFator99.months }}</td>
      <td class="text-center">{{ tempoTotalConFator99.days }}</td>
      <td class="text-center">{{ carencia99 }}</td>
      <td class="text-center no-padding not-print">
        <span *ngIf="tempoTotalConFator99.fullDays > 0">
          <app-contagem-tempo-conclusao-exportar-rgps
            [seguradoId]="segurado.id"
            [dataExportacao]="'28/11/1999'"
            [dadosParaExportar]="this.dadosParaExportar"
            [label]="'99'"
          ></app-contagem-tempo-conclusao-exportar-rgps>
        </span>
      </td>
    </tr>
    <tr>
      <td>Tempo de contribuição até a EC nº 103/2019</td>
      <td class="text-center">{{ tempoTotalConFator19.years }}</td>
      <td class="text-center">{{ tempoTotalConFator19.months }}</td>
      <td class="text-center">{{ tempoTotalConFator19.days }}</td>
      <td class="text-center">{{ carencia19 }}</td>
      <td class="text-center no-padding not-print">
        <span *ngIf="tempoTotalConFator19.fullDays > 0">
          <app-contagem-tempo-conclusao-exportar-rgps
            [seguradoId]="segurado.id"
            [dataExportacao]="'13/11/2019'"
            [dadosParaExportar]="this.dadosParaExportar"
            [label]="'19'"
          ></app-contagem-tempo-conclusao-exportar-rgps>
        </span>
      </td>
    </tr>
    <tr>
      <td>Tempo total de contribuição até a data fim do último período</td>
      <td class="text-center">{{ tempoTotalConFator.years }}</td>
      <td class="text-center">{{ tempoTotalConFator.months }}</td>
      <td class="text-center">{{ tempoTotalConFator.days }}</td>
      <td class="text-center">{{ carencia }}</td>
      <td class="text-center no-padding not-print">
        <span *ngIf="tempoTotalConFator.fullDays > 0">
          <app-contagem-tempo-conclusao-exportar-rgps
            [seguradoId]="segurado.id"
            [dataExportacao]="limitesDoVinculo.fim.format('DD/MM/YYYY')"
            [dadosParaExportar]="this.dadosParaExportar"
            [label]="''"
          ></app-contagem-tempo-conclusao-exportar-rgps>
        </span>
      </td>
    </tr>
    <tr *ngIf="!isPeridoAposReforma">
      <td>
        Tempo de Pedágio para Aposentadoria Proporcional Emenda nº 20/98 -
        (16/12/1998)
      </td>
      <td class="text-center">{{ tempoDePedApProp.years }}</td>
      <td class="text-center">{{ tempoDePedApProp.months }}</td>
      <td class="text-center">
        {{ tempoDePedApProp.days }}
      </td>
      <td rowspan="8" colspan="2"></td>
    </tr>
    <tr *ngIf="!isPeridoAposReforma">
      <td>
        Tempo Mínimo para Aposentadoria Proporcional com Pedágio Emenda nº 20/98
        - (16/12/1998)
      </td>
      <td class="text-center">{{ tempoDePedApPropComPedagio.years }}</td>
      <td class="text-center">{{ tempoDePedApPropComPedagio.months }}</td>
      <td class="text-center">
        {{ tempoDePedApPropComPedagio.days }}
      </td>
    </tr>
    <tr *ngIf="!isPeridoAposReforma">
      <td>
        Tempo a cumprir para aposentadoria proporcional Emenda nº 20/98 -
        (16/12/1998)
      </td>
      <td class="text-center">{{ tempoParaAposProp.years }}</td>
      <td class="text-center">{{ tempoParaAposProp.months }}</td>
      <td class="text-center">
        {{ tempoParaAposProp.days }}
      </td>
    </tr>
    <tr *ngIf="!isPeridoAposReforma">
      <td>
        Tempo a cumprir para Aposentadoria Integral Lei nº 9876/99 -
        (29/11/1999)
      </td>
      <td class="text-center">{{ tempoCumprirAposItentegal.years }}</td>
      <td class="text-center">{{ tempoCumprirAposItentegal.months }}</td>
      <td class="text-center">
        {{ tempoCumprirAposItentegal.days}}
      </td>
    </tr>
    <tr *ngIf="!isPeridoAposReforma">
      <td>
        Idade mínima exigida para aposentadoria proporcional Emenda nº 20/98 -
        (16/12/1998)
      </td>
      <td colspan="3" class="text-center">{{ idadeMinimaAposProp }}</td>
    </tr>
    <tr *ngIf="!isUpdateTotalTempoIdadeA">
      <td>
        Somatório do Tempo de Contribuição e Idade na Lei 13.183/2015 (05/11/2015)
      </td>
      <td class="text-center">{{ somatoriaTempoContribIdade.years }}</td>
      <td class="text-center">{{ somatoriaTempoContribIdade.months }}</td>
      <td class="text-center">
        {{ somatoriaTempoContribIdade.days }}
      </td>
      <td *ngIf="isPeridoAposReforma"  rowspan="3" colspan="2"></td>
    </tr>
    <tr *ngIf="!isUpdateTotalTempoIdadeEC103">
      <td>
        Somatório do Tempo de Contribuição e Idade na EC 103/2019 (13/11/2019)
      </td>
      <td class="text-center">
        {{ somatoriaTempoContribIdadeEC103.years }}
      </td>
      <td class="text-center">
        {{ somatoriaTempoContribIdadeEC103.months }}
      </td>
      <td class="text-center">
        {{ somatoriaTempoContribIdadeEC103.days }}
      </td>
    </tr>
    <tr *ngIf="!isUpdateTotalTempoIdadeB">
      <td>
        Somatório do Tempo de Contribuição e Idade na Data Atual (EC 103/2019)
      </td>
      <td class="text-center">
        {{ somatoriaTempoContribIdadeAtual.years }}
      </td>
      <td class="text-center">
        {{ somatoriaTempoContribIdadeAtual.months }}
      </td>
      <td class="text-center">
        {{ somatoriaTempoContribIdadeAtual.days }}
      </td>
    </tr>
  </tbody>
</table>

<!-- <table *ngIf="!isUpdateTotal" class="table table-striped table-bordered no-margin">
  <thead>
    <tr>
      <th rowspan="2" class="text-center">Conclusões <i class="fa fa-question-circle fa-lg text-info" data-placement="bottom" tooltip="CONSIDERANDO FATORES MULTIPLICADORES"></i></th>
      <th colspan="3" class="text-center">Tempo de Contribuição</th>
      <th rowspan="2" class="text-center">Carência </th>
      <th rowspan="2" class="text-center not-print" >Exportar para RMI do RGPS <i class="fa fa-question-circle fa-lg text-info" data-placement="bottom" tooltip="Ao clicar no botão exportar você será direcionado para calculo de RMI do RGPS."></i></th>
    </tr>
    <tr>
      <th class="text-center">Anos</th>
      <th class="text-center">Meses</th>
      <th class="text-center">Dias</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Tempo de contribuição anterior a Constituição de 88 (05/10/1988)</td>
      <td class="text-center">{{ tempoTotalConFator88.years() }}</td>
      <td class="text-center">{{ tempoTotalConFator88.months() }}</td>
      <td class="text-center">{{ this.Math.ceil(tempoTotalConFator88.days()) }}</td>
      <td class="text-center">{{ carencia88 }}</td>
      <td class="text-center no-padding not-print">
        <span *ngIf="tempoTotalConFator88.asDays() > 0">
          <app-contagem-tempo-conclusao-exportar-rgps [seguradoId]="segurado.id" [dataExportacao]="'04/10/1988'"
            [dadosParaExportar]="this.dadosParaExportar" [label]="'88'"></app-contagem-tempo-conclusao-exportar-rgps>
        </span>
      </td>
    </tr>
    <tr>
      <td>Tempo de contribuição até o término do Buraco Negro (04/04/1991)</td>
      <td class="text-center">{{ tempoTotalConFator91.years() }}</td>
      <td class="text-center">{{ tempoTotalConFator91.months() }}</td>
      <td class="text-center">{{ this.Math.ceil(tempoTotalConFator91.days())}}</td>
      <td class="text-center">{{ carencia91 }}</td>
      <td class="text-center no-padding not-print">
        <span *ngIf="tempoTotalConFator91.asDays() > 0">
          <app-contagem-tempo-conclusao-exportar-rgps  [seguradoId]="segurado.id" [dataExportacao]="'04/04/1991'"
            [dadosParaExportar]="this.dadosParaExportar" [label]="'91'"></app-contagem-tempo-conclusao-exportar-rgps>
        </span>
      </td>
    </tr>
    <tr>
      <td>Tempo de contribuição até a Emenda nº 20/98 - (16/12/1998)</td>
      <td class="text-center">{{ tempoTotalConFator98.years() }}</td>
      <td class="text-center">{{ tempoTotalConFator98.months() }}</td>
      <td class="text-center">{{ this.Math.ceil(tempoTotalConFator98.days()) }}</td>
      <td class="text-center">{{ carencia98 }}</td>
      <td class="text-center no-padding not-print">
        <span *ngIf="tempoTotalConFator98.asDays() > 0">
          <app-contagem-tempo-conclusao-exportar-rgps  [seguradoId]="segurado.id" [dataExportacao]="'15/12/1998'"
            [dadosParaExportar]="this.dadosParaExportar" [label]="'98'"></app-contagem-tempo-conclusao-exportar-rgps>
        </span>
      </td>
    </tr>
    <tr>
      <td>Tempo de contribuição até a Lei nº 9876/99 - (29/11/1999)</td>
      <td class="text-center">{{ tempoTotalConFator99.years() }}</td>
      <td class="text-center">{{ tempoTotalConFator99.months() }}</td>
      <td class="text-center">{{ this.Math.ceil(tempoTotalConFator99.days()) }}</td>
      <td class="text-center">{{ carencia99 }}</td>
      <td class="text-center no-padding not-print">
        <span *ngIf="tempoTotalConFator99.asDays() > 0">
          <app-contagem-tempo-conclusao-exportar-rgps  [seguradoId]="segurado.id" [dataExportacao]="'28/11/1999'"
            [dadosParaExportar]="this.dadosParaExportar" [label]="'99'"></app-contagem-tempo-conclusao-exportar-rgps>
        </span>
      </td>
    </tr>
    <tr>
      <td>Tempo de contribuição até a EC nº 103/2019</td>
      <td class="text-center">{{ tempoTotalConFator19.years() }}</td>
      <td class="text-center">{{ tempoTotalConFator19.months() }}</td>
      <td class="text-center">{{ this.Math.ceil(tempoTotalConFator19.days()) }}</td>
      <td class="text-center">{{ carencia19 }}</td>
      <td class="text-center no-padding not-print">
        <span *ngIf="tempoTotalConFator19.asDays() > 0">
          <app-contagem-tempo-conclusao-exportar-rgps  [seguradoId]="segurado.id" [dataExportacao]="'13/11/2019'"
            [dadosParaExportar]="this.dadosParaExportar" [label]="'19'"></app-contagem-tempo-conclusao-exportar-rgps>
        </span>
      </td>
    </tr>
    <tr>
      <td>Tempo total de contribuição até a data fim do último período</td>
      <td class="text-center">{{ tempoTotalConFator.years() }}</td>
      <td class="text-center">{{ tempoTotalConFator.months() }}</td>
      <td class="text-center">{{ this.Math.ceil(tempoTotalConFator.days()) }}</td>
      <td class="text-center">{{ carencia }}</td>
      <td class="text-center no-padding not-print">
        <span *ngIf="tempoTotalConFator.asDays() > 0">
          <app-contagem-tempo-conclusao-exportar-rgps  [seguradoId]="segurado.id" [dataExportacao]="limitesDoVinculo.fim.format('DD/MM/YYYY')"
            [dadosParaExportar]="this.dadosParaExportar" [label]="''"></app-contagem-tempo-conclusao-exportar-rgps>
        </span>
      </td>
    </tr>
    <tr *ngIf="false" >
      <td>Tempo de Pedágio para Aposentadoria Proporcional Emenda nº 20/98 - (16/12/1998)</td>
      <td class="text-center">{{ tempoDePedApProp.years() }}</td>
      <td class="text-center">{{ tempoDePedApProp.months() }}</td>
      <td class="text-center">{{ this.Math.ceil(tempoDePedApProp.days())  }}</td>
      <td rowspan="7" colspan="2"></td>
    </tr>
    <tr>
      <td>Tempo Mínimo para Aposentadoria Proporcional com Pedágio Emenda nº 20/98 - (16/12/1998)</td>
      <td class="text-center">{{ tempoDePedApPropComPedagio.years() }}</td>
      <td class="text-center">{{ tempoDePedApPropComPedagio.months() }}</td>
      <td class="text-center">{{ this.Math.ceil(tempoDePedApPropComPedagio.days())  }}</td>
    </tr>
    <tr>
      <td>Tempo a cumprir para aposentadoria proporcional Emenda nº 20/98 - (16/12/1998)</td>
      <td class="text-center">{{ tempoParaAposProp.years() }}</td>
      <td class="text-center">{{ tempoParaAposProp.months() }}</td>
      <td class="text-center">{{ this.Math.ceil(tempoParaAposProp.days())  }}</td>
    </tr>
    <tr>
      <td>Tempo a cumprir para Aposentadoria Integral Lei nº 9876/99 - (29/11/1999)</td>
      <td class="text-center">{{ tempoCumprirAposItentegal.years() }}</td>
      <td class="text-center">{{ tempoCumprirAposItentegal.months() }}</td>
      <td class="text-center">{{ this.Math.ceil(tempoCumprirAposItentegal.days())  }}</td>
    </tr>
    <tr>
      <td>Idade mínima exigida para aposentadoria proporcional  Emenda nº 20/98 - (16/12/1998)</td>
      <td colspan="3" class="text-center"> {{ idadeMinimaAposProp }}</td>
    </tr>
    <tr *ngIf="!isUpdateTotalTempoIdadeA">
      <td>Somatória do tempo de contribuição e idade Lei 13.183/2015 - (04/11/2015)</td>
      <td class="text-center">{{ somatoriaTempoContribIdade.years() }}</td>
      <td class="text-center">{{ somatoriaTempoContribIdade.months() }}</td>
      <td class="text-center">{{ this.Math.ceil(somatoriaTempoContribIdade.days())  }}</td>
    </tr>
    <tr *ngIf="!isUpdateTotalTempoIdadeB">
      <td>Somatória do tempo de contribuição e idade atual Lei 13.183/2015 - (04/11/2015)</td>
      <td class="text-center">{{ somatoriaTempoContribIdadeAtual.years() }}</td>
      <td class="text-center">{{ somatoriaTempoContribIdadeAtual.months() }}</td>
      <td class="text-center">{{ this.Math.ceil(somatoriaTempoContribIdadeAtual.days()) }}</td>
    </tr>
  </tbody>
</table> -->
