<table class="table table-bordered table-hover" *ngIf="!isUpdating">
  <thead>
    <tr>
      <th colspan="2">
        Regra de Transição do art. 15 da EC nº 103/2019 (regra de pontos)
      </th>
    </tr>
    <tr >
      <th>
        <span class="pull-right">Tipo</span>
      </th>
      <th>
        Descrição
      </th>
    </tr>
  </thead>
  <tbody >
    <tr>
      <td width="50%">
        <span class="pull-right font-bold">Data de início do benefício</span>
      </td>
      <td>{{ conclusoesRegra1.dataDib }}</td>
    </tr>
    <tr>
      <td width="50%">
        <span class="pull-right font-bold">Idade na data de início do benefício </span>
      </td>
      <td>{{ conclusoesRegra1.idadeDib }}</td>
    </tr>
    <tr>
      <td width="50%">
        <span class="pull-right font-bold">Tempo de Contribuição na data de início do benefício</span>
      </td>
      <td>{{ conclusoesRegra1.tempoDib }}</td>
    </tr>
    <tr>
      <td width="50%">
        <span class="pull-right font-bold">Percentual da média salarial</span>
      </td>
      <td>{{ conclusoesRegra1.formula }}</td>
    </tr>
  </tbody>
</table>
