<table
class="table table-bordered table-hover no-padding"
*ngIf="!isUpdating"
>
<thead>
  <tr>
    <th colspan="2">
      <span >{{regraLabel}}</span>
    </th>
  </tr>
  <tr>
    <th  style="text-align: right;">
      <span class="pull-right font-bold">Tipo</span>
    </th>
    <th style="text-align: left;">
      <span class="font-bold">Descrição</span>
    </th>
  </tr>
</thead>
<tbody>
  <tr
    *ngFor="let conclusao of conclusoes"
    class="{{ conclusao.class }}"
  >
    <td width="50%" style="text-align: right;"> <span class="pull-right font-bold">{{ conclusao.label }}</span> </td>
    <td>{{ conclusao.valueString }}</td>
  </tr>
</tbody>
</table>