<table
  id="conclusoes-rmi-ec103"
  class="table table-bordered table-hover no-padding margin-bottom-0"
  *ngIf="!isUpdating"
>
  <tbody>
    <tr>
      <td colspan="2">
        <strong>{{ regraLabel }}</strong>
      </td>
    </tr>
    <tr>
      <td style="text-align: right">
        <span class="pull-right font-bold"><b>Tipo</b></span>
      </td>
      <td style="text-align: left">
        <span class="font-bold"><b>Descrição</b></span>
      </td>
    </tr>
    <tr *ngFor="let conclusao of conclusoes" class="{{ conclusao.class }}">
      <td width="50%" style="text-align: right">
        <span class="pull-right font-bold">{{ conclusao.label }}</span>
      </td>
      <td>{{ conclusao.valueString }}</td>
    </tr>
  </tbody>
</table>
<table
  class="table table-hover table-condensed table-bordered not-print my-3"
  *ngIf="!isUpdating"
>
  <tbody *ngIf="!isUpdating">
    <tr >
      <td>
        <button
        title="Imprimir este resultado"
        class="btn btn-primary pull-right btn-xs mr-3 not-print"
        type="button"
        (click)="imprimirBoxC($event, i + calculoPorRegra.regra)"
      >
        &nbsp;&nbsp;
        <i
          class="fa fa-print pull-left fa fa-lg p-1"
        ></i>
        Imprimir o Resultado Atual &nbsp;&nbsp;
      </button>
        <!-- <strong>Exportar para o cálculo de Liquidação de Sentença</strong> -->
        <button
          class="btn btn-primary pull-right btn-xs mr-3 not-print"
          type="submit"
          (click)="
            exportarParaBeneficios(dataInicioBeneficio, valorExportacao, 'A')
          "
          title="Exportar para o cálculo de Liquidação de Sentença"
        >
          &nbsp;&nbsp;
          <i
            class="fa fa-external-link pull-left fa fa-lg p-1"
          ></i>
          Exportar Liquidação de Sentença
        </button>
      </td>
    </tr>
  </tbody>
</table>
