              <form class="form-horizontal">
                <fieldset>
                  <div class="form-group">
                    <label class="col-md-2 control-label" for="select-1">Data do Início do Benefício:*</label>
                    <div class="col-md-8">
                      <input [(ngModel)]="dataInicioBeneficio" (change)="changePeriodoOptions()" [ngModelOptions]="{standalone: true}" [textMask]="{mask: dateMaskdiB}" class="form-control" type="text">
                      <small *ngIf="errors.has('dataInicioBeneficio')" class="text-danger">{{ errors.get('dataInicioBeneficio') | i18n}}</small>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-md-2 control-label" for="select-2">Período do início do benefício:*</label>
                    <!-- <label class="col-md-2 control-label" for="select-2">Legislação aplicada:*</label> -->
                    <div class="col-md-8">
                      <select [(ngModel)]="periodoInicioBeneficio" (change) = "changeGrupoDos12()" [ngModelOptions]="{standalone: true}" class="form-control" id="select-1">
                        <option [value]="periodo" *ngFor="let periodo of periodoOptions">{{periodo}}</option>
                      </select>
                      <small *ngIf="errors.has('periodoInicioBeneficio')" class="text-danger">{{ errors.get('periodoInicioBeneficio') | i18n}}</small>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-md-2 control-label" for="select-2">Espécie:</label>
                    <div class="col-md-8">
                      <select [(ngModel)]="especieBeneficio" (change)="changeEspecieBeneficio()" [ngModelOptions]="{standalone: true}" class="form-control" id="select-1">
                        <option selected disabled> - Selecione uma espécie - </option>
                        <option  *ngIf="periodoInicioBeneficio == 'Anterior a 05/10/1988'">Abono de Permanência em Serviço</option>
                        <option>Aposentadoria especial</option>
                        <option *ngIf="posteriorMaio2013">Aposentadoria especial da Pessoa com Deficiência Grave</option>
                        <option *ngIf="posteriorMaio2013">Aposentadoria especial da Pessoa com Deficiência Leve</option>
                        <option *ngIf="posteriorMaio2013">Aposentadoria especial da Pessoa com Deficiência Moderada</option>
                        <option *ngIf="posteriorMaio2013">Aposentadoria especial por Idade da Pessoa com Deficiência</option>
                        <option>Aposentadoria por idade - Trabalhador Rural</option>
                        <option>Aposentadoria por idade - Trabalhador Urbano</option>
                        <option>Aposentadoria por invalidez Previdenciária ou Pensão por Morte</option>
                        <option *ngIf="periodoInicioBeneficio == 'Anterior a 05/10/1988'">Aposentadoria por tempo de serviço</option>
                        <option *ngIf="periodoInicioBeneficio != 'Anterior a 05/10/1988'">Aposentadoria por tempo de contribuição</option>
                        <option *ngIf="periodoInicioBeneficio != 'Anterior a 05/10/1988'">Aposentadoria por tempo de serviço de professor</option>
                        <option *ngIf="periodoInicioBeneficio != 'Anterior a 05/10/1988'">Auxílio Acidente - 30%</option>
                        <option *ngIf="periodoInicioBeneficio != 'Anterior a 05/10/1988'">Auxílio Acidente - 40%</option>
                        <option *ngIf="periodoInicioBeneficio != 'Anterior a 05/10/1988'">Auxílio Acidente - 60%</option>
                        <option *ngIf="periodoInicioBeneficio != 'Anterior a 05/10/1988'">Auxílio Acidente previdenciário - 50%</option>
                        <option>Auxílio Doença</option>
                        <option>LOAS</option>
                        <option>LOAS - Benefício no valor de um salário mínimo</option>
                      </select>
                      <small *ngIf="errors.has('especieBeneficio')" class="text-danger">{{ errors.get('especieBeneficio') | i18n}}</small>
                    </div>
                  </div>
                  <h3 *ngIf="has98">Tempo de contribuição até a Emenda nº 20/98 (16/12/1998)</h3>
                  <h3 *ngIf="hasAnterior">Tempo de contribuição</h3>
                  <div class="form-group" *ngIf="has98 || hasAnterior">
                    <label class="col-md-2 control-label" for="select-1">Contribuição Primária*:</label>
                    <div class="col-md-2">
                      <input [(ngModel)]="primaria98anos" (change)="errors.clear('primaria98anos')"  [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Anos" type="text">
                      <small *ngIf="errors.has('primaria98anos')" class="text-danger">{{ errors.get('primaria98anos') | i18n}}</small>
                    </div>
                    <div class="col-md-2">
                      <input [(ngModel)]="primaria98meses" (change)="errors.clear('primaria98meses')" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Meses" type="text">
                      <small *ngIf="errors.has('primaria98meses')" class="text-danger">{{ errors.get('primaria98meses') | i18n}}</small>
                    </div>
                    <div class="col-md-2">
                      <input [(ngModel)]="primaria98dias" (change)="errors.clear('primaria98dias')" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Dias" type="text">
                      <small *ngIf="errors.has('primaria98dias')" class="text-danger">{{ errors.get('primaria98dias') | i18n}}</small>
                    </div>
                  </div>
                  <div class="form-group" *ngIf="has98 || hasAnterior">
                    <label class="col-md-2 control-label" for="select-1">Contribuição Secundária:</label>
                    <div class="col-md-2">
                      <input [(ngModel)]="secundaria98anos" (change)="errors.clear('secundaria98anos')" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Anos" type="text">
                      <small *ngIf="errors.has('secundaria98anos')" class="text-danger">{{ errors.get('secundaria98anos') | i18n}}</small>
                    </div>
                    <div class="col-md-2">
                      <input [(ngModel)]="secundaria98meses" (change)="errors.clear('secundaria98meses')"  [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Meses" type="text">
                      <small *ngIf="errors.has('secundaria98meses')" class="text-danger">{{ errors.get('secundaria98meses') | i18n}}</small>
                    </div>
                    <div class="col-md-2">
                      <input [(ngModel)]="secundaria98dias" (change)="errors.clear('secundaria98dias')"  [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Dias" type="text">
                      <small *ngIf="errors.has('secundaria98dias')" class="text-danger">{{ errors.get('secundaria98dias') | i18n}}</small>
                    </div>
                  </div>
                  <h3 *ngIf="has99">Tempo de contribuição até a Lei nº 9.876/99 (29/11/1999)</h3>
                  <div *ngIf="has99" class="form-group">
                    <label class="col-md-2 control-label" for="select-1">Contribuição Primária*:</label>
                    <div class="col-md-2">
                      <input [(ngModel)]="primaria99anos" (change)="errors.clear('primaria99anos')" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Anos" type="text">
                      <small *ngIf="errors.has('primaria99anos')" class="text-danger">{{ errors.get('primaria99anos') | i18n}}</small>
                    </div>
                    <div class="col-md-2">
                      <input [(ngModel)]="primaria99meses" (change)="errors.clear('primaria99meses')"  [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Meses" type="text">
                      <small *ngIf="errors.has('primaria99meses')" class="text-danger">{{ errors.get('primaria99meses') | i18n}}</small>
                    </div>
                    <div class="col-md-2">
                      <input [(ngModel)]="primaria99dias" (change)="errors.clear('primaria99dias')"  [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Dias" type="text">
                      <small *ngIf="errors.has('primaria99dias')" class="text-danger">{{ errors.get('primaria99dias') | i18n}}</small>
                    </div>
                  </div>
                  <div *ngIf="has99" class="form-group">
                    <label class="col-md-2 control-label" for="select-1">Contribuição Secundária:</label>
                    <div class="col-md-2">
                      <input [(ngModel)]="secundaria99anos"  (change)="errors.clear('secundaria99anos')" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Anos" type="text">
                      <small *ngIf="errors.has('secundaria99anos')" class="text-danger">{{ errors.get('secundaria99anos') | i18n}}</small>
                    </div>
                    <div class="col-md-2">
                      <input [(ngModel)]="secundaria99meses" (change)="errors.clear('secundaria99meses')" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Meses" type="text">
                      <small *ngIf="errors.has('secundaria99meses')" class="text-danger">{{ errors.get('secundaria99meses') | i18n}}</small>
                    </div>
                    <div class="col-md-2">
                      <input [(ngModel)]="secundaria99dias" (change)="errors.clear('secundaria99dias')" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Dias" type="text">
                      <small *ngIf="errors.has('secundaria99dias')" class="text-danger">{{ errors.get('secundaria99dias') | i18n}}</small>
                    </div>
                  </div>

                  <!-- <h3 *ngIf="hasAtual">Tempo Total de contribuição - após a Lei nº 9.876/99</h3> -->
                  <h3 *ngIf="hasAtual">Tempo Total de contribuição - até a PEC 06/2019 (Lei nº 9.876/99 (de 29/11/1999 até 01/10/2019))</h3>
                  <div *ngIf="hasAtual" class="form-group">
                    <label class="col-md-2 control-label" for="select-1">Contribuição Primária*:</label>
                    <div class="col-md-2">
                      <input [(ngModel)]="primariaAtualanos" (change)="errors.clear('primariaAtualanos')" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Anos" type="text">
                      <small *ngIf="errors.has('primariaAtualanos')" class="text-danger">{{ errors.get('primariaAtualanos') | i18n}}</small>
                    </div>
                    <div class="col-md-2">
                      <input [(ngModel)]="primariaAtualmeses" (change)="errors.clear('primariaAtualmeses')"  [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Meses" type="text">
                      <small *ngIf="errors.has('primariaAtualmeses')" class="text-danger">{{ errors.get('primariaAtualmeses') | i18n}}</small>
                    </div>
                    <div class="col-md-2">
                      <input [(ngModel)]="primariaAtualdias" (change)="errors.clear('primariaAtualdias')"  [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Dias" type="text">
                      <small *ngIf="errors.has('primariaAtualdias')" class="text-danger">{{ errors.get('primariaAtualdias') | i18n}}</small>
                    </div>
                  </div>
                  <div *ngIf="hasAtual" class="form-group">
                    <label class="col-md-2 control-label" for="select-1">Contribuição Secundária:</label>
                    <div class="col-md-2">
                      <input [(ngModel)]="secundariaAtualanos"  (change)="errors.clear('secundariaAtualanos')" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Anos" type="text">
                      <small *ngIf="errors.has('secundariaAtualanos')" class="text-danger">{{ errors.get('secundariaAtualanos') | i18n}}</small>
                    </div>
                    <div class="col-md-2">
                      <input [(ngModel)]="secundariaAtualmeses" (change)="errors.clear('secundariaAtualmeses')" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Meses" type="text">
                      <small *ngIf="errors.has('secundariaAtualmeses')" class="text-danger">{{ errors.get('secundariaAtualmeses') | i18n}}</small>
                    </div>
                    <div class="col-md-2">
                      <input [(ngModel)]="secundariaAtualdias" (change)="errors.clear('secundariaAtualdias')" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Dias" type="text">
                      <small *ngIf="errors.has('secundariaAtualdias')" class="text-danger">{{ errors.get('secundariaAtualdias') | i18n}}</small>
                    </div>
                  </div>
                  <h3 *ngIf="has19">Tempo Total de contribuição - após a PEC 06/2019</h3>
                  <div *ngIf="has19" class="form-group">
                      <label class="col-md-2 control-label" for="select-1">Contribuição *:</label>
                      <div class="col-md-2">
                        <input [(ngModel)]="primaria19anos" (change)="errors.clear('primaria19anos')" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Anos" type="text">
                        <small *ngIf="errors.has('primaria19anos')" class="text-danger">{{ errors.get('primaria19anos') | i18n}}</small>
                      </div>
                      <div class="col-md-2">
                        <input [(ngModel)]="primaria19meses" (change)="errors.clear('primaria19meses')"  [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Meses" type="text">
                        <small *ngIf="errors.has('primaria19meses')" class="text-danger">{{ errors.get('primaria19meses') | i18n}}</small>
                      </div>
                      <div class="col-md-2">
                        <input [(ngModel)]="primaria19dias" (change)="errors.clear('primaria19dias')"  [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Dias" type="text">
                        <small *ngIf="errors.has('primaria19dias')" class="text-danger">{{ errors.get('primaria19dias') | i18n}}</small>
                      </div>
                      <div class="col-md-12">
                          <p> <i class="fa fa-info-circle"></i> Para os benefícios concedidos a partir de 18 de junho de 2019 foi determinada a soma das contribuições concomitantes de acordo com as alterações trazidas pela Lei 13.846/19.</p>
                      </div>
                    </div>
                  <div class="form-group" *ngIf="hasCarencia">
                    <label class="col-md-2 control-label" for="select-1">Carência:*</label>
                    <div class="col-md-1">
                      <input [(ngModel)]="carencia" placeholder="Meses" (change)="errors.clear('carencia')" [ngModelOptions]="{standalone: true}" class="form-control" type="text">
                      <small *ngIf="errors.has('carencia')" class="text-danger">{{ errors.get('carencia') | i18n}}</small>
                    </div>
                  </div>
                  <div class="form-group" *ngIf="hasGrupoDos12">
                    <label class="col-md-2 control-label" for="select-1">Grupo dos 12:</label>
                    <div class="col-md-1">
                      <input [(ngModel)]="grupoDos12" (change)="errors.clear('grupoDos12')" placeholder="Anos" [ngModelOptions]="{standalone: true}" class="form-control" type="text"> 
                      <small *ngIf="errors.has('grupoDos12')" class="text-danger">{{ errors.get('grupoDos12') | i18n}}</small>
                    </div>
                  </div>
                  <p>Todo os campos com um asterisco (*) são de preenchimento obrigatório.</p>
                </fieldset>
                <div class="form-actions">
                  <div class="row">
                    <div class="col-md-12">
                      <button (click)="submit($event)" type="submit" class="btn btn-labeled btn-primary">
                        <span class="btn-label">
                          <i class="fa fa-save"></i>
                        </span> <span *ngIf="isEdit">Salvar</span>
                                <span *ngIf="!isEdit">Inserir</span>
                      </button>
                    </div>
                  </div>
                </div>
              </form>
