/* Style the navbar */
#navbar {
  overflow: hidden;
  background-color: rgba(83, 17, 21, 0.7);
  border-bottom: 1px solid #FF0000;
  padding: 5px 5px 5px 5px;
}

/* Navbar links */
/*#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}

#navbar a.active {
  background-color: #4CAF50;
  color: white;
}*/

/* Page content */
.pgContent {
  padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
}

.sticky + .pgContent {
  padding-top: 60px;
}

.widget-body-fix{
  min-height: 20px !important;
}