
<table
class="table table-bordered table-hover"
*ngIf="!isUpdating"
>
<thead>
  <tr>
    <th colspan="2">
      Regra de Transição do art. 20 da EC nº 103/2019 (Pedágio de 100%)
    </th>
  </tr>
  <tr *ngIf="conclusoesRegra4.status">
    <th>
        <span class="pull-right">Tipo</span>
    </th>
    <th>
      Descrição
    </th>
  </tr>
</thead>
<tbody>
  <ng-container
    *ngIf="conclusoesRegra4.status; then regra3Aplica; else regra3NaoAplica"
  >
  </ng-container>
  <ng-template #regra3Aplica>
    <tr>
      <td width="50%">
        <span class="pull-right font-bold">Data de Início do Benefício</span>
      </td>
      <td>{{ conclusoesRegra4.dataDib }}</td>
    </tr>
    <tr>
      <td width="50%">
        <span class="pull-right font-bold">Idade na Data de Início do Benefício</span>
      </td>
      <!-- <td>{{ conclusoesRegra4.idadeDib }}</td> -->
      <td>{{ conclusoesRegra4.idadeDibMoment }}</td>
    </tr>
    <tr>
      <td width="50%">
        <span class="pull-right font-bold">Tempo de Contribuição Necessário</span>
      </td>
      <td>{{ conclusoesRegra4.tempoCompedagio }}</td>
    </tr>
    <!-- <tr>
      <td width="50%">
        <span class="pull-right font-bold">Tempo de Contribuição na data de início do benefício </span>
      </td>
      <td>{{ conclusoesRegra4.tempoDib }}</td>
    </tr> -->
    <tr>
      <td width="50%">
        <span class="pull-right font-bold">Percentual da Média Salarial</span>
      </td>
      <td>100%</td>
    </tr>
  </ng-template>
  <ng-template #regra3NaoAplica>
    <tr>
      <td colspan="2">
        <div class="alert alert-warning margin-top-10" role="alert">
          <p> O segurado não possuí {{ conclusoesRegra4.requisitoDib }} anos de tempo de contribuíção na data da publicação da EC 103/2019</p>
        </div>
      </td>
    </tr>
  </ng-template>
</tbody>
</table>