
<table
class="table table-bordered table-hover"
*ngIf="!isUpdating"
>
<thead>
  <tr>
    <th colspan="2">
      Regra de Transição do art. 20 da EC nº 103/2019 (pedágio de 100%)
    </th>
  </tr>
  <tr *ngIf="conclusoesRegra4.status">
    <th>
        <span class="pull-right">Tipo</span>
    </th>
    <th>
      Descrição
    </th>
  </tr>
</thead>
<tbody>
  <ng-container
    *ngIf="
      conclusoesRegra4.status;
      then regra3Aplica;
      else regra3NaoAplica
    "
  >
  </ng-container>
  <ng-template #regra3Aplica>
     <tr>
      <td width="50%">
        <span class="pull-right font-bold">Conclusão</span>
      </td>
      <td>{{ conclusoesRegra4.tempoDePedagio }}</td>
    </tr> 
    <tr>
      <td width="50%">
        <span class="pull-right font-bold"
          >Tempo atual de contribuição</span
        >
      </td>
      <td>  {{ contribuicaoPrimaria.anos }} ano(s),
          {{ contribuicaoPrimaria.meses }} mês(es) e
          {{ contribuicaoPrimaria.dias }} dia(s)</td>
    </tr>
    <tr *ngIf="conclusoesRegra4.exibirValor">
      <td width="50%">
        <span class="pull-right font-bold"
          >Renda Mensal Inicial</span
        >
      </td>
      <td>{{ conclusoesRegra4.valorString }}</td>
    </tr>
  </ng-template>
  <ng-template #regra3NaoAplica>
    <tr>
      <td colspan="2">
        <div
          class="alert alert-warning margin-top-10"
          role="alert"
        >
          <p>{{ conclusoesRegra4.msg }}</p>
        </div>
      </td>
    </tr>
  </ng-template>
</tbody>
</table>