<div id="content">

  <!-- widget grid -->
  <sa-widgets-grid>

    <!-- row -->
    <div class="row">

      <article class="col-sm-12 col-md-12 col-lg-12">
        <h1>Contribuições Atrasadas - Jurisprudencial</h1>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#/contribuicoes/contribuicoes-segurados"> Criar/Buscar Segurado</a></li>
          <li class="breadcrumb-item"><a href="#/contribuicoes/contribuicoes-calculos/{{idSegurado}}"> Lista de Cálculos</a></li>
          <li class="breadcrumb-item active">Informações para o Cálculo</li>
        </ol>
        <!-- Widget ID (each widget will need unique ID)-->
        <sa-widget [colorbutton]="false" [editbutton]="false" [deletebutton]="false">
          <header>
            <span class="widget-icon">
              <i class="fa fa-calculator"></i>
            </span>
            <h2>Cálculo de Contribuições</h2>

          </header>

          <!-- widget div-->
          <div>

            <!-- widget content -->
            <div class="widget-body">
              <p>
                Contribuições utilizadas na base do cálculo
              </p>
              <!-- <form class="form-horizontal"> -->
                <fieldset>
                  <div class="form-group">
                    <label class="col-md-2 control-label">Ínicio do 1º período*</label>
                    <div class="col-md-3">
                      <input class="form-control" [textMask]="{mask: dateMask}" [(ngModel)]="contribuicaoDe" placeholder="(mm/aaaa)" type="text">
                      <small *ngIf="errors.has('contribuicaoDe')" class="text-danger">{{ errors.get('contribuicaoDe') }}</small>

                    </div>
                    <label class="col-md-2 control-label">Final do 1º período*</label>
                    <div class="col-md-3">
                      <input class="form-control" [textMask]="{mask: dateMask}" [(ngModel)]="contribuicaoAte" placeholder="(mm/aaaa)" type="text">
                      <small *ngIf="errors.has('contribuicaoAte')" class="text-danger">{{ errors.get('contribuicaoAte') }}</small>
                    </div>
                  </div>
                </fieldset>
                <br>
                <fieldset>
                  <div class="form-group">
                    <label class="col-md-2 control-label">Ínicio do 2º período</label>
                    <div class="col-md-3">
                      <input class="form-control" [textMask]="{mask: dateMask}" [(ngModel)]="contribuicaoDe2" placeholder="(mm/aaaa)" type="text">
                      <small *ngIf="errors.has('contribuicaoDe2')" class="text-danger">{{ errors.get('contribuicaoDe2') }}</small>

                    </div>
                    <label class="col-md-2 control-label">Final do 2º período</label>
                    <div class="col-md-3">
                      <input class="form-control" [textMask]="{mask: dateMask}" [(ngModel)]="contribuicaoAte2" placeholder="(mm/aaaa)" type="text">
                      <small *ngIf="errors.has('contribuicaoAte2')" class="text-danger">{{ errors.get('contribuicaoAte2') }}</small>
                    </div>
                  </div>
                </fieldset>

                <div class="form-actions p-0 mt-3">
                  <div class="row">
                    <div class="col-md-12">
                      <button type="submit" (click)="createNewCalculation()" class="btn btn-labeled btn-primary pull-right">
                        <span class="btn-label">
                          <i class="fa fa-calculator"></i>
                        </span> Calcular
                      </button>
                    </div>
                  </div>
                </div>


              <!-- </form> -->
            </div>
          </div>
        </sa-widget>
      </article>
    </div>

    <!-- end row -->

  </sa-widgets-grid>

  <!-- end widget grid -->

</div>
