<div class="row my-4">
  <div class="col-sm-12 col-md-12 col-lg-12">
        <sa-widget
          [colorbutton]="false"
          [editbutton]="false"
          [deletebutton]="false"
          class="mb-3"
        >
          <header>
            <span class="widget-icon">
              <i class="fa fa-edit"></i>
            </span>
            <h2>Segurado Selecionado</h2>
          </header>
          <div>
            <div
              *ngIf="segurado.nome"
              class="widget-body p-0 widget-body-custom"
            >
              <ul class="list-inline m-0">
                <li class="px-5">
                  <strong>Nome:</strong> {{ segurado.nome }}
                </li>
                <li class="px-5" *ngIf="segurado.numero_documento">
                  <strong
                    >{{
                      segurado.getDocumentType(
                        segurado.id_documento
                      )
                    }}:</strong
                  >
                  {{ segurado.numero_documento }}
                </li>
                <li class="px-5">
                  <strong>Data de Nascimento:</strong>
                  {{ segurado.data_nascimento }}
                </li>
                <li class="px-5">
                  <strong>Sexo:</strong>
                  {{
                    segurado.sexo == "m" ? "Masculino" : "Feminino"
                  }}
                </li>
              </ul>
            </div>
          </div>
        </sa-widget>
  </div>
</div>


<div class="row my-4">
  <div class="col-sm-12 col-md-12 col-lg-12">
        <sa-widget
          [colorbutton]="false"
          [editbutton]="false"
          [deletebutton]="false"
          class="mb-3"
        >
          <header>
            <span class="widget-icon">
              <i class="fa fa-edit"></i>
            </span>
            <h2>Cáculo Selecionado</h2>
          </header>
          <div>
            <div
              *ngIf="calculo.data_pedido_beneficio"
              class="widget-body p-0 widget-body-custom"
            >
              <ul class="list-inline m-0">
                <li class="px-5">
                  <strong>Data de início do Beneficío:</strong> {{ calculo.data_pedido_beneficio }}
                </li>
                <li class="px-5">
                  <strong>Data de Nascimento:</strong> {{ calculo.tipo_seguro }}
                </li>
                 <li class="px-5">
                  <strong>RMI Atual:</strong> {{ formatMoeda(calculo.valor_beneficio) }}
                </li>
              </ul>
            </div>
          </div>
        </sa-widget>
  </div>
</div>


<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

    <!-- <div class="embed-responsive embed-responsive-16by9">
      <iframe
        class="responsive-iframe"
        [src]="url"
        #iframe
        frameborder="0"
        allowfullscreen
      ></iframe>
    </div> -->


    <div class="container-iframe"> 
          <iframe
          class="responsive-iframe"
          [src]="url"
          #iframe
          frameborder="0"
          allowfullscreen
        ></iframe>
    </div>
    
  </div>
</div>

