<div id="content">

  <!-- widget grid -->
  <sa-widgets-grid>

    <!-- row -->
    <div class="row">

      <article class="col-sm-12 col-md-12 col-lg-12">
        <div class="well" *ngIf="type=='AJ'">
          <p>Este aplicativo atende as demandas judiciais para os tetos legais de 12/1998 no valor de R$1200,00 e 12/2003 no valor de R$2400,00. </p>
          <p>A digitação deve ser cuidadosa e atender aos preceitos para a vantagem concedida aos autores. </p>
          <p>Veja os esclarecimentos de situações particulares observados na utilização deste aplicativo no link a seguir. </p>
          <p>
            <a href="#">Esclarecimento Tetos Judiciais </a>
          </p>
          <p>Ou confira o manual deste aplicativo no link a seguir. </p>
          <p>
            <a href="#">VEJA MANUAL DO SIMULADOR DE TETOS JUDICIAIS REFERENTE ÀS EMENDAS CONSTITUCIONAIS N.20/98 E 41/03</a>
          </p>

        </div>

        <div class="well" *ngIf="type=='A'">

          <p> <a href="#">Veja aqui </a> Manual do Simulador de Benefícios Atrasados </p>

          <p> <a href="#">Veja aqui </a> Manual do Simulador de Benefícios Atrasados - PDF </p>

          <p> <a href="#">Veja aqui </a> Videoaula de utilização do Simulador de Benefícios Atrasados </p>

          <p> <a href="#">Veja aqui </a> Videoaula de utilização do Simulador de Benefícios Atrasados - Buraco Negro</p>
           
          <p>Simula em qualquer data, diferenças entre valores de rendas mensais de benefícios devidos e recebidos, bem como calcula a correção monetária, os juros de mora e os honorários advocatícios. </p>
        
        </div>

        <div class="well" *ngIf="type=='AI'">

          <p> <a href="#">Veja aqui </a> o Manual do Simulador de Benefícios Atrasados - Índices 06/1999 e 05/2004. </p>

          <p> <a href="#">Veja aqui </a> o Manual do Simulador de Benefícios Atrasados - Índices 06/1999 e 05/2004 - PDF </p>

          <p> <a href="#">Veja aqui </a> Videoaula de utilização do Simulador de Benefícios Atrasados - Índices 06/1999 e 05/2004 </p>

        </div>

      </article>

      <article class="col-sm-12 col-md-12 col-lg-12">
        <sa-widget [colorbutton]="false" [editbutton]="false">
          <header>
            <span class="widget-icon">
              <i class="fa fa-edit"></i>
            </span>
            <h2>Dados do segurado</h2>

          </header>

          <!-- widget div-->
          <div>

            <!-- widget content -->
            <div class="widget-body">

              <ul class="list-unstyled">
                <li><b>Nome:</b>  {{segurado.nome}} </li>
                <li *ngIf="segurado.id_documento==1"><b>PIS:</b>   {{segurado.numero_documento}}</li>
                <li *ngIf="segurado.id_documento==2"><b>PASEP:</b>   {{segurado.numero_documento}}</li>
                <li *ngIf="segurado.id_documento==3"><b>CPF:</b>   {{segurado.numero_documento}}</li>
                <li *ngIf="segurado.id_documento==4"><b>NIT:</b>   {{segurado.numero_documento}}</li>
                <li *ngIf="segurado.id_documento==5"><b>RG:</b>   {{segurado.numero_documento}}</li>
                <li><b>Data de nascimento:</b>  {{segurado.data_nascimento}}</li>
                <li><b>Data de filiação:</b>  {{segurado.data_filiacao}}</li>
                <li *ngIf="segurado.sexo=='m'"><b>Sexo:</b>  Masculino</li>
                <li *ngIf="segurado.sexo=='f'"><b>Sexo:</b>  Feminino</li>
              </ul>

              <div class="form-actions">
                <div class="row">
                  <div class="col-md-12">

                    <button type="submit" (click)='editSegurado()' class="btn btn-labeled btn-info pull-left">
                      <span class="btn-label">
                        <i class="fa fa-pencil-square-o"></i>
                      </span> Editar
                    </button>

                  </div>
                </div>
              </div>

            </div>
          </div>
        </sa-widget>
      </article>


      <article class="col-sm-12 col-md-12 col-lg-12">
        <sa-widget [colorbutton]="false" [editbutton]="false">
          <header>
            <span class="widget-icon">
              <i class="fa fa-edit"></i>
            </span>
            <h2>Opções do cálculo</h2>

          </header>

          <!-- Beneficios Atrasados - Tetos Judiciais -->
          <!-- widget div-->
          <div *ngIf="type=='AJ'">

            <!-- widget content -->
            <div class="widget-body">

              <div class="col-md-8 col-sm-offset-2">

                <div class="checkbox">
                  <label>
                    <input type="checkbox" class="checkbox {{styleTheme}}">
                    <span>Para calcular aplicando os índices de 2,28% em 06/1999 e 1,75% em 05/2004 marque a caixa ao lado:</span>
                  </label>
                </div>

                <div class="checkbox">
                  <label>
                    <input type="checkbox" [(ngModel)]="chkAjusteMaximo" name="chkAjusteMaximo" disabled class="checkbox {{styleTheme}}" checked="checked">
                    <span>Para usar tetos judiciais em 12/1998 e em 12/2003 marque a caixa ao lado:</span>
                  </label>
                </div>

                <div class="checkbox">
                  <label>
                    <input type="checkbox" class="checkbox {{styleTheme}}">
                    <span>Para não utilizar deflação na correção monetária marque a caixa ao lado:</span>
                  </label>
                </div>

              </div>

            </div>
          </div>

          <!-- Beneficios Atrasados -->
          <div *ngIf="type=='A'||type=='AI'">

            <!-- widget content -->
            <div class="widget-body">

              <div class="col-md-8 col-sm-offset-2">

                <div class="checkbox">
                  <label>
                    <input type="checkbox" class="checkbox {{styleTheme}}">
                    <span>Para calcular aplicando os índices de 2,28% em 06/1999 e 1,75% em 05/2004 marque a caixa ao lado:</span>
                  </label>
                </div>

                <div class="checkbox">
                  <label>
                    <input type="checkbox" [(ngModel)]="chkNotGranted" (change)="notGrantedChanged()" class="checkbox {{styleTheme}}">
                    <span>Se este for um cálculo de atualização de benefício não concedido selecione a caixa ao lado:</span>
                  </label>
                </div>

                <div class="checkbox">
                  <label>
                    <input type="checkbox" [(ngModel)]="chkJurosMora" class="checkbox {{styleTheme}}">
                    <span>Caso não pretenda calcular juros de mora antes da citação do réu desmarque a caixa ao lado:</span>
                  </label>
                </div>

                <div class="checkbox">
                  <label>
                    <input type="checkbox" [(ngModel)]="chkDemandasJudiciais" class="checkbox {{styleTheme}}">
                    <span>Para não limitar ao teto para demandas judiciais marque a caixa ao lado:</span>
                  </label>
                </div>

                <div class="checkbox">
                  <label>
                    <input type="checkbox"  class="checkbox {{styleTheme}}">
                    <span>Para não utilizar deflação na correção monetária marque a caixa ao lado:</span>
                  </label>
                </div>

              </div>

            </div>
          </div>
        </sa-widget>
      </article>





      <article class="col-sm-12 col-md-12 col-lg-12">

        <!-- Widget ID (each widget will need unique ID)-->
        <sa-widget [colorbutton]="false" [editbutton]="false">
          <!-- widget options:
                usage: <sa-widget [editbutton]="false">

                [colorbutton]="false"
                [editbutton]="false"
                [togglebutton]="false"
                [deletebutton]="false"
                [fullscreenbutton]="false"
                [custombutton]="false"
                [collapsed]="true"
                [sortable]="false"

                -->
          <header>
            <span class="widget-icon">
              <i class="fa fa-eye"></i>
            </span>
            <h2>Datas do cálculo</h2>

          </header>

          <!-- widget div-->
          <div>

            <!-- widget content -->
            <div class="widget-body">

              <form class="form-horizontal">

                <fieldset>
                  <div class="form-group">
                    <label class="col-md-2 control-label">Data do cálculo:</label>
                    <div class="col-md-3">
                      <input [(ngModel)]="dataCalculo"  [textMask]="{mask: dateMask}" name="dataCalculo" class="form-control" type="text">
                      <small *ngIf="errors.has('dataCalculo')" class="text-danger">{{ errors.get('dataCalculo') }}</small>
                    </div>
                    <label class="col-md-2 control-label">Data da citação do réu:</label>
                    <div class="col-md-3">
                      <input [(ngModel)]="dataCitacaoReu" [textMask]="{mask: dateMask}" name="dataCitacaoReu" class="form-control" type="text">
                      <small *ngIf="errors.has('dataCitacaoReu')" class="text-danger">{{ errors.get('dataCitacaoReu') }}</small>
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-md-2 control-label">Data da ajuizamento da ação:</label>
                    <div class="col-md-3">
                      <input [(ngModel)]="dataAcaoJudicial" [textMask]="{mask: dateMask}" name="dataAcaoJudicial" class="form-control" type="text">
                      <small *ngIf="errors.has('dataAcaoJudicial')" class="text-danger">{{ errors.get('dataAcaoJudicial') }}</small>
                    </div>
                  </div>
                </fieldset>

                <div class="form-actions">
                  <div class="row">
                    <div class="col-md-12">
                      <button (click)="saveCalculation()" type="submit" class="btn btn-labeled btn-success">
                        <span class="btn-label">
                          <i class="fa fa-save"></i>
                        </span> Salvar
                      </button>
                    </div>
                  </div>
                </div>

              </form>
            </div>
          </div>
        </sa-widget>
      </article>


      <article *ngIf="!chkNotGranted" class="col-sm-12 col-md-12 col-lg-12">

        <!-- Widget ID (each widget will need unique ID)-->
        <sa-widget [colorbutton]="false" [editbutton]="false">
          <header>
            <span class="widget-icon">
              <i class="fa fa-eye"></i>
            </span>
            <h2>Valores Recebidos</h2>

          </header>

          <!-- widget div-->
          <div>

            <!-- widget content -->
            <div class="widget-body">

              <form class="form-horizontal">

                <fieldset>

                  <div class="form-group">
                    <div class="col-md-8 col-sm-offset-2">

                      <div class="checkbox">
                        <label>
                          <input type="checkbox" name="useSameDib" [(ngModel)]="chkUseSameDib" (change)="useSameDIBChanged()" class="checkbox {{styleTheme}}" checked="checked">
                          <span>Caso queira calcular revisão de RMI com mesma DIB selecione a caixa ao lado:</span>
                        </label>
                      </div>

                      <div class="checkbox">
                        <label>
                          <input name="chkPrecedidoRecebidos" [(ngModel)]='chkPrecedidoRecebidos' type="checkbox"  class="checkbox {{styleTheme}}">
                          <span>Caso queira calcular benefício precedido com DIB anterior selecione a caixa ao lado</span>
                        </label>
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-md-2 control-label">Data inicial do benefício DIB de valores recebidos:</label>
                    <div class="col-md-3">
                      <input class="form-control" [textMask]="{mask: dateMask}" name="dibValoresRecebidos" (blur)="dibValoresRecebidosChanged()" [(ngModel)]="dibValoresRecebidos" type="text">
                      <small *ngIf="errors.has('dibValoresRecebidos')" class="text-danger">{{ errors.get('dibValoresRecebidos') }}</small>
                    </div>
                    <label class="col-md-2 control-label" for="select-1">Espécie valores recebidos:</label>
                    <div class="col-md-3">

                      <select name="especieValoresRecebidos" [(ngModel)]="especieValoresRecebidos" class="form-control" id="select-1">
                        <option *ngFor="let option of especieValoresOptions" value="{{option.value}}">{{option.name}}</option>
                      </select>

                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-md-2 control-label">Data de Cessação de valores recebidos:</label>
                    <div class="col-md-3">
                      <input name="cessacaoValoresRecebidos" [(ngModel)]="cessacaoValoresRecebidos" [textMask]="{mask: dateMask}" class="form-control" type="text">
                      <small *ngIf="errors.has('cessacaoValoresRecebidos')" class="text-danger">{{ errors.get('cessacaoValoresRecebidos') }}</small>
                    </div>

                    <div *ngIf="chkPrecedidoRecebidos">
                      <label class="col-md-2 control-label">Data inicial do benefício anterior de valores recebidos:</label>
                      <div class="col-md-3">
                        <input name='dibAnteriorValoresRecebidos' [(ngModel)]="dibAnteriorValoresRecebidos" class="form-control" [textMask]="{mask: dateMask}" type="text">
                        <small *ngIf="errors.has('dibAnteriorValoresRecebidos')" class="text-danger">{{ errors.get('dibAnteriorValoresRecebidos') }}</small>
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <label *ngIf="recebidosBuracoNegro" class="col-md-2 control-label">RMI de valores recebidos antes da revisão (Buraco Negro):</label>
                    <label *ngIf="!recebidosBuracoNegro" class="col-md-2 control-label">RMI de valores recebidos:</label>
                    <div class="col-md-3">
                      <input name="rmiValoresRecebidos" currencyMask [(ngModel)]="rmiValoresRecebidos" class="form-control" type="text">
                      <small *ngIf="errors.has('rmiValoresRecebidos')" class="text-danger">{{ errors.get('rmiValoresRecebidos') }}</small>
                    </div>

                    <div *ngIf="recebidosBuracoNegro">
                      <label class="col-md-2 control-label">RMI de valores recebidos depois da revisão (Buraco Negro):</label>
                      <div class="col-md-3">
                        <input name="rmiValoresRecebidosBuracoNegro" [(ngModel)]="rmiValoresRecebidosBuracoNegro" currencyMask class="form-control" type="text">
                      </div>
                    </div>

                    <div *ngIf="recebidosPosBuracoNegro">
                      <label class="col-md-2 control-label">Índice de reajuste no teto da RMI de valores recebidos:</label>
                      <div class="col-md-3">
                        <input name="taxaAjusteMaximaConcedida" class="form-control" [(ngModel)]="taxaAjusteMaximaConcedida" type="text">
                        <small *ngIf="errors.has('taxaAjusteMaximaConcedida')" class="text-danger">{{ errors.get('taxaAjusteMaximaConcedida') }}</small>
                      </div>
                    </div>

                  </div>

                </fieldset>
              </form>
            </div>
          </div>
        </sa-widget>
      </article>

      <article class="col-sm-12 col-md-12 col-lg-12">
        <!-- Widget ID (each widget will need unique ID)-->
        <sa-widget [colorbutton]="false" [editbutton]="false">
          <header>
            <span class="widget-icon">
              <i class="fa fa-eye"></i>
            </span>
            <h2>Valores Devidos</h2>
          </header>
          <!-- widget div-->
          <div>
            <!-- widget content -->
            <div class="widget-body">
              
              <p *ngIf="chkDibAnterior && chkUseSameDib">
                * Para habilitar o campo DIB Anterior, deve-se desmarcar a revisão RMI com a mesma DIB.
              </p>

              <form class="form-horizontal">
                <fieldset>
                  <div class="form-group">
                    <div class="col-md-8 col-sm-offset-2">
                      <div class="checkbox">
                        <label>
                          <input type="checkbox" name="chkDibAnterior" [(ngModel)]="chkDibAnterior" class="checkbox {{styleTheme}}" checked="checked">
                          <span>Caso queira calcular benefício precedido com DIB anterior selecione a caixa ao lado:</span>
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-md-2 control-label">(*) Data inicial do benefício DIB de valores devidos:</label>
                    <div class="col-md-3">
                      <input name='dibValoresDevidos' [textMask]="{mask: dateMask}" [(ngModel)]="dibValoresDevidos" (blur)='dibValoresDevidosChanged()' class="form-control" [disabled]="chkUseSameDib" type="text">
                      <small *ngIf="errors.has('dibValoresDevidos')" class="text-danger">{{ errors.get('dibValoresDevidos') }}</small>
                    </div>
                    <label class="col-md-2 control-label" for="select-1">Espécie valores devidos:</label>
                    <div class="col-md-3">

                      <select name="especieValoresDevidos" [(ngModel)]="especieValoresDevidos" class="form-control" id="select-1">
                        <option *ngFor="let option of especieValoresOptions" value="{{option.value}}">{{option.name}}</option>
                      </select>
                    </div>
                  </div>


                  <div class="form-group">
                    
                    <label  class="col-md-2 control-label">Data de Cessação de valores devidos:</label>
                    <div class="col-md-3">
                      <input name="cessacaoValoresDevidos" [textMask]="{mask: dateMask}" [(ngModel)]="cessacaoValoresDevidos" class="form-control" type="text">
                      <small *ngIf="errors.has('cessacaoValoresDevidos')" class="text-danger">{{ errors.get('cessacaoValoresDevidos') }}</small>
                    </div>
                    
                    <div *ngIf="chkDibAnterior">
                      <label class="col-md-2 control-label">Data inicial do benefício anterior de valores devidos:  </label>
                      <div class="col-md-3">
                        <input name='dibAnteriorValoresDevidos' [textMask]="{mask: dateMask}" [(ngModel)]="dibAnteriorValoresDevidos" class="form-control" type="text">
                        <small *ngIf="errors.has('dibAnteriorValoresDevidos')" class="text-danger">{{ errors.get('dibAnteriorValoresDevidos') }}</small>
                      </div>
                    </div>
                  </div>

                  <div class="form-group">

                    <div *ngIf="chkNotGranted">
                      <label *ngIf="!devidosBuracoNegro" class="col-md-2 control-label">RMI não concedida:
                      </label>
                      <label *ngIf="devidosBuracoNegro" class="col-md-2 control-label">(*) RMI não concedida antes da revisão (Buraco Negro):
                      </label>
                      <div class="col-md-3">
                        <input name="rmiValoresDevidos" currencyMask [(ngModel)]="rmiValoresDevidos" class="form-control" type="text">
                        <small *ngIf="errors.has('rmiValoresDevidos')" class="text-danger">{{ errors.get('rmiValoresDevidos') }}</small>
                      </div>
                    </div>
                  </div>

                  <div class="form-group">

                    <div *ngIf="!chkNotGranted">
                      <label *ngIf="!devidosBuracoNegro" class="col-md-2 control-label">Nova RMI de valores devidos:</label>
                      <label *ngIf="devidosBuracoNegro" class="col-md-2 control-label">Nova RMI de valores devidos antes da revisão (Buraco Negro):</label>
                      <div class="col-md-3">
                        <input name="rmiValoresDevidos" currencyMask [(ngModel)]="rmiValoresDevidos" class="form-control" type="text">
                        <small *ngIf="errors.has('rmiValoresDevidos')" class="text-danger">{{ errors.get('rmiValoresDevidos') }}</small>
                      </div>
                    </div>

                    <div *ngIf="devidosBuracoNegro">
                      <label class="col-md-2 control-label">RMI de valores devidos depois da revisão (Buraco Negro):</label>
                      <div class="col-md-3">
                        <input name="rmiValoresDevidosBuracoNegro" [(ngModel)]="rmiValoresDevidosBuracoNegro" currencyMask class="form-control" type="text">
                        <small *ngIf="errors.has('rmiValoresDevidosBuracoNegro')" class="text-danger">{{ errors.get('rmiValoresDevidosBuracoNegro') }}</small>
                      </div>
                    </div>

                    <div *ngIf="devidosPosBuracoNegro">
                      <label class="col-md-2 control-label">Índice de reajuste no teto da Nova RMI de valores devidos:</label>
                        <div class="col-md-3">
                          <input name="taxaAjusteMaximaEsperada" class="form-control" [(ngModel)]="taxaAjusteMaximaEsperada" type="text">
                          <small *ngIf="errors.has('taxaAjusteMaximaEsperada')" class="text-danger">{{ errors.get('taxaAjusteMaximaEsperada') }}</small>
                        </div>
                    </div>

                  </div>


                </fieldset>
              </form>
            </div>
          </div>
        </sa-widget>
      </article>






      <article class="col-sm-12 col-md-12 col-lg-12">
        <!-- Widget ID (each widget will need unique ID)-->
        <sa-widget [colorbutton]="false" [editbutton]="false">
          <header>
            <span class="widget-icon">
              <i class="fa fa-eye"></i>
            </span>
            <h2>Honorários</h2>
          </header>
          <!-- widget div-->
          <div>
            <!-- widget content -->
            <div class="widget-body">
              <form class="form-horizontal">
                <fieldset>
                  <div class="form-group">
                    <label class="col-md-2 control-label">Intervalo de Honorários:</label>
                    <div class="col-md-3">
                      <input name="dataHonorariosDe" [textMask]="{mask: dateMask}" [(ngModel)]="dataHonorariosDe" class="form-control" placeholder="De" type="text">
                      <small *ngIf="errors.has('dataHonorariosDe')" class="text-danger">{{ errors.get('dataHonorariosDe') }}</small>
                    </div>
                    <div class="col-md-5">
                      <input name="dataHonorariosAte" [(ngModel)]="dataHonorariosAte" [textMask]="{mask: dateMask}" class="form-control" placeholder="Até" type="text">
                      <small *ngIf="errors.has('dataHonorariosAte')" class="text-danger">{{ errors.get('dataHonorariosAte') }}</small>
                    </div>
                  </div>


                  <div class="form-group">
                    <label class="col-md-2 control-label">Percentual dos honorários:</label>
                    <div class="col-md-3">
                      <input name="percentualHonorarios" [(ngModel)]="percentualHonorarios" class="form-control" placeholder="(Ex: 0,2 p/ 20%)" type="text">
                      <small *ngIf="errors.has('percentualHonorarios')" class="text-danger">{{ errors.get('percentualHonorarios') }}</small>
                    </div>
                    <label class="col-md-2 control-label">Percentual do Acordo Judicial:</label>
                    <div class="col-md-3">
                      <input name="acordoJudicial" [(ngModel)]="acordoJudicial"  class="form-control" placeholder="(Ex: 0,8 p/ 80%)" type="text">
                      <small *ngIf="errors.has('acordoJudicial')" class="text-danger">{{ errors.get('acordoJudicial') }}</small>
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-md-2 control-label">Calcular mais:</label>
                    <div class="col-md-3">
                      <input name="maturidade" [(ngModel)]="maturidade" class="form-control" placeholder="Vincendos" type="text">
                    </div>
                  </div>
                </fieldset>
              </form>
            </div>
          </div>
        </sa-widget>
      </article>




      <article class="col-sm-12 col-md-12 col-lg-12">
        <sa-widget [colorbutton]="false" [editbutton]="false">
          <header>
            <span class="widget-icon">
              <i class="fa fa-edit"></i>
            </span>
            <h2>Correção Monetária</h2>

          </header>

          <!-- widget div-->
          <div>

            <!-- widget content -->
            <div class="widget-body">

              <div class="col-md-8 col-sm-offset-2">

                <div class="form-group">
                  <div class="col-md-10">
                    <div class="radio">
                      <label>
                        <input type="radio" checked="checked" name="correcao">
                        Tabela da IPCA-e
                      </label>
                    </div>
                    <div class="radio">
                      <label>
                        <input type="radio" name="correcao">
                        Tabela da Justiça Federal
                      </label>
                    </div>
                    <div class="radio">
                      <label>
                        <input type="radio" name="correcao">
                        Tabela da TR
                      </label>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </sa-widget>
      </article>





      <article class="col-sm-12 col-md-12 col-lg-12">
        <!-- Widget ID (each widget will need unique ID)-->
        <sa-widget [colorbutton]="false" [editbutton]="false">
          <header>
            <span class="widget-icon">
              <i class="fa fa-eye"></i>
            </span>
            <h2>Juros</h2>
          </header>
          <!-- widget div-->
          <div>
            <!-- widget content -->
            <div class="widget-body">
              <form class="form-horizontal">
                <fieldset>
                  <div class="form-group">
                    <label class="col-md-2 control-label">Juros anterior a janeiro 2003</label>
                    <div class="col-md-3">
                      <input name="jurosAntes2003" [(ngModel)]="jurosAntes2003" class="form-control" placeholder="0,5%" type="text">
                      <small *ngIf="errors.has('jurosAntes2003')" class="text-danger">{{ errors.get('jurosAntes2003') }}</small>
                    </div>
                    <label class="col-md-2 control-label">Juros posterior a janeiro 2003</label>
                    <div class="col-md-3">
                      <input name="jurosDepois2003" [(ngModel)]="jurosDepois2003"  class="form-control" placeholder="1.0%" type="text">
                      <small *ngIf="errors.has('jurosDepois2003')" class="text-danger">{{ errors.get('jurosDepois2003') }}</small>
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-md-2 control-label">Juros posterior a julho 2009:</label>
                    <div class="col-md-3">
                      <input name="jurosDepois2009" [(ngModel)]="jurosDepois2009" class="form-control" placeholder="0,5%" type="text">
                      <small *ngIf="errors.has('jurosDepois2009')" class="text-danger">{{ errors.get('jurosDepois2009') }}</small>
                    </div>
                    <div class="col-md-5">
                      <div class="checkbox">
                        <label>
                        <input type="checkbox" class="checkbox {{styleTheme}}" checked>
                        <span>Desmarque para não aplicar os juros da poupança</span>
                      </label>
                      </div>
                    </div>
                  </div>
                </fieldset>
              </form>
            </div>
          </div>
        </sa-widget>
      </article>


      <article class="col-sm-12 col-md-12 col-lg-12">
        <!-- Widget ID (each widget will need unique ID)-->
        <sa-widget [colorbutton]="false" [editbutton]="false">
          <header>
            <span class="widget-icon">
              <i class="fa fa-eye"></i>
            </span>
            <h2>Juros Taxa Selic</h2>
          </header>
          <!-- widget div-->
          <div>
            <!-- widget content -->
            <div class="widget-body">
              <p>
                Se meta da taxa Selic for menor que 8,5% ao ano os juros aplicados será de 70% da meta da selic, mensalizada.
              </p>
              <p>
                A tabela abaixo apresenta o período de Maio 2012 a Novembro de 2013.
              </p>

              <table class="table table-hover table-bordered">
                <thead>
                  <tr>
                    <th>
                      SELIC
                    </th>
                    <th>
                      MENSAL
                    </th>
                    <th>
                      70% TAXA SELIC
                    </th>
                    <th>
                      TAXA JUROS A CONSIDERAR
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Mai/12</td>
                    <td>0,74</td>
                    <td>-</td>
                    <td>0,50%</td>
                  </tr>
                  <tr>
                    <td>Jun/12</td>
                    <td>0,64</td>
                    <td>0,448</td>
                    <td>0,45%</td>
                  </tr>
                  <tr>
                    <td>Jun/12</td>
                    <td>0,64</td>
                    <td>0,448</td>
                    <td>0,45%</td>
                  </tr>
                  <tr>
                    <td>Jul/12</td>
                    <td>0,68</td>
                    <td>0,476</td>
                    <td>0,48%</td>
                  </tr>
                  <tr>
                    <td>Ago/12</td>
                    <td>0,69</td>
                    <td></td>
                    <td>0,50%</td>
                  </tr>
                  <tr>
                    <td>Set/12</td>
                    <td>0,54</td>
                    <td>0,378</td>
                    <td>0,38%</td>
                  </tr>
                  <tr>
                    <td>Out/12</td>
                    <td>0,61</td>
                    <td>0,427</td>
                    <td>0,43%</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </sa-widget>
      </article>




    </div>

    <!-- end row -->

  </sa-widgets-grid>

  <!-- end widget grid -->

</div>
