#texto {
            font: 12px arial, verdana, helvetica, sans-serif;
            margin-top:250px;
            text-align:center;
       }
       a.dcontexto{
            position:relative;
            font:12px arial, verdana, helvetica, sans-serif;
            padding:0;
            color:#000;
            text-decoration:none;
            border-bottom:2px dotted #039;
            cursor:help;
            z-index:50;
            font-weight:bold;
       }
       a.dcontexto:hover{
            background:transparent;
            z-index:55;
       }
       a.dcontexto span{
            display:none;
       }
       a.dcontexto:hover span{
            display:block;
            position:absolute;
            width:250px;
            top:2em;
            text-align:justify;
            left:-7em;
            font: 12px arial, verdana, helvetica, sans-serif;
            padding:5px 10px;
            border:1px solid #999;
            background:#000000;
            color:#FFF;
            font-weight:bold
      }