<div id="content">

  <!-- widget grid -->
  <sa-widgets-grid>

    <!-- row -->
    <div class="row">

      <article class="col-sm-12 col-md-12 col-lg-12">
        <sa-widget [colorbutton]="false" [editbutton]="false">
          <header>
            <span class="widget-icon">
              <i class="fa fa-edit"></i>
            </span>
            <h2>Dados do segurado</h2>

          </header>

          <!-- widget div-->
          <div>

            <!-- widget content -->
            <div class="widget-body">

              <ul class="list-unstyled">
                <li>
                  <b>Nome:</b> FARLEY FABIANO DE SOUZA FERRAZ</li>
                <li>
                  <b>CPF:</b> 811526716-34</li>
                <li>
                  <b>Data de nascimento:</b> 01/06/1970 - 47 anos</li>
                <li>
                  <b>Sexo:</b> Masculino</li>
              </ul>

              <div class="form-actions">
                <div class="row">
                  <div class="col-md-12">

                    <button type="submit" class="btn btn-labeled btn-info pull-left">
                      <span class="btn-label">
                        <i class="fa fa-pencil-square-o"></i>
                      </span> Editar
                    </button>

                  </div>
                </div>
              </div>

            </div>
          </div>
        </sa-widget>
      </article>




      <article class="col-sm-12 col-md-12 col-lg-12">
        <sa-widget [colorbutton]="false" [editbutton]="false">
          <header>
            <span class="widget-icon">
              <i class="fa fa-edit"></i>
            </span>
            <h2>Dados do cálculo</h2>

          </header>

          <!-- widget div-->
          <div>

            <!-- widget content -->
            <div class="widget-body">

              <ul class="list-unstyled">
                <li>
                  <b>Data do cálculo:</b> 18/08/2017</li>
                <li>
                  <b>Data da citação do requerido:</b> 24/02/2010</li>
                <li>
                  <b>Data da distribuição da ação:</b> 12/02/2010</li>
                <li>
                  <b>Tabela Correção Monetária Justiça Federal:</b> 08/2017</li>
              </ul>
            </div>
          </div>
        </sa-widget>
      </article>




      <article class="col-sm-12 col-md-12 col-lg-12">
        <sa-widget [colorbutton]="false" [editbutton]="false">
          <header>
            <span class="widget-icon">
              <i class="fa fa-edit"></i>
            </span>
            <h2>Valores Devidos</h2>

          </header>

          <!-- widget div-->
          <div>

            <!-- widget content -->
            <div class="widget-body">

              <ul class="list-unstyled">
                <li>
                  <b>Espécie dos valores devidos:</b> Auxílio Doença </li>
                <li>
                  <b>DIB de valores devidos:</b> 26/07/2007</li>
                <li>
                  <b>DIB anterior de valores devidos:</b> --</li>
                <li>
                  <b>Data de cessação de valores devidos:</b> 07/05/2008</li>
                <li>
                  <b>Nova RMI de valores devidos:</b> R$ 2.225,86</li>
              </ul>
            </div>
          </div>
        </sa-widget>
      </article>




      <article class="col-sm-12 col-md-12 col-lg-12">
        <sa-widget [colorbutton]="false" [editbutton]="false">
          <header>
            <span class="widget-icon">
              <i class="fa fa-edit"></i>
            </span>
            <h2>Honorários</h2>

          </header>

          <!-- widget div-->
          <div>

            <!-- widget content -->
            <div class="widget-body">

              <ul class="list-unstyled">
                <li>
                  <b>Intervalo de Honorários:</b> 26/07/2007 a 07/05/2008</li>
                <li>
                  <b>Percentual dos honorários:</b> 10%</li>
                <li>
                  <b>Percentual do Acordo Judicial:</b> 0%</li>
                <li>
                  <b>Vicendos:</b> 0</li>
              </ul>
            </div>
          </div>
        </sa-widget>
      </article>



      <article class="col-sm-12 col-md-12 col-lg-12">
        <sa-widget [colorbutton]="false" [editbutton]="false">
          <header>
            <span class="widget-icon">
              <i class="fa fa-edit"></i>
            </span>
            <h2>Juros</h2>

          </header>

          <!-- widget div-->
          <div>

            <!-- widget content -->
            <div class="widget-body">

              <ul class="list-unstyled">
                <li>
                  <b>Juros anterior a janeiro de 2003:</b> 0.5%</li>
                <li>
                  <b>Juros posterior a janeiro de 2003:</b> 1%</li>
                <li>
                  <b>Juros posterior a julho de 2009:</b> 0.5%</li>
              </ul>
            </div>
          </div>
        </sa-widget>
      </article>




      <article class="col-sm-12 col-md-12 col-lg-12">
        <!-- Widget ID (each widget will need unique ID)-->
        <sa-widget [colorbutton]="false" [editbutton]="false">
          <header>
            <span class="widget-icon">
              <i class="fa fa-eye"></i>
            </span>
            <h2>Juros Taxa Selic</h2>
          </header>
          <!-- widget div-->
          <div>
            <!-- widget content -->
            <div class="widget-body">
              <table class="table table-hover table-bordered">
                <thead>
                  <tr>
                    <th>
                      Competência
                    </th>
                    <th>
                      Indice de Reajuste de valores devidos
                    </th>
                    <th>
                      Benefício Devido Tetos
                    </th>
                    <th>
                      Indice de Reajuste de valores recebidos
                    </th>
                    <th>
                      Benefício Recebido Tetos
                    </th>
                    <th>
                      Diferença Mensal Tetos
                    </th>
                    <th>
                      Correção Monetária
                    </th>
                    <th>
                      Diferença Corrigida Tetos
                    </th>
                    <th>
                      Juros
                    </th>
                    <th>
                      Valor dos Juros Tetos
                    </th>
                    <th>
                      Diferença Corrigida + Juros Tetos
                    </th>
                    <th>
                      Honorários Tetos
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>7/2007</td>
                    <td>1.000000</td>
                    <td>R$ 0,00</td>
                    <td>1.000000</td>
                    <td>R$ 0,00</td>
                    <td>R$ 0,00</td>
                    <td>1.843061</td>
                    <td>R$ 0,00</td>
                    <td>45.0000%</td>
                    <td>R$ 0,00</td>
                    <td>R$ 0,00 p</td>
                    <td>R$ 0,00</td>
                  </tr>
                  <tr>
                    <td>8/2007</td>
                    <td>1.000000</td>
                    <td>R$ 0,00</td>
                    <td>1.000000</td>
                    <td>R$ 0,00</td>
                    <td>R$ 0,00</td>
                    <td>1.843061</td>
                    <td>R$ 0,00</td>
                    <td>45.0000%</td>
                    <td>R$ 0,00</td>
                    <td>R$ 0,00 p</td>
                    <td>R$ 0,00</td>
                  </tr>
                  <tr>
                    <td>9/2007</td>
                    <td>1.000000</td>
                    <td>R$ 0,00</td>
                    <td>1.000000</td>
                    <td>R$ 0,00</td>
                    <td>R$ 0,00</td>
                    <td>1.843061</td>
                    <td>R$ 0,00</td>
                    <td>45.0000%</td>
                    <td>R$ 0,00</td>
                    <td>R$ 0,00 p</td>
                    <td>R$ 0,00</td>
                  </tr>
                  <tr>
                    <td>10/2007</td>
                    <td>1.000000</td>
                    <td>R$ 0,00</td>
                    <td>1.000000</td>
                    <td>R$ 0,00</td>
                    <td>R$ 0,00</td>
                    <td>1.843061</td>
                    <td>R$ 0,00</td>
                    <td>45.0000%</td>
                    <td>R$ 0,00</td>
                    <td>R$ 0,00 p</td>
                    <td>R$ 0,00</td>
                  </tr>
                  <tr>
                    <td>11/2007</td>
                    <td>1.000000</td>
                    <td>R$ 0,00</td>
                    <td>1.000000</td>
                    <td>R$ 0,00</td>
                    <td>R$ 0,00</td>
                    <td>1.843061</td>
                    <td>R$ 0,00</td>
                    <td>45.0000%</td>
                    <td>R$ 0,00</td>
                    <td>R$ 0,00 p</td>
                    <td>R$ 0,00</td>
                  </tr>
                  <tr>
                    <td>12/2007</td>
                    <td>1.000000</td>
                    <td>R$ 0,00</td>
                    <td>1.000000</td>
                    <td>R$ 0,00</td>
                    <td>R$ 0,00</td>
                    <td>1.843061</td>
                    <td>R$ 0,00</td>
                    <td>45.0000%</td>
                    <td>R$ 0,00</td>
                    <td>R$ 0,00 p</td>
                    <td>R$ 0,00</td>
                  </tr>
                  <tr>
                    <td>13/2007</td>
                    <td>1.000000</td>
                    <td>R$ 0,00</td>
                    <td>1.000000</td>
                    <td>R$ 0,00</td>
                    <td>R$ 0,00</td>
                    <td>1.843061</td>
                    <td>R$ 0,00</td>
                    <td>45.0000%</td>
                    <td>R$ 0,00</td>
                    <td>R$ 0,00 p</td>
                    <td>R$ 0,00</td>
                  </tr>
                </tbody>
              </table>

              <div class="well margin-top-10 margin-bottom-10">
                <p>
                  <strong>Observações:</strong>
                </p>
                <p>
                  <strong>a) </strong> Cálculos atualizados até 08/2017;</p>
                <p>
                  <strong>b) </strong> Correção monetária conforme Sistema de Correção Monetária do CJF;</p>
                <p>Indexadores: - ORTN de 10/1964 a 02/1986, OTN (6,17019) de 03/1986 a 01/1989, IPC (IBGE) de 01/1989 a 02/1989,
                  BTN de 03/1989 a 03/1990, IPC (IBGE) de 03/1990 a 02/1991, INPC de 03/1991 a 12/1992, IRSM de 01/1993 a
                  02/1994, URV (DE 28/02 A 01/04/94) em 03/1994, URV de 04/1994 a 07/1994, IPC-R de 07/1994 a 06/1995, INPC
                  de 07/1995 a 04/1996, IGP-di de 05/1996 a 08/2006, INPC de 09/2006 a 18/08/2017;</p>
                <p>
                  <strong>c) </strong> Juros de mora:</p>
                <p>- Taxa de 0.5% até 12/2002 , taxa de 1%de 01/2003 até 06/2009 , taxa de 0.5% de 07/2009 até 18/08/2017 Quando
                  a sentença determinar a utilização de juros pelo critério da poupança será adotado o conteúdo ditado pela
                  Lei 12703/2012 a partir de 07/2012. </p>

              </div>

              <div class="row">
                <div class="col-sm-4 col-sm-offset-4">
                  <table class="table table-bordered table-hover table-condensed">
                    <thead>
                      <tr>
                        <th colspan="2" class="text-align-center">LEGENDA</th>
                      </tr>
                    </thead>
                    <thead>
                      <tr>
                        <th>Símbolo</th>
                        <th>Descrição</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>*</td>
                        <td>Efeito financeiro da Revisão do Buraco Negro</td>
                      </tr>
                      <tr>
                        <td>p</td>
                        <td>Benefício Proporcional</td>
                      </tr>
                      <tr>
                        <td>a</td>
                        <td>Abono Proporcional</td>
                      </tr>
                      <tr>
                        <td>(os)</td>
                        <td>Índice de reajuste pela OS 121</td>
                      </tr>
                      <tr>
                        <td>M</td>
                        <td>Limitado ao valor mínimo</td>
                      </tr>
                      <tr>
                        <td>T</td>
                        <td>Limitado ao valor teto</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>


            </div>
          </div>
        </sa-widget>
      </article>




    </div>

    <!-- end row -->

  </sa-widgets-grid>

  <!-- end widget grid -->

</div>