<table
class="table table-bordered table-hover"
*ngIf="!isUpdating"
>
<thead>
  <tr>
    <th colspan="2">
      Regra de Transição do art. 18 da EC nº 103/2019 (Aposentadoria por Idade)
    </th>
  </tr>
  <tr *ngIf="conclusoesRegra5.status">
    <th>
        <span class="pull-right">Tipo</span>
    </th>
    <th>
      Descrição
    </th>
  </tr>
</thead>
<tbody *ngIf="conclusoesRegra5.status">
  <tr>
    <td width="50%">
      <span class="pull-right font-bold">Data de Início do Benefício</span>
    </td>
    <td>{{ conclusoesRegra5.dataDib }}</td>
  </tr>
  <tr>
    <td width="50%">
      <span class="pull-right font-bold">Idade na data de Início do Benefício </span>
    </td>
    <!-- <td>{{ conclusoesRegra5.idadeDib }}</td> -->
    <td>{{ conclusoesRegra5.idadeMoment }}</td>
  </tr>
  <tr>
    <td width="50%">
      <span class="pull-right font-bold">Tempo de Contribuição Necessário</span>
    </td>
    <td>{{ conclusoesRegra5.tempoDib }}</td>
  </tr>
  <tr>
    <td width="50%">
      <span class="pull-right font-bold">Percentual da Média Salarial</span>
    </td>
    <td>{{ conclusoesRegra5.formula }}</td>
  </tr>
</tbody>
</table>