<div id="content">
  <!-- widget grid -->
  <sa-widgets-grid>
    <!-- row -->
    <div class="row">
      <article class="col-sm-12 col-md-12 col-lg-12">
        <h1>Tutoriais dos simuladores</h1>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/home/home"> Home </a></li>
          <li class="breadcrumb-item active">Tutoriais</li>
        </ol>
      </article>
      <div class="col-sm-12 col-md-6 col-lg-6">
        <app-tutorial-video
          [title]="'Regras de Transição'"
          [idVimeo]="'377178520'"
        ></app-tutorial-video> 
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6">
        <app-tutorial-video
          [title]="'Contagem de Tempo e Importação dados do CNIS'"
          [idVimeo]="'374977453'"
        ></app-tutorial-video>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6">
        <app-tutorial-video
          [title]="'Exportação dos dados da Contagem de Tempo para o calculo de RMI'"
          [idVimeo]="'374976235'"
        ></app-tutorial-video>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6">
        <app-tutorial-video
          [title]="'Pensão por Morte de Instituidor não Aposentado na Data do Óbito'"
          [idVimeo]="'374976988'"
        ></app-tutorial-video>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6">
        <app-tutorial-video
          [title]="'Pensão por Morte de Segurado Aposentado na Data do Óbito'"
          [idVimeo]="'374977398'"
        ></app-tutorial-video>
      </div>
    </div>
    <!-- end row -->
  </sa-widgets-grid>
  <!-- end widget grid -->
</div>
