
<article class="no-padding">
<section >
	<accordion class="smart-accordion-red panel-group" [closeOthers]="true">
	  <accordion-group [isOpen]="false" #group19981991>
	    <h4 class="panel-title" accordion-heading>
	      <a>
          <strong  id='tituloCalculo'>{{(numResultado+1)}} - Direito Adquirido entre 05/10/1988 e 04/04/1991</strong>
          <!-- {{calculo.tipo_seguro}} -->
          <i
          class="fa fa-gear fa-1-9x fa-spin txt-color-red pull-right"
          *ngIf="isUpdating"></i>
          <button *ngIf="!isUpdating" class="btn btn-primary pull-right btn-xs" type="button">
            &nbsp;&nbsp;
            {{ (!group19981991?.isOpen)? "Abrir" : "Fechar"}}
            <i
            *ngIf="!isUpdating"
            class="pull-right fa fa-lg p-1"
            [ngClass]="{
              'fa-angle-down': group19981991?.isOpen,
              'fa-angle-up': !group19981991?.isOpen
            }"
          ></i>&nbsp;&nbsp;
          </button>
          <button *ngIf="!isUpdating" class="btn btn-primary pull-right btn-xs mr-3" 
          type="submit"
          (click)="imprimirBox($event, boxId)"
          >
            &nbsp;&nbsp; <i
            *ngIf="!isUpdating"
            class=" fa fa-print pull-left fa fa-lg p-1"
          ></i>
            Imprimir
           &nbsp;&nbsp;
          </button>
        </a>
	    </h4>
	    <div class="no-padding no-margin">


    <div id="{{boxId}}" class="boxCalculo"  *ngIf="!regraEspecie8891IvalidezIdade99">
      <article class="col-sm-12 col-md-12 col-lg-12">
        <sa-widget [colorbutton]="false" [editbutton]="false" class="no-padding no-margin">
          <!-- <header>
            <span class="widget-icon">
              <i class="fa fa-edit"></i>
            </span>
            <h2 id='tituloCalculo'>{{calculo.tipo_seguro}} Entre 05/10/1988 e 04/04/1991</h2>
          </header> -->
          <div >
            <div class="widget-body no-padding hidden-dt">
              <table class="table table-bordered table-hover no-padding table-condensed">
                <thead>
                  <tr>
                    <th width="50%">
                      <span class="pull-right font-bold"> Tipo </span>
                    </th>
                    <th>
                      Descrição
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <span class="pull-right font-bold">Espécie:</span>
                    </td>
                    <td>{{calculo.tipo_seguro}}</td>
                  </tr>
                  <tr>
                    <td>
                      <span class="pull-right font-bold">Período para o Início do Benefício:</span>
                    </td>
                    <td>Entre 05/10/1988 e 04/04/1991</td>
                  </tr>
                  <tr>
                    <td>
                      <span class="pull-right font-bold">Data de Início do Benefício:</span>
                    </td>
                    <td>{{calculo.data_pedido_beneficio}}</td>
                  </tr>
                  <tr>
                    <td>
                      <span class="pull-right font-bold">Contribuição Primária:</span>
                    </td>
                    <td>{{contribuicaoPrimaria88.anos}} ano(s), {{contribuicaoPrimaria88.meses}} mês(es) e {{contribuicaoPrimaria88.dias}} dia(s)</td>
                  </tr>
                  <tr>
                    <td>
                      <span class="pull-right font-bold">Contribuição Secundária:</span>
                    </td>
                    <td>{{contribuicaoSecundaria88.anos}} ano(s), {{contribuicaoSecundaria88.meses}} mês(es) e {{contribuicaoSecundaria88.dias}} dia(s)</td>
                  </tr>
                  <tr>
                    <td>
                      <span class="pull-right font-bold">Data de Criação:</span>
                    </td>
                    <td>{{formatReceivedDate(calculo.data_calculo)}}</td>
                  </tr>
                </tbody>
              </table>
              <div class="alert alert-warning margin-top-10" *ngFor="let erro of erros" role="alert">
                <p>{{erro}}</p>
              </div>
              <div class="alert alert-warning margin-top-10" *ngIf="nenhumaContrib" role="alert">
                <p>Nenhuma contribuição encontrada em 48 meses anteriores a DIB conforme <a href="http://www.ieprev.com.br/legislacao/10634/lei-no-8.213,-de-24-7-1991---atualizada-ate-dezembro-2008#art29\" target='_blank'>Art. 29 da Lei nº 8.213, de 24/7/1991</a></p>
              </div>
            </div>
            <!-- <div class="container"> -->
            <div class="row">
              <div id="tabela_concl_88" class="col-md-6">
                <i class="fa fa-gear fa-4x fa-spin txt-color-red" *ngIf="isUpdating" ></i>
                <div>
                  <div class="well font-bold text-align-center"><p>Cálculo Conforme Decreto 83.080/1979 </p><br></div>
                  <sa-datatable [options]="tableOptions88" *ngIf="!isUpdating && direito"
                    paginationLength="true" tableClass="table table-striped table-bordered table-hover table-condensed">
                    <thead>
                      <tr>
                        <th class="text-align-center" style="vertical-align: middle;">#</th>
                        <th class="text-align-center" style="vertical-align: middle;">Competência</th>
                        <th class="text-align-center" style="vertical-align: middle;">Salário de Contribuição</th>
                        <th class="text-align-center" style="vertical-align: middle;">Índice</th>
                        <th class="text-align-center" style="vertical-align: middle;">Salário de Contribuição Corrigido</th>
                      </tr>
                    </thead>
                  </sa-datatable>
                </div>
                <div class="widget-body" *ngIf="!isUpdating && direito">
                  <table class="table table-bordered table-hover table-condensed vertical-middle">
                    <tbody>
                      <tr>
                        <td width="50%">
                          <span class="pull-right font-bold">Soma dos Salários de Contribuição Considerados</span>
                        </td>
                        <td width="50%">{{conclusoes88.total_contribuicoes_primarias}}</td>
                      </tr>
                      <tr>
                        <td width="50%">
                          <span class="pull-right font-bold">Divisor da Média dos Salários de Contribuição</span>
                        </td>
                        <td width="50%">{{conclusoes88.divisor_calculo_media}}</td>
                      </tr>
                      <tr>
                        <td width="50%">
                          <span class="pull-right font-bold">Média dos Salários de Contribuição</span>
                        </td>
                        <td width="50%">{{conclusoes88.media_contribuicoes_primarias}}</td>
                      </tr>
                      <tr>
                        <td width="50%">
                          <span class="pull-right font-bold">Média dos Salários de Contribuição</span>
                        </td>
                        <td width="50%">{{conclusoes88.media_contribuicoes}}</td>
                      </tr>
                      <tr>
                        <td width="50%">
                          <span class="pull-right font-bold">Maior Valor Teto (MVT)</span>
                        </td>
                        <td width="50%">{{conclusoes88.maior_valor_teto}}</td>
                      </tr>
                      <tr>
                        <td width="50%">
                          <span class="pull-right font-bold">Menor Valor Teto (mvt)</span>
                        </td>
                        <td width="50%">{{conclusoes88.menor_valor_teto}}</td>
                      </tr>
                      <tr>
                        <td width="50%">
                          <span class="pull-right font-bold">Alíquota do Benefício</span>
                        </td>
                        <td width="50%">{{conclusoes88.porcentagem_calculo_beneficio}}%</td>
                      </tr>
                      <tr *ngIf="conclusoes88.primeira_parcela_rmi">
                        <td width="50%">
                          <span class="pull-right font-bold">1ª Parcela da RMI</span>
                        </td>
                        <td width="50%">{{conclusoes88.primeira_parcela_rmi}}</td>
                      </tr>
                      <tr *ngIf="conclusoes88.grupo_dos_12">
                        <td width="50%">
                          <span class="pull-right font-bold">Qtde Grupos de 12</span>
                        </td>
                        <td width="50%">{{conclusoes88.grupo_dos_12}}</td>
                      </tr>
                      <tr *ngIf="conclusoes88.valor_excedente">
                        <td width="50%">
                          <span class="pull-right font-bold">Valor Excedente</span>
                        </td>
                        <td width="50%">{{conclusoes88.valor_excedente}}</td>
                      </tr>
                      <tr *ngIf="conclusoes88.segunda_parcela_rmi">
                        <td width="50%">
                          <span class="pull-right font-bold">2ª Parcela da RMI</span>
                        </td>
                        <td width="50%">{{conclusoes88.segunda_parcela_rmi}}</td>
                      </tr>
                      <tr *ngIf="conclusoes88.oitenta_porcento_valor_excedente">
                        <td width="50%">
                          <span class="pull-right font-bold">80% do Valor Excedente <br>(Max para 2ª parcela)</span>
                        </td>
                        <td width="50%">{{conclusoes88.oitenta_porcento_valor_excedente}}</td>
                      </tr>
                      <tr *ngIf="conclusoes88.noventa_porcento_maior_valor_teto">
                        <td width="50%">
                          <span class="pull-right font-bold">90% do Maior Valor de Teto <br>(Max para a RMI)</span>
                        </td>
                        <td width="50%">{{conclusoes88.noventa_porcento_maior_valor_teto}}</td>
                      </tr>
                      <tr>
                        <td width="50%">
                          <span class="pull-right font-bold">Benefício Mínimo com Índice <br>(Min para a RMI)</span>
                        </td>
                        <td width="50%">{{conclusoes88.beneficio_minimo_com_indice}}</td>
                      </tr>
                      <tr>
                        <td width="50%">
                          <span class="pull-right font-bold">95% do Valor da Média <br>(Max para a RMI)</span>
                        </td>
                        <td width="50%">{{conclusoes88.noventaecinco_porcento_valor_da_media}}</td>
                      </tr>
                      <tr>
                        <td width="50%">
                          <span class="pull-right font-bold">Renda Mensal Inicial</span>
                        </td>
                        <td width="50%">{{conclusoes88.renda_mensal_inicial}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div id="tabela_concl_91_98" class="col-md-6">
                <div>
                  <div class="well font-bold text-align-center"><p>Cálculo Conforme Lei 8.213/1991 <br> (Efeito financeiro a partir de junho de 1992)</p></div>
                  <sa-datatable [options]="tableOptions91_98" *ngIf="!isUpdating && direito" [responsive] = "false"
                  paginationLength="true" tableClass="table table-striped table-bordered table-hover table-condensed">
                    <thead>
                      <tr>
                        <th class="text-align-center" style="vertical-align: middle;">#</th>
                        <th class="text-align-center" style="vertical-align: middle;">Competência</th>
                        <th class="text-align-center" style="vertical-align: middle;">Salário de Contribuição</th>
                        <th class="text-align-center" style="vertical-align: middle;">Índice</th>
                        <th class="text-align-center" style="vertical-align: middle;">Salário de Contribuição Corrigido</th>
                      </tr>
                    </thead>
                  </sa-datatable>
                </div>
                <div class="widget-body" *ngIf="!isUpdating && direito"> 
                  <table class="table table-bordered table-hover table-condensed vertical-middle">
                    <tbody>

                      <tr>
                        <td width="50%">
                          <span class="pull-right font-bold">Soma dos Salários de Contribuição Considerados</span>
                        </td>
                        <td width="50%">{{conclusoes91_98.total_contribuicoes_primarias}}</td>
                      </tr>
                      <tr>
                        <td width="50%">
                          <span class="pull-right font-bold">Divisor da Média dos Salários de Contribuição</span>
                        </td>
                        <td width="50%">{{conclusoes91_98.divisor_calculo_media}}</td>
                      </tr>
                      <tr>
                        <td width="50%">
                          <span class="pull-right font-bold">Média dos Salários de Contribuição</span>
                        </td>
                        <td width="50%">{{conclusoes91_98.media_contribuicoes_primarias}}</td>
                      </tr>
                     
                      <tr>
                        <td width="50%">
                          <span class="pull-right font-bold">Índice de Reajuste no Teto </span>
                        </td>
                        <td width="50%">{{conclusoes91_98.indice_reajuste_teto}}</td>
                      </tr>
                      
                      <tr *ngIf="conclusoes91_98.total_contribuicoes_secundarias">
                        <td width="50%">
                          <span class="pull-right font-bold">Total das contribuições secundárias</span>
                        </td>
                        <td width="50%">{{conclusoes91_98.total_contribuicoes_secundarias}}</td>
                      </tr>
                      <tr *ngIf="conclusoes91_98.media_contribuicoes_secundarias">
                        <td width="50%">
                          <span class="pull-right font-bold">Média das contribuições secundárias</span>
                        </td>
                        <td width="50%">{{conclusoes91_98.media_contribuicoes_secundarias}}</td>
                      </tr>
                      <tr *ngIf="conclusoes91_98.divisor_calculo_media_secundaria">
                        <td width="50%">
                          <span class="pull-right font-bold">Divisor do cálculo da média secundária</span>
                        </td>
                        <td width="50%">{{conclusoes91_98.divisor_calculo_media_secundaria}}</td>
                      </tr>
                      <tr>
                        <td width="50%">
                          <span class="pull-right font-bold">Alíquota do Benefício</span>
                        </td>
                        <td width="50%">{{ this.Math.floor(conclusoes91_98.coeficiente) }}%</td>
                      </tr>
                      <tr *ngIf="conclusoes91_98.divisor_calculo_media_secundaria">
                        <td width="50%">
                          <span class="pull-right font-bold">Média dos Salários de Contribuição</span>
                        </td>
                        <td width="50%">{{conclusoes91_98.media_contribuicoes}}</td>
                      </tr>
                      <tr>
                        <td width="50%">
                          <span class="pull-right font-bold">Salário Mínimo</span>
                        </td>
                        <td width="50%">{{conclusoes91_98.salario_minimo}}</td>
                      </tr>
                      <tr>
                        <td width="50%">
                          <span class="pull-right font-bold">Teto do Salário de Contribuição</span>
                        </td>
                        <td width="50%">{{conclusoes91_98.teto}}</td>
                      </tr>
                      <tr>
                        <td width="50%">
                          <span class="pull-right font-bold">Renda Mensal Inicial</span>
                        </td>
                        <td width="50%">{{conclusoes91_98.renda_mensal_inicial}}</td>
                      </tr>
                      <tr>
                        <td width="50%">
                          <span class="pull-right font-bold">Renda Mensal Inicial na DIB</span>
                        </td>
                        <td width="50%">{{conclusoes91_98.renda_mensal_inicial_data_dib}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          <!-- </div> -->
          </div>
        </sa-widget>
</article>
</div>






	     <!-- Opções do Cálculo Entre 05/04/1991 e 15/12/1998 -->
        <table class="table table-hover table-bordered">
          <thead>
            <tr>
              <th>
                Cálculo nº: {{boxId}}
              </th>
              <th>
                Ação
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="!isUpdating">
              <td>
                <p>Exportar para o cálculo de Liquidação de Sentença</p>
              </td>
              <td>
                <button type="submit" *ngIf='direito' (click)="exportarParaBeneficios(dataInicioBeneficio.format('YYYY-MM-DD'), valorExportacao, 'A')" class="btn btn-labeled btn-primary pull-right">
                  <span class="btn-label">
                    <i class="fa fa-link"></i>
                  </span> EXPORTAR
                </button>
                <button type="submit" *ngIf='!direito' class="btn btn-labeled btn-primary pull-right" disabled>
                  <span class="btn-label">
                    <i class="fa fa-link"></i>
                  </span> EXPORTAR
                </button>
              </td>
            </tr>
            <tr *ngIf="!isUpdating">
              <td>
                <p>Exportar para o cálculo de Liquidação de Sentença - Teto 12/98 e 12/2003</p>
              </td>
              <td>
                <button type="submit" *ngIf='direito' (click)="exportarParaBeneficios(dataInicioBeneficio.format('YYYY-MM-DD'), valorExportacao.replace(',','.'), 'AJ')" class="btn btn-labeled btn-primary pull-right">
                  <span class="btn-label">
                    <i class="fa fa-link"></i>
                  </span> EXPORTAR
                </button>
                <button type="submit" *ngIf='!direito' class="btn btn-labeled btn-primary pull-right" disabled>
                  <span class="btn-label">
                    <i class="fa fa-link"></i>
                  </span> EXPORTAR
                </button>
              </td>
            </tr>
            <tr>
              <td>
                <p>Imprimir o cálculo</p>
              </td>
              <td>
                <button type="submit" (click)="imprimirBox($event, boxId)" class="btn btn-labeled btn-primary pull-right">
                  <span class="btn-label">
                    <i class="fa fa-print"></i>
                  </span> IMPRIMIR
                </button>
              </td>
            </tr>
          </tbody>
        </table>
	    </div>
	  </accordion-group>
	</accordion>
</section>
</article>









