<sa-widget  [colorbutton]="false" [editbutton]="false" [deletebutton]="false">
  <header>
    <span class="widget-icon font-md">
      <i class="fa fa-user"></i>
    </span>
    <h2>Resultados Emenda Constitucional nº 103/2019</h2>
  </header>
  <!-- widget div-->
  <div>
    <!-- widget content -->
    <div class="widget-body" id='article-conclusao'>

      <div>
          <table
          class="table table-bordered table-hover"
          >
          <thead>
            <tr>
              <th colspan="2">
               Informações do segurado
              </th>
            </tr>
          </thead>
          <tbody>
              <tr *ngFor="let seguradoInf of seguradoInformacoes" >
                <td width="50%">
                  <span class="pull-right font-bold"
                    >{{ seguradoInf.label }}</span
                  >
                </td>
                <td>{{ seguradoInf.value }}</td>
              </tr>
          </tbody>
          </table>
      </div>
      <app-transicao-resultados-pontos
        [seguradoTransicao]="seguradoTransicao"
      ></app-transicao-resultados-pontos>

      <app-transicao-resultados-idade-progressiva
        [seguradoTransicao]="seguradoTransicao"
      ></app-transicao-resultados-idade-progressiva>

      <app-transicao-resultados-pedagio50
        [seguradoTransicao]="seguradoTransicao"
      ></app-transicao-resultados-pedagio50>

      <app-transicao-resultados-pedagio100
        [seguradoTransicao]="seguradoTransicao"
      ></app-transicao-resultados-pedagio100>

      <app-transicao-resultados-idade
        [seguradoTransicao]="seguradoTransicao"
      ></app-transicao-resultados-idade>
    </div>
  </div>
</sa-widget>
      <div class="row margin-bottom-5" *ngIf="!getPeriodosList" >
          <div class="col-lg-4 col-md-4 ">
              <button type="button" (click)="scroll('formTransicao')" class="btn btn-warning no-margin btn-block font-md"
              data-placement="top" tooltip="Retornar ao formulario">
              <span class="btn-label">
                <i class="fa fa-edit"></i>
              </span> Alterar
            </button>
          </div>
        <div class="col-lg-4 col-md-4 pull-right">
            <button type="submit" (click)="imprimirPagina()" class="btn btn-primary no-margin btn-block font-md" id="btn-imprimir-pagina"
            data-placement="top" tooltip="Clique aqui para imprimir">
            <span class="btn-label">
              <i class="fa fa-print"></i>
            </span> Imprimir
          </button>
        </div>
      </div>
