<!-- Widget ID (each widget will need unique ID)-->
<sa-widget [colorbutton]="false" [editbutton]="false" [togglebutton]="false" [deletebutton]="false" [fullscreenbutton]="false"
  [custombutton]="false">
  <header>
    <span class="widget-icon">
      <i class="fa fa-edit"></i>
    </span>
    <h2><strong>Dados do segurado</strong></h2>
  </header>
  <!-- widget div-->
  <div *ngIf="!isUpdating">

    <!-- widget content -->
    <div class="widget-body no-padding">
      <table class="table table-condensed  table-responsive">
        <tbody>
          <tr>
            <td><strong class="pull-right">Nome:</strong></td>
            <td>{{segurado.nome}} </td>
          </tr>
          <tr *ngIf="segurado.documento">
            <td><strong class="pull-right">{{segurado.id_documento}}:</strong></td>
            <td>{{segurado.documento}} </td>
          </tr>
          <tr>
            <td><strong class="pull-right">Data de nascimento:</strong></td>
            <td>{{segurado.data_nascimento}}</td>
          </tr>
          <tr>
            <td><strong class="pull-right">Idade:</strong></td>
            <td>{{segurado.idade}}</td>
          </tr>
          <tr>
            <td><strong class="pull-right">Idade após última data:</strong></td>
            <td>{{ lastdateNascimento.years() }} anos 
              {{ lastdateNascimento.months() }} meses
              {{this.Math.ceil(lastdateNascimento.days()) | number : '1.0-0' }} dias</td>
          </tr>
          <tr>
            <td><strong class="pull-right">Sexo:</strong></td>
            <td>
              <span *ngIf="segurado.sexo=='m'">Masculino</span>
              <span *ngIf="segurado.sexo=='f'">Feminino</span>
            </td>
          </tr>
          <tr>
            <td><strong class="pull-right">Referência:</strong></td>
            <td>{{calculo.referencia_calculo}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="form-actions no-padding no-margin not-print">
      <div class="row">
        <div class="pull-left">
          <button type="submit" (click)="returnListaSegurados()" class="btn btn-labeled btn-info " data-placement="bottom"
            tooltip="Retorna para lista de segurados do simulador de contagem de tempo.">
            <span class="btn-label">
              <i class="fa fa-arrow-left"></i>
            </span> Retornar para Segurados
          </button>
          <button type="submit" (click)="editSegurado()" class="btn btn-labeled btn-info">
            <span class="btn-label">
              <i class="fa fa-pencil"></i>
            </span> Editar Segurado
          </button>
        </div>
        <div class="pull-right">
          <button type="submit" (click)="returnListaCalculos()" class="btn btn-labeled btn-info" data-placement="bottom"
            tooltip="Retorna para lista de simulações do segurado selecionado.">
            <span class="btn-label">
              <i class="fa fa-arrow-left"></i>
            </span> Retornar para cálculos
          </button>
          <button type="submit" (click)="editCalculo()" class="btn btn-labeled btn-info">
            <span class="btn-label">
              <i class="fa fa-pencil"></i>
            </span> Editar referência
          </button>
        </div>
      </div>
    </div>
  </div>
</sa-widget>