


<div id="content">
  <!-- widget grid -->
  <sa-widgets-grid>
    <div class="row" style="margin-top: 5rem; margin-bottom: 7rem">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h1 class="fa-2-8x text-align-center" style="font-weight: 700">
          Seja Bem-vindo(a) ao Simulador de Cálculos do IEPREV
        </h1>
      </div>
    </div>

    <div class="row" style="margin-bottom: 5rem">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <ul class="list-inline text-align-center color-ieprev">
          <li class="px-4 mx-2" *ngFor="let menuHome of textosSimuladoresMenu">
            <a
              routerLink="{{ menuHome.link }}"
              class="color-ieprev"
              (mouseover)="over(menuHome.value)"
              (mouseout)="out(menuHome.value)"
            >
              <div class="home-box text-align-center">
                <i class="{{ menuHome.icon }} fa-5x "></i>
                <h3 style="font-weight: 600; font-size: 1.8rem;" [innerHTML]="menuHome.title"></h3>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-md-offset-1 col-md-10">
        <h3><strong>Descrição do Simulador</strong></h3>
        <div class="well well-lg well-light">
          <p class="color-ieprev fa-1-8x" style="min-height: 4rem">
            <strong >{{ textDescricao }}</strong>
            
          </p>
        </div>
      </div>
    </div>

    <!-- <div class="row">
      <div
        *ngFor="let menuHome of textosSimuladoresMenu"
        class="col-xs-2 col-sm-2 col-md-3 col-lg-3"
      >
        <a routerLink="{{ menuHome.link }}">
          <div class="home-box">
            <i class="{{ menuHome.icon }} fa-5x"></i>
            <h3 class="" [innerHTML]="menuHome.title"></h3>
            <p class="home-desc"></p>
          </div>
        </a>
      </div>
    </div> -->
    <!-- end row -->
  </sa-widgets-grid>
  <!-- end widget grid -->
</div>

<!-- 
<div id="content">
  <sa-widgets-grid>
    <div class="row">
      <div class="col-xs-12 col-md-5 col-md-offset-1">
        <a routerLink="/transicao">
          <div class="home-box">
            <p class="home-title">Regras de Transição</p>
            <img
              src="../../../assets/img/home/simulador-transicao.png"
              class="img-responsive img-icone-custom"
            />
            <p class="home-desc">
              Possibilita simular quando o segurado vai atingir os requisitos
              exigidos pelas regras de transição da EC nº 103/2019.
            </p>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-md-5">
        <a routerLink="/rgps/rgps-planejamento">
          <div class="home-box">
            <p class="home-title">Planejamento Previdenciário</p>
            <img
              src="../../../assets/img/home/simulador-planejamento.png"
              class="img-responsive img-icone-custom"
            />
            <p class="home-desc">Planejamento Previdenciário</p>
          </div>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-5 col-xs-offset-1">
        <a routerLink="/contagem-tempo/contagem-tempo-segurados">
          <div class="home-box">
            <p class="home-title pull-left">Contagem de Tempo</p>
            <img
              src="../../../assets/img/home/contagem-tempo.png"
              class="img-responsive img-icone-custom"
            />
            <p class="home-desc">
              Simula contagem do tempo de contribuição para períodos especial e
              comum e de atividade como contribuinte individual.
            </p>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-md-5">
        <a routerLink="/rgps/rgps-segurados">
          <div class="home-box">
            <p class="home-title pull-left">RMI do RGPS</p>
            <img
              src="../../../assets/img/home/rgps-img.png"
              class="img-responsive img-icone-custom"
            />
            <p class="home-desc">
              Simula a Renda Mensal Inicial de benefícios com datas de início a
              partir de Janeiro de 1970.
            </p>
          </div>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-5 col-xs-offset-1">
        <a routerLink="/beneficios/beneficios-segurados">
          <div class="home-box">
            <p class="home-title pull-left">Benefícios Atrasados</p>
            <img
              src="../../../assets/img/home/atrasados.png"
              class="img-responsive img-icone-custom"
            />
            <p class="home-desc">
              Simula em qualquer data, diferenças entre valores de rendas
              mensais de benefícios devidos e recebidos, com a aplicação de
              correção monetária, juros de mora e honorários advocatícios.
            </p>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-md-5">
        <a routerLink="/contribuicoes/contribuicoes-segurados">
          <div class="home-box">
            <p class="home-title pull-left">
              Contribuições<br />
              Previdenciárias em Atraso
            </p>
            <img
              src="../../../assets/img/home/contribuicoes.png"
              class="img-responsive img-icone-custom"
            />
            <p class="home-desc">
              Simula cálculo de contribuições previdenciárias em atraso com base
              no entendimento jurisprudencial e Lei Complementar nº. 128, de
              12/2008.
            </p>
          </div>
        </a>
      </div>
    </div>
  </sa-widgets-grid>
</div> -->
