<div id="content">
  <!-- widget grid -->
  <sa-widgets-grid>
    <!-- row -->
    <div class="row">

      <div class="col-sm-12 col-md-4">
        <a routerLink="/rgps/rgps-elements">
          <div class="home-box">
            <p class="home-title">RMI do RGPS</p>
            <img src="../../../assets/img/rgps-img.jpeg" />
            <p class="home-desc">Calcula a Renda Mensal Inicial de benefícios com datas de início a partir de Janeiro de 1970, e aplicação da
              legislação histórica.
            </p>
          </div>
        </a>
      </div>

      <div class="col-sm-12 col-md-4">
        <a routerLink="/beneficios/beneficios-segurados">
          <div class="home-box">
            <p class="home-title">Benefícios Atrasados - Teto 12/1998 e 12/2003</p>
            <img src="../../../assets/img/atrasados.jpeg" />
            <p class="home-desc">Simula diferenças devidas para a demanda judicial referente aos tetos legais de R$1200,00 para 12/1998 e R$2400,00
              para 12/2003.</p>
          </div>
        </a>
      </div>

      <div class="col-sm-12 col-md-4">
        <a routerLink="/contribuicoes/contribuicoes-segurados">
          <div class="home-box">
            <p class="home-title">Contribuições Previdenciárias em Atraso</p>
            <img src="../../../assets/img/contribuicoes.jpeg" />
            <p class="home-desc">Simula cálculo de contribuições previdenciárias atrasadas com base no entendimento jurisprudencial e Lei Complementar
              nº. 128, de 12/2008.</p>
          </div>
        </a>
      </div>

    </div>
    <!-- end row -->
  </sa-widgets-grid>
  <!-- end widget grid -->
</div>