<div id="content">
  <!-- widget grid -->
  <sa-widgets-grid>
    <div class="row header-title-home" >
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h1 class="fa-2-8x text-align-center" style="font-weight: 700">
          Seja Bem-vindo(a) ao Simulador de Cálculos do IEPREV
        </h1>
      </div>
    </div>

    <div class="row menu-home">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <ul class="list-inline text-align-center color-ieprev">
          <li class="px-2 mx-2" *ngFor="let menuHome of textosSimuladoresMenu">
            <a
              routerLink="{{ menuHome.link }}"
              class="color-ieprev"
              (mouseover)="over(menuHome.value)"
              (mouseout)="out(menuHome.value)"
            >
              <div class="home-box text-align-center">
                <i class="{{ menuHome.icon }} fa-4x "></i>
                <h3 style="font-weight: 600; font-size: 1.8rem;" [innerHTML]="menuHome.title"></h3>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="row descricao-home" *ngIf="textDescricao !== ''" >
      <div class="col-md-offset-1 col-md-10">
        <h3 class="pb-1 mb-1"><strong>Descrição do Simulador</strong></h3>
        <div class="well well-lg-custom well-light mb-0">
          <p class="color-ieprev fa-1-6x" style="min-height: 5rem; text-align: justify !important;margin-bottom: 0px;">
            <strong >{{ textDescricao }}</strong>
          </p>
        </div>
      </div>
    </div>

    <!-- end row -->
  </sa-widgets-grid>
  <!-- end widget grid -->
</div>
