<article class="col-sm-12 col-md-12 col-lg-12">
<sa-widget [colorbutton]="false" [editbutton]="false"  [deletebutton]="false">
  <header>
    <span class="widget-icon">
      <i class="fa fa-percent"></i>
    </span>
    <h2>Adicionar informações para cálculos</h2>
  </header>
  <div>
    <div class="widget-body">
    	<app-rgps-calculos-form
    		    [errors]="Errors"
            [formData]="form"
            (onSubmit)="submit($event)"
    	></app-rgps-calculos-form> 
    </div>
  </div>
</sa-widget>
</article>