/* You can add global styles to this file, and also import other style files */

/* #GOOGLE FONT */

@import url("https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700");
a[class*="action-"] {
  color: #333;
  margin-right: 5px;
  transition: all 0.3s ease-in-out;
}

a[class*="action-"]:hover {
  color: #666;
  margin-right: 5px;
  transition: all 0.3s ease-in-out;
}

.action-edit {
  font-size: 16px;
}

.action-delete {
  font-size: 18px;
}

.action-calc {
  font-size: 14px;
}

.action-import {
  font-size: 16px;
}

.action-contribut {
  font-size: 17px;
}

.action-result {
  font-size: 16px;
}

.matriz-line {
  text-align: right;
}

.well-lg-custom{
  padding: 10px;
}

.matriz-input {
  width: 100%;
  text-align: right;
  background-color: transparent;
  border-color: transparent;
}

.matriz-input:focus {
  background-color: #fff;
  border: 1px solid #ccc;
}

.font-bold {
  font-weight: bolder;
}
.font-bold-500 {
  font-weight: 500;
}

.vertical-middle.table > tbody > tr > td {
  vertical-align: middle;
}

.home-box {
  position: relative;
  margin: 10px 0;
}

.home-box img {
  width: 100%;
  /* border-radius: 5px; */
}

.home-box .home-title {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  font-weight: bold;
  /* font-size: 25px; */
  padding: 0 15px;
  text-align: center;
  margin-top: 5px;
}

.home-box .home-desc {
  position: absolute;
  bottom: -10px;
  opacity: 0;
  width: 100%;
  text-align: justify;
  color: #fff;
  padding: 0 15px;
  font-weight: 400;
  /* font-size: 15px; */
  transition: all 0.3s ease-in-out;
}

.home-box:hover > .home-desc {
  opacity: 1;
  bottom: 10px;
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 768px) {
  .home-box .home-title {
    font-size: 18px;
  }

  /* .home-box .home-desc {
      font-size: 1.3rem;
    } */
}

@media screen and (max-width: 1500px) {
  .home-box .home-title {
    font-size: 2rem;
  }

  .home-box .home-desc {
    font-size: 1.4rem;
  }
}

@media screen and (min-width: 1500px) {
  .home-box .home-title {
    font-size: 2.8rem;
  }

  .home-box .home-desc {
    font-size: 2rem;
  }

  .img-icone-custom {
    height: 25rem !important;
  }
  .img-icone-custom-t {
    height: 12rem !important;
  }
}

@media print {
  .hidden-print {
    display: none !important;
  }
  .not-print {
    display: none !important;
  }
}

@media screen {
  .not-screen {
    display: none !important;
  }
}

.smart-style-7 #left-panel {
  padding-right: 5px !important;
  padding-left: 5px !important;
}

.font-0-1x {
  font-size: 0.1rem !important;
}
.font-0-2x {
  font-size: 0.2rem !important;
}
.font-0-3x {
  font-size: 0.3rem !important;
}
.font-0-4x {
  font-size: 0.4rem !important;
}
.font-0-5x {
  font-size: 0.5rem !important;
}
.font-0-6x {
  font-size: 0.6rem !important;
}
.font-0-7x {
  font-size: 0.7rem !important;
}
.font-0-8x {
  font-size: 0.8rem !important;
}
.font-0-9x {
  font-size: 0.9rem !important;
}

.font-1-1x {
  font-size: 1.1rem !important;
}
.font-1-2x {
  font-size: 1.2rem !important;
}
.font-1-3x {
  font-size: 1.3rem !important;
}
.font-1-4x {
  font-size: 1.4rem !important;
}
.font-1-5x {
  font-size: 1.5rem !important;
}
.font-1-6x {
  font-size: 1.6rem !important;
}
.font-1-7x {
  font-size: 1.7rem !important;
}
.font-1-8x {
  font-size: 1.8rem !important;
}
.font-1-9x {
  font-size: 1.9rem !important;
}

.font-2-1x {
  font-size: 2.1rem !important;
}
.font-2-2x {
  font-size: 2.2rem !important;
}
.font-2-3x {
  font-size: 2.3rem !important;
}
.font-2-4x {
  font-size: 2.4rem !important;
}
.font-2-5x {
  font-size: 2.5rem !important;
}
.font-2-6x {
  font-size: 2.6rem !important;
}
.font-2-7x {
  font-size: 2.7rem !important;
}
.font-2-8x {
  font-size: 2.8rem !important;
}
.font-2-9x {
  font-size: 2.9rem !important;
}

.w-25 {
  width: 25% !important;
}

.w-50 {
  width: 50% !important;
}

.w-75 {
  width: 75% !important;
}

.w-100 {
  width: 100% !important;
}

.w-auto {
  width: auto !important;
}

.h-25 {
  height: 25% !important;
}

.h-50 {
  height: 50% !important;
}

.h-75 {
  height: 75% !important;
}

.h-100 {
  height: 100% !important;
}

.h-auto {
  height: auto !important;
}

.mw-100 {
  max-width: 100% !important;
}

.mh-100 {
  max-height: 100% !important;
}

.m-0 {
  margin: 0 !important;
}

.mt-0,
.my-0 {
  margin-top: 0 !important;
}

.mr-0,
.mx-0 {
  margin-right: 0 !important;
}

.mb-0,
.my-0 {
  margin-bottom: 0 !important;
}

.ml-0,
.mx-0 {
  margin-left: 0 !important;
}

.m-1 {
  margin: 0.25rem !important;
}

.mt-1,
.my-1 {
  margin-top: 0.25rem !important;
}

.mr-1,
.mx-1 {
  margin-right: 0.25rem !important;
}

.mb-1,
.my-1 {
  margin-bottom: 0.25rem !important;
}

.ml-1,
.mx-1 {
  margin-left: 0.25rem !important;
}

.m-2 {
  margin: 0.5rem !important;
}

.mt-2,
.my-2 {
  margin-top: 0.5rem !important;
}

.mr-2,
.mx-2 {
  margin-right: 0.5rem !important;
}

.mb-2,
.my-2 {
  margin-bottom: 0.5rem !important;
}

.ml-2,
.mx-2 {
  margin-left: 0.5rem !important;
}

.m-3 {
  margin: 1rem !important;
}

.mt-3,
.my-3 {
  margin-top: 1rem !important;
}

.mr-3,
.mx-3 {
  margin-right: 1rem !important;
}

.mb-3,
.my-3 {
  margin-bottom: 1rem !important;
}

.ml-3,
.mx-3 {
  margin-left: 1rem !important;
}

.m-4 {
  margin: 1.5rem !important;
}

.mt-4,
.my-4 {
  margin-top: 1.5rem !important;
}

.mr-4,
.mx-4 {
  margin-right: 1.5rem !important;
}

.mb-4,
.my-4 {
  margin-bottom: 1.5rem !important;
}

.ml-4,
.mx-4 {
  margin-left: 1.5rem !important;
}

.m-5 {
  margin: 3rem !important;
}

.mt-5,
.my-5 {
  margin-top: 3rem !important;
}

.mr-5,
.mx-5 {
  margin-right: 3rem !important;
}

.mb-5,
.my-5 {
  margin-bottom: 3rem !important;
}

.ml-5,
.mx-5 {
  margin-left: 3rem !important;
}

.p-0 {
  padding: 0 !important;
}

.pt-0,
.py-0 {
  padding-top: 0 !important;
}

.pr-0,
.px-0 {
  padding-right: 0 !important;
}

.pb-0,
.py-0 {
  padding-bottom: 0 !important;
}

.pl-0,
.px-0 {
  padding-left: 0 !important;
}

.p-1 {
  padding: 0.25rem !important;
}

.pt-1,
.py-1 {
  padding-top: 0.25rem !important;
}

.pr-1,
.px-1 {
  padding-right: 0.25rem !important;
}

.pb-1,
.py-1 {
  padding-bottom: 0.25rem !important;
}

.pl-1,
.px-1 {
  padding-left: 0.25rem !important;
}

.p-2 {
  padding: 0.5rem !important;
}

.pt-2,
.py-2 {
  padding-top: 0.5rem !important;
}

.pr-2,
.px-2 {
  padding-right: 0.5rem !important;
}

.pb-2,
.py-2 {
  padding-bottom: 0.5rem !important;
}

.pl-2,
.px-2 {
  padding-left: 0.5rem !important;
}

.p-3 {
  padding: 1rem !important;
}

.pt-3,
.py-3 {
  padding-top: 1rem !important;
}

.pr-3,
.px-3 {
  padding-right: 1rem !important;
}

.pb-3,
.py-3 {
  padding-bottom: 1rem !important;
}

.pl-3,
.px-3 {
  padding-left: 1rem !important;
}

.p-4 {
  padding: 1.5rem !important;
}

.pt-4,
.py-4 {
  padding-top: 1.5rem !important;
}

.pr-4,
.px-4 {
  padding-right: 1.5rem !important;
}

.pb-4,
.py-4 {
  padding-bottom: 1.5rem !important;
}

.pl-4,
.px-4 {
  padding-left: 1.5rem !important;
}

.p-5 {
  padding: 3rem !important;
}

.pt-5,
.py-5 {
  padding-top: 3rem !important;
}

.pr-5,
.px-5 {
  padding-right: 3rem !important;
}

.pb-5,
.py-5 {
  padding-bottom: 3rem !important;
}

.pl-5,
.px-5 {
  padding-left: 3rem !important;
}

.m-auto {
  margin: auto !important;
}

.mt-auto,
.my-auto {
  margin-top: auto !important;
}

.mr-auto,
.mx-auto {
  margin-right: auto !important;
}

.mb-auto,
.my-auto {
  margin-bottom: auto !important;
}

.ml-auto,
.mx-auto {
  margin-left: auto !important;
}

.text-white {
  color: #fff !important;
}

.text-black {
  color: #0d0d0d !important;
}

.vertical-center {
  display: flex;
  align-items: center;
}

.bg-ieprev {
  border-color: #4a4d4f !important;
  background: #4a4d4f !important;
  color: #fff !important;
}
.bg-ieprev-red {
  border-color: #832121 !important;
  background: #832121 !important;
  color: #fff !important;
}

.bg-ieprev-checked {
  background: #ffdc69b8 !important;
}

.color-ieprev {
  color: #4a4d4f !important;
}

.btn-ieprev {
  color: #0d0d0d;
  background-color: #ffaa21;
}

.btn-ieprev-rad {
  border-radius: 15px;
}

.btn-ieprev:hover {
  color: #0d0d0d;
  background-color: #ffaa21;
  filter: brightness(1.2);
}

.btn-ieprev:disabled {
  color: #0d0d0d;
  background-color: #ffaa21;
  cursor: not-allowed;
}

.bg-color-yellow {
  background-color: #ffce80 !important;
}

.btn-ieprev:active,
.btn-ieprev.active {
  color: #4a4d4f;
  background-color: #ffaa21;
  cursor: not-allowed;
  filter: brightness(0.9);
  border: #4a4d4f;
  box-shadow: inset 0 3px 5px rgb(0 0 0 / 13%);
}

.panel-default > .panel-heading + .panel-collapse > .panel-body {
  margin: 0 !important;
  padding: 0 !important;
}

.panel-default-ieprev > .panel-heading {
  color: #fff;
  background-color: #4a4d4f;
  border-color: #4a4d4f;
}
.panel-default-ieprev > .panel-body {
  border: 1px solid #c2c2c2;
}

.hidden-dt .dt-toolbar {
  display: none !important;
}

.hidden-dt .dt-toolbar-footer {
  display: none !important;
}

.table-condensed-custom.table > tbody > tr > td,
.table-condensed-custom.table > tbody > tr > th,
.table-condensed-custom.table > tfoot > tr > td,
.table-condensed-custom.table > tfoot > tr > th,
.table-condensed-custom.table > thead > tr > td,
.table-condensed-custom.table > thead > tr > th {
  padding: 3px 2px !important;
}

.widget-body-custom {
  min-height: 20px !important;
}

.popover {
  max-width: 600px !important;
}

.swal-text {
  padding: 17px;
  display: block;
  margin: 22px;
  text-align: center;
  color: red;
  font-weight: 800;
  font-size: 1.4 rem;
}

.not-wrap {
  white-space: nowrap;
}

.background-inicial {
  background-image: url("./assets/img/planejamento/inicial-planejamento.png") !important; /* The image used */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.container-iframe {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 56.25%; /* 16:9 Aspect Ratio */
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.pager li > a,
.pager li > span {
  display: inline-block;
  padding: 5px 20px;
  background-color: #ffaa21;
  border: 1px solid #ffaa21;
  border-radius: 15px;
  color: #0d0d0d;
  font-weight: 600;
}

.pager li > a:focus,
.pager li > a {
  text-decoration: none;
  color: #0d0d0d;
  background-color: #ffaa21;
}

.pager li > a:focus,
.pager li > a:hover {
  text-decoration: none;
  color: #0d0d0d;
  background-color: #ffaa21;
  filter: brightness(1.2);
}

.pager li > a:focus,
.pager li > a:disabled {
  text-decoration: none;
  color: #0d0d0d;
  background-color: #ffaa21;
  cursor: not-allowed;
}

.bootstrapWizard li.active .step,
.bootstrapWizard li.active.complete .step {
  background: #ffaa21;
  color: #0d0d0d;
  font-weight: 700;
  padding: 7px 13px;
  font-size: 15px;
  border-radius: 50%;
  border: 3px solid #55606e;
}
.menu-home,
.descricao-home {
  margin-top: 7rem;
  margin-bottom: 7rem;
}
.header-title-home {
  margin-top: 7rem;
  margin-bottom: 8rem;
}

@media screen and (max-height: 786px) {
  .menu-home {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  .descricao-home {
    margin-top: 3rem;
    margin-bottom: 0rem;
  }
  .header-title-home {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
}

.embed-responsive {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;
}
.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
.embed-responsive-16by9 {
  padding-bottom: 56.25%;
}
.embed-responsive-4by3 {
  padding-bottom: 75%;
}

.cursor-pointer {
  cursor: pointer;
}
.cursor-wait {
  cursor: wait;
}
.cursor-not-allowed {
  cursor: not-allowed;
}

@media screen and (max-width: 1366px) {
  .modal-dialog-custom {
    width: 600px;
    margin: 15rem 24rem;
  }

  .modal-dialog-custom-90 {
    width: 90%;
    margin: 5rem 13rem;
  }

  .modal-dialog-custom-90 .modal-lg {
    width: 90%;
  }

  .modal-dialog-custom-80 {
    width: 80%;
    margin: 10rem 20rem;
  }

  .modal-dialog-custom-80 .modal-lg {
    width: 80%;
  }

  .modal-dialog-custom-85 {
    width: 85%;
    margin: 10rem 20rem;
  }

  .modal-dialog-custom-85 .modal-lg {
    width: 85%;
  }
}

@media screen and (min-width: 1500px) {
  .modal-dialog-custom {
    width: 600px;
    margin: 15rem 50rem;
  }

  .modal-dialog-custom-90 {
    width: 88%;
    margin: 2rem 20rem;
  }

  .modal-dialog-custom-90 .modal-lg {
    width: 88%;
  }

  .modal-dialog-custom-80 {
    width: 78%;
    margin: 15rem 24rem;
  }

  .modal-dialog-custom-80 .modal-lg {
    width: 78%;
  }

  .modal-dialog-custom-85 {
    width: 83%;
    margin: 15rem 24rem;
  }

  .modal-dialog-custom-85 .modal-lg {
    width: 83%;
  }
}

.form-action-boder-full {
  border: 1px solid rgba(0, 0, 0, 0.1) !important;
}

.popover-content {
  padding: 0px 0px !important;
  margin: 2px !important;
}

.popover-content>div {
  padding: 10px !important;
}

.popover-title {
  font-weight: bold !important;
}

