<div id="content">

  <!-- widget grid -->
  <sa-widgets-grid>

    <!-- row -->
    <div class="row">

      <article class="col-sm-12 col-md-12 col-lg-12">

        <!-- Widget ID (each widget will need unique ID)-->
        <sa-widget [colorbutton]="false" [editbutton]="false">
          <!-- widget options:
              usage: <sa-widget [editbutton]="false">
    
              [colorbutton]="false"
              [editbutton]="false"
              [togglebutton]="false"
              [deletebutton]="false"
              [fullscreenbutton]="false"
              [custombutton]="false"
              [collapsed]="true"
              [sortable]="false"
    
              -->
          <header>
            <span class="widget-icon">
              <i class="fa fa-edit"></i>
            </span>
            <h2>Lista de Cálculo de Segurados</h2>

          </header>

          <!-- widget div-->
          <div>

            <!-- widget content -->
            <div class="widget-body">

              <ul class="list-unstyled">
                <li>
                  <b>Nome:</b> {{segurado.nome}}</li>
                <li>
                  <b>CPF:</b> {{segurado.numero_documento}}</li>
                <li>
                  <b>Data de nascimento:</b> {{segurado.data_nascimento}}</li>
              </ul>

              <div class="form-actions">
                <div class="row">
                  <div class="col-md-12">

                    <button type="submit" class="btn btn-labeled btn-info pull-left">
                      <span class="btn-label">
                        <i class="fa fa-pencil-square-o"></i>
                      </span> Editar
                    </button>
<!-- 
                    <button type="submit" class="btn btn-labeled btn-primary">
                      <span class="btn-label">
                        <i class="fa fa-percent"></i>
                      </span> Novo cálculo
                    </button> -->

                  </div>
                </div>
              </div>

            </div>
          </div>
        </sa-widget>
      </article>

      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Sistema</th>
                  <th>Descrição</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <button type="submit" class="btn btn-labeled btn-default pull-left">
                      <span class="btn-label">
                        <i class="fa fa-arrow-right"></i>
                      </span> Jurisprudencial
                    </button>
                  </td>
                  <td>
                    <p>Cálculo de contribuições em atraso conforme entendimento jurisprudencial</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <button type="submit" class="btn btn-labeled btn-default pull-left">
                      <span class="btn-label">
                        <i class="fa fa-arrow-right"></i>
                      </span> Lei complementar n. 128/08
                    </button>
                  </td>
                  <td>
                    <p>O cálculo dos valores apresentados acima foram realizados com base na recente Lei Complementar nº. 128,
                      de dezembro de 2008, que deu nova redação ao artigo 45 da Lei nº. 8.212/91. </p>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <article class="col-sm-12 col-md-12 col-lg-12">
        <!-- Widget ID (each widget will need unique ID)-->
        <sa-widget [colorbutton]="false" [editbutton]="false">
          <header>
            <span class="widget-icon">
              <i class="fa fa-table"></i>
            </span>
            <h2>Jurisprudencial</h2>
          </header>
          <div>
            <div class="widget-body no-padding">
              <sa-datatable paginationLength="true" [options]="jurisprudencialTableOptions" tableClass="table table-striped table-bordered table-hover" width="100%">
                <thead>
                  <tr>
                    <th>Ações</th>
                    <th>Número</th>
                    <th>Data do Cálculo</th>
                    <th>Contribuição Inicial</th>
                    <th>Contribuição Final</th>
                  </tr>
                </thead>
              </sa-datatable>
            </div>
          </div>
        </sa-widget>
      </article>

            <article class="col-sm-12 col-md-12 col-lg-12">
        <!-- Widget ID (each widget will need unique ID)-->
        <sa-widget [colorbutton]="false" [editbutton]="false">
          <header>
            <span class="widget-icon">
              <i class="fa fa-table"></i>
            </span>
            <h2>Lei Complementar nº 128/08</h2>
          </header>
          <div>
            <div class="widget-body no-padding">
              <sa-datatable paginationLength="false" pagination="false" tableClass="table table-striped table-bordered table-hover" width="100%">
                <thead>
                  <tr>
                    <th>Ações</th>
                    <th>Número</th>
                    <th>Data do Cálculo</th>
                    <th>Contribuição Inicial</th>
                    <th>Contribuição Final</th>
                    <th>Contribuição Inicial</th>
                    <th>Contribuição Final</th>
                    <th>Salário de Contribuição</th>
                    <th>Valor Final Corrigido</th>
                  </tr>
                </thead>
              </sa-datatable>
            </div>
          </div>
        </sa-widget>
      </article>



    </div>

    <!-- end row -->

  </sa-widgets-grid>

  <!-- end widget grid -->

</div>