<div id="content">
  <!-- widget grid -->
  <sa-widgets-grid>
    <div class="row mb-3">
      <article class="col-sm-12 col-md-12 col-lg-12" *ngIf="!isUpdating">
        <h1>Contribuições em Atraso</h1>
      </article>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <app-contribuicoes-segurados-create
          (onSubmit)="onCreate($event)"
        ></app-contribuicoes-segurados-create>
      </div>
    </div>

    <div class="row">
      <article class="col-sm-12 col-md-12 col-lg-12" *ngIf="!isUpdating">
        <app-contribuicoes-segurados-index
          [list]="list"
          [datatableOptions]="datatableOptions"
        ></app-contribuicoes-segurados-index>
      </article>
    </div>

    <div class="row mb-3">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading m-0 p-1">
            <strong>Legenda</strong>
          </div>
          <div class="panel-body m-1 p-1">
            <ul class="list-inline">
              <li>
                <i
                  class="fa fa-list fa-1-7x bg-color-blue txt-color-white p-1"
                ></i>
                Calculos do Segurado
              </li>
              <li>
                <i
                  class="fa fa-edit fa-1-7x btn-warning txt-color-white p-1"
                ></i>
                Editar
              </li>
              <li>
                <i
                  class="fa fa-times fa-1-7x btn-danger txt-color-white p-1"
                ></i>
                Remover
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading m-0 p-1">
            <strong>Instrução do cálculo</strong>
          </div>
          <div class="panel-body m-1 p-1">
            <ul class="list-unstyled">
              <li>
                <a routerLink="/tutorial" target="_blank"
                  >Clique aqui e veja os tutoriais e manuais dos simuladores</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </sa-widgets-grid>

  <!-- end widget grid -->
</div>
