<div id="content">
  <!-- widget grid -->
  <sa-widgets-grid>
    <div class="row mb-3">
      <article class="col-sm-12 col-md-12 col-lg-12" *ngIf="!isUpdating">
        <h3 class="p-1 m-1">
          Recolhimento em Atraso de Contribuições - Artigo 45-A da Lei n.
          8.212/1991
        </h3>
      </article>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <app-contribuicoes-segurados-create
          (onSubmit)="onCreate($event)"
        ></app-contribuicoes-segurados-create>
      </div>
    </div>

    <div class="row">
      <article class="col-sm-12 col-md-12 col-lg-12" *ngIf="!isUpdating">
        <app-contribuicoes-segurados-index
          [list]="list"
          [datatableOptions]="datatableOptions"
        ></app-contribuicoes-segurados-index>
      </article>
    </div>

    <!-- <div class="row mb-3">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-body m-1 p-1">
            <ul class="pager wizard no-margin">
              <li class="pull-center">
                <a
                  data-toggle="modal"
                  data-target="#recolhimento-em-atraso"
                  class="btn btn-lg txt-color-white btn-danger bg-ieprev-red"
                  title="Tutorial Planejamento Previdenciário"
                  >Tutorial</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div
        id="recolhimento-em-atraso"
        class="modal fade"
        tabindex="-1"
        role="dialog"
        aria-labelledby="recolhimento-em-atraso-title"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-custom" role="document">
          <div class="modal-content modal-lg">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe
                src="https://fast.player.liquidplatform.com/pApiv2/embed/c5314ce317d106a956ab5ebff068a23a/0800b3ba91f4f0dcb1e0260a86ff599b"
                class="embed-responsive-item"
                frameborder="0"
                allow="autoplay; fullscreen"
                allowfullscreen
              ></iframe>
            </div>
          </div>
        </div>
      </div>
    </div> -->

    <div class="row mb-3">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading m-0 p-1">
            <strong>Legenda</strong>
          </div>
          <div class="panel-body m-1 p-1">
            <ul class="list-inline">
              <li>
                <i
                  class="fa fa-list fa-1-7x bg-color-blue txt-color-white p-1"
                ></i>
                Calculos do Segurado
              </li>
              <li>
                <i
                  class="fa fa-edit fa-1-7x btn-warning txt-color-white p-1"
                ></i>
                Editar
              </li>
              <li>
                <i
                  class="fa fa-times fa-1-7x btn-danger txt-color-white p-1"
                ></i>
                Remover
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </sa-widgets-grid>

  <!-- end widget grid -->
</div>
