<div id="content">

  <!-- widget grid -->
  <sa-widgets-grid>

    <!-- row -->
    <div class="row">
      <app-contribuicoes-segurados-create (onSubmit)="onCreate($event)"></app-contribuicoes-segurados-create>
    </div>
    <br> 
    <div class="row">
      <article class="col-sm-12 col-md-12 col-lg-12" *ngIf="!isUpdating">
        <app-contribuicoes-segurados-index [list]="list" [datatableOptions]="datatableOptions"></app-contribuicoes-segurados-index>
      </article>      
    </div>

    <!-- end row -->

  </sa-widgets-grid>

  <!-- end widget grid -->

</div>