.fix-painel-devido-recebido{
    min-height: 560px;
}

.fix-rmi-anterior{
    margin-bottom: 18px;
}


@media (min-width: 1650px) {

    .fix-painel-devido-recebido{
        min-height: 518px;
    }

  }


.widget-body-custom {
    min-height: 60px !important;
}


.open>.dropdown-menu {
    -webkit-animation-name: none !important;
    -moz-animation-name: none  !important;;
    -o-animation-name: none  !important;;
    animation-name: none  !important;;
}