      <!-- <article class="col-sm-12 col-md-12 col-lg-12" *ngIf="false" >
        <sa-widget [colorbutton]="false" [editbutton]="false" [togglebutton]="false" [deletebutton]="false" [fullscreenbutton]="false" [custombutton]="false" [collapsed]="false" [sortable]="false">
          <header>
            <span class="widget-icon">
              <i class="fa fa-edit"></i>
            </span>
            <h2>Opções do cálculo</h2>
          </header>
          <div *ngIf="type=='AJ'">
            <div class="widget-body" title="Beneficios Atrasados - Tetos Judiciais">

              <div class="col-md-8 col-sm-offset-2">

                <div class="checkbox">
                  <label>
                    <input type="checkbox" [(ngModel)]="chkIndice" class="checkbox {{styleTheme}}">
                    <span>Para calcular aplicando os índices de 2,28% em 06/1999 e 1,75% em 05/2004 marque a caixa ao lado:</span>
                  </label>
                </div>

                <div class="checkbox">
                  <label>
                    <input type="checkbox" [(ngModel)]="chkAjusteMaximo" name="chkAjusteMaximo" disabled class="checkbox {{styleTheme}}" checked="checked">
                    <span>Para usar tetos judiciais em 12/1998 e em 12/2003 marque a caixa ao lado:</span>
                  </label>
                </div>

                <div class="checkbox">
                  <label>
                    <input type="checkbox" [(ngModel)]="chkNaoUsarDeflacao" class="checkbox {{styleTheme}}">
                    <span>Para não utilizar deflação na correção monetária marque a caixa ao lado:</span>
                  </label>
                </div>

              </div>

            </div>
          </div>

          <div *ngIf="type=='AC' || type=='AR'||type=='AI'" title="Beneficios Atrasados">
            <div class="widget-body">
              <div class="col-md-8 col-sm-offset-2">
                 <div class="checkbox" *ngIf="type=='AI'">
                  <label>
                    <input type="checkbox" [(ngModel)]="chkIndice" class="checkbox {{styleTheme}}" disabled>
                    <span>Para calcular aplicando os índices de 2,28% em 06/1999 e 1,75% em 05/2004 marque a caixa ao lado:</span>
                  </label>
                </div> 
                <div class="checkbox" *ngIf="type=='A'">
                  <label>
                    <input type="checkbox" [(ngModel)]="chkIndice" class="checkbox {{styleTheme}}" >
                    <span>Para calcular aplicando os índices de 2,28% em 06/1999 e 1,75% em 05/2004 marque a caixa ao lado:</span>
                  </label>
                </div>

                <div class="checkbox">
                  <label>
                    <input type="checkbox" [(ngModel)]="chkNotGranted" (change)="notGrantedChanged()" class="checkbox {{styleTheme}}">
                    <span>Se este for um cálculo de atualização de benefício não concedido selecione a caixa ao lado:</span>
                  </label>
                </div>

                <div class="checkbox">
                  <label>
                    <input type="checkbox" [(ngModel)]="chkJurosMora" class="checkbox {{styleTheme}}">
                    <span>Caso não pretenda calcular juros de mora antes da citação do réu desmarque a caixa ao lado:</span>
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" [(ngModel)]="chkDemandasJudiciais" class="checkbox {{styleTheme}}">
                    <span>Para não limitar ao teto para demandas judiciais marque a caixa ao lado:</span>
                  </label>
                </div> 
                <div class="checkbox">
                  <label>
                    <input type="checkbox"  [(ngModel)]="chkNaoUsarDeflacao" class="checkbox {{styleTheme}}">
                    <span>Para não utilizar deflação na correção monetária marque a caixa ao lado:</span>
                  </label>
                </div> 
              </div>
            </div>
          </div>
        </sa-widget>
      </article> -->

      <article class="col-sm-12 col-md-12 col-lg-12" id='inicioForm'>
        <!-- Widget ID (each widget will need unique ID)-->
        <sa-widget [colorbutton]="false" [editbutton]="false" [togglebutton]="false" [deletebutton]="false" [fullscreenbutton]="false" [custombutton]="false" [collapsed]="false" [sortable]="false">
          <header>
            <span class="widget-icon">
              <i class="fa fa-calendar"></i>
            </span>
            <h2>Dados do Processo</h2>
          </header>
          <!-- widget div-->
          <div>
            <!-- widget content -->
            <div class="widget-body">
              <form class="form-horizontal">

                <fieldset>
                  <div class="form-group">
                    <label class="col-md-4 control-label">Número do Processo:</label>
                    <div class="col-md-3">
                      <input [(ngModel)]="numeroProcesso" [textMask]="{mask: NumProcessoMask}" name="numeroProcesso" class="form-control" type="text" maxlength="200">
                      <small *ngIf="errors.has('numeroProcesso')" class="text-danger">{{ errors.get('numeroProcesso') }}</small>
                    </div>
                  </div>
                  <div class="form-group" [ngClass]="{' has-error ': errors.has('dataAcaoJudicial')}">
                    <label class="col-md-4 control-label">Data do Ajuizamento da Ação*:</label>
                    <div class="col-md-2">
                      <input [(ngModel)]="dataAcaoJudicial" [textMask]="{mask: dateMask}" name="dataAcaoJudicial" class="form-control" type="text">
                      <small *ngIf="errors.has('dataAcaoJudicial')" class="text-danger">{{ errors.get('dataAcaoJudicial') }}</small>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-md-4 control-label">Data da Citação:</label>
                    <div class="col-md-2">
                      <input [(ngModel)]="dataCitacaoReu" [textMask]="{mask: dateMask}" (blur)="setCompetenciaInicioJurosIsNull()"  name="dataCitacaoReu" class="form-control" type="text">
                      <small *ngIf="errors.has('dataCitacaoReu')" class="text-danger">{{ errors.get('dataCitacaoReu') }}</small>
                    </div>
                  </div>
                  <div class="form-group" [ngClass]="{'has-error': errors.has('dataCalculo')}">
                    <label class="col-md-4 control-label">Atualizar até*:</label>
                    <div class="col-md-2">
                      <input [(ngModel)]="dataCalculo"  [textMask]="{mask: dateMaskCompetencia}" name="dataCalculo" class="form-control" type="text">
                      <small *ngIf="errors.has('dataCalculo')" class="text-danger">{{ errors.get('dataCalculo') }}</small>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-md-8 col-sm-offset-4">
                      <div class="checkbox">
                        <label>
                          <input type="checkbox" name="maturidade" [(ngModel)]="maturidade" class="checkbox" >
                          <span>Calcular 12 Vincendas.</span>
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-md-8 col-sm-offset-4">
                      <div class="checkbox">
                        <label>
                          <input type="checkbox" name="afastarPrescricao" [(ngModel)]="afastarPrescricao" class="checkbox" >
                          <span>Afastar Prescrição.</span>
                        </label>
                      </div>
                    </div>
                  </div>
                </fieldset>

                <!-- <fieldset>
                  <div class="form-group">
                    <label class="col-md-2 control-label">Data do cálculo*:</label>
                    <div class="col-md-2">
                      <input [(ngModel)]="dataCalculo"  [textMask]="{mask: dateMask}" name="dataCalculo" class="form-control" type="text">
                      <small *ngIf="errors.has('dataCalculo')" class="text-danger">{{ errors.get('dataCalculo') }}</small>
                    </div>
                    <label class="col-md-2 control-label">Data da citação do réu*:</label>
                    <div class="col-md-2">
                      <input [(ngModel)]="dataCitacaoReu" [textMask]="{mask: dateMask}" name="dataCitacaoReu" class="form-control" type="text">
                      <small *ngIf="errors.has('dataCitacaoReu')" class="text-danger">{{ errors.get('dataCitacaoReu') }}</small>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-md-2 control-label">Data de ajuizamento da ação*:</label>
                    <div class="col-md-2">
                      <input [(ngModel)]="dataAcaoJudicial" [textMask]="{mask: dateMask}" name="dataAcaoJudicial" class="form-control" type="text">
                      <small *ngIf="errors.has('dataAcaoJudicial')" class="text-danger">{{ errors.get('dataAcaoJudicial') }}</small>
                    </div>
                  </div>
                </fieldset> -->
                <p class="pull-right no-margin">* Campo Obrigatório</p>
              </form>
            </div>
          </div>
        </sa-widget>
      </article>
      
      <article class="col-xs-12 col-sm-12" [ngClass]="(false)? 'col-md-12 col-lg-12' : 'col-md-6 col-lg-6'" >
        <!-- Widget ID (each widget will need unique ID)-->
        <sa-widget [colorbutton]="false" [editbutton]="false" [togglebutton]="false" [deletebutton]="false" [fullscreenbutton]="false" [custombutton]="false" [collapsed]="false" [sortable]="false">
          <header>
            <span class="widget-icon">
              <i class="fa fa-money"></i>
            </span>
            <h2>Valores Devidos</h2>
          </header>
          <!-- widget div-->
          <div>
            <!-- widget content -->
            <div class="widget-body"  [ngClass]="(false)? '' : 'fix-painel-devido-recebido'">
              <!-- <p *ngIf="chkDibAnterior && chkUseSameDib">
                * Para habilitar o campo DIB Anterior, deve-se desmarcar a revisão RMI com a mesma DIB.
              </p> -->
              <form class="form-horizontal">
                <fieldset>
                  <!-- <div class="form-group">
                    <div class="col-md-11 col-sm-offset-1">
                      <div class="checkbox" *ngIf="!chkNotGranted" >
                        <label>
                          <input type="checkbox" name="useSameDib" [(ngModel)]="chkUseSameDib" (change)="useSameDIBChanged()" class="checkbox {{styleTheme}}" checked="checked">
                          <span>Caso queira calcular revisão de RMI com mesma DIB </span>
                        </label>
                      </div>
                      <div class="checkbox">
                        <label>
                          <input type="checkbox" name="chkDibAnterior" [(ngModel)]="chkDibAnterior" class="checkbox {{styleTheme}}" checked="checked">
                          <span>Caso queira calcular benefício precedido com DIB anterior</span>
                        </label>
                      </div>
                    </div>
                  </div> -->
                  <div class="form-group">
                    <label class="control-label" for="select-1" [ngClass]="(true)?  'col-md-2' : 'col-md-4'">Espécie:</label>
                    <div class="" [ngClass]="(true)? 'col-md-9' : 'col-md-6 col-lg-6'" >
                      <select name="especieValoresDevidos" [(ngModel)]="especieValoresDevidos" class="form-control" id="select-1">
                        <option *ngFor="let option of especieValoresOptions" value="{{option.value}}">{{option.name}}</option>
                      </select>
                      <small *ngIf="errors.has('especieValoresDevidos')" class="text-danger">{{ errors.get('especieValoresDevidos') }}</small>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-md-7 control-label">Número do Benefício:</label>
                    <div class="col-md-4">
                      <input [(ngModel)]="numeroBeneficioDevido" [textMask]="{mask: numBenefMask}" name="numeroBeneficioDevido" class="form-control" type="text" maxlength="200">
                      <small *ngIf="errors.has('numeroBeneficioDevido')" class="text-danger">{{ errors.get('numeroBeneficioDevido') }}</small>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label" [ngClass]="(true)?  'col-md-7' : 'col-md-4'">Data de Início de Benefício - DIB*:</label>
                    <div class="col-md-4" [ngClass]="(true)?  'col-md-4' : 'col-md-2'">
                      <input name='dibValoresDevidos' [textMask]="{mask: dateMask}" [(ngModel)]="dibValoresDevidos" (blur)='dibValoresDevidosChanged();useSameDIBChanged();setCheckRevisao();'
                       class="form-control"  type="text">
                      <small *ngIf="errors.has('dibValoresDevidos')" class="text-danger">{{ errors.get('dibValoresDevidos') }}</small>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label" [ngClass]="(true)?  'col-md-7' : 'col-md-4'">Data de Início do Pagamento - DIP*:</label>
                    <div class="col-md-4" [ngClass]="(true)?  'col-md-4' : 'col-md-2'">
                      <input name='dipValoresDevidos' [textMask]="{mask: dateMask}" [(ngModel)]="dipValoresDevidos" (blur)='dibValoresDevidosChanged();useSameDIBChanged();setCheckRevisao();'
                       class="form-control"  type="text">
                      <small *ngIf="errors.has('dipValoresDevidos')" class="text-danger">{{ errors.get('dipValoresDevidos') }}</small>
                    </div>
                  </div>
                  <div class="form-group">
                    <label  class="control-label" [ngClass]="(true)?  'col-md-7' : 'col-md-4'">Data Final dos Atrasados*:</label>
                    <div class="col-md-4" [ngClass]="(true)?  'col-md-4' : 'col-md-2'">
                      <input name="cessacaoValoresDevidos" [textMask]="{mask: dateMask}" [(ngModel)]="cessacaoValoresDevidos" class="form-control " type="text">
                      <small *ngIf="errors.has('cessacaoValoresDevidos')" class="text-danger">{{ errors.get('cessacaoValoresDevidos') }}</small>
                    </div>
                  </div>
                  <div class="form-group">
                    <div >
                      <label class="control-label" [ngClass]="(true)?  'col-md-7' : 'col-md-4'">Data de Início do Benefício Anterior (Se houver):  </label>
                      <div class="col-md-4" [ngClass]="(true)?  'col-md-4' : 'col-md-2'">
                        <input name='dibAnteriorValoresDevidos' [textMask]="{mask: dateMask}" [(ngModel)]="dibAnteriorValoresDevidos" (blur)="setCcheckBoxdibAnterior()"  class="form-control" type="text">
                        <small *ngIf="errors.has('dibAnteriorValoresDevidos')" class="text-danger">{{ errors.get('dibAnteriorValoresDevidos') }}</small>
                      </div>
                  </div>
                  </div>
                  <div *ngIf="chkNotGranted" class="form-group">
                      <label *ngIf="!devidosBuracoNegro" class=" control-label" [ngClass]="(true)?  'col-md-7' : 'col-md-4'">Renda Mensal Inicial - RMI*:</label>
                      <label *ngIf="devidosBuracoNegro" class=" control-label" [ngClass]="(true)?  'col-md-7' : 'col-md-4'">Renda mensal Inicial - RMI antes da revisão (Buraco Negro)*:</label>
                      <div class="col-md-4" [ngClass]="(true)?  'col-md-4' : 'col-md-2'">
                        <input name="rmiValoresDevidos" currencyMask [(ngModel)]="rmiValoresDevidos" class="form-control" type="text">
                        <small *ngIf="errors.has('rmiValoresDevidos')" class="text-danger">{{ errors.get('rmiValoresDevidos') }}</small>
                      </div>
                  </div>
                  <div *ngIf="!chkNotGranted" class="form-group">
                      <label *ngIf="!devidosBuracoNegro" class="control-label" [ngClass]="(true)?  'col-md-7' : 'col-md-4'">Renda Mensal Inicial (RMI)*</label>
                      <label *ngIf="devidosBuracoNegro" class="control-label" [ngClass]="(true)?  'col-md-7' : 'col-md-4'">RMI Antes da Revisão (Buraco Negro):</label>
                      <div class="col-md-4" [ngClass]="(true)?  'col-md-4' : 'col-md-2'">
                        <input name="rmiValoresDevidos" currencyMask [(ngModel)]="rmiValoresDevidos" class="form-control" type="text">
                        <small *ngIf="errors.has('rmiValoresDevidos')" class="text-danger">{{ errors.get('rmiValoresDevidos') }}</small>
                      </div>
                  </div>
                  <div *ngIf="devidosBuracoNegro" class="form-group">
                    <label class=" control-label"  [ngClass]="(true)?  'col-md-7' : 'col-md-4'">RMI Depois da Revisão (Buraco Negro):</label>
                    <div class="col-md-4" [ngClass]="(true)?  'col-md-4' : 'col-md-2'">
                      <input name="rmiValoresDevidosBuracoNegro" [(ngModel)]="rmiValoresDevidosBuracoNegro" currencyMask class="form-control" type="text">
                      <small *ngIf="errors.has('rmiValoresDevidosBuracoNegro')" class="text-danger">{{ errors.get('rmiValoresDevidosBuracoNegro') }}</small>
                    </div>
                  </div>
                   <div  class="form-group"> <!-- *ngIf="devidosPosBuracoNegro" -->
                    <label class=" control-label"  [ngClass]="(true)?  'col-md-7' : 'col-md-4'">
                      Índice de Limitação no Teto (se houver):
                      <i title="Índice de Reajuste de Teto (IRT) só existepara beneficios com limitação ao teto." class="fa fa-question-circle fa-lg text-info"></i> 
                      </label>
                      <div class="col-md-4" [ngClass]="(true)?  'col-md-4' : 'col-md-2'">
                        <input name="taxaAjusteMaximaEsperada" class="form-control" [textMask]="{mask: IndiceMask, guide: false}"  [(ngModel)]="taxaAjusteMaximaEsperada" type="text">
                        <small *ngIf="errors.has('taxaAjusteMaximaEsperada')" class="text-danger">{{ errors.get('taxaAjusteMaximaEsperada') }}</small>
                      </div>
                  </div>
                  <div  class="form-group" *ngIf="especieValoresDevidos == 22">
                    <label class=" control-label" [ngClass]="(true)? 'col-md-7' : 'col-md-4'">
                      Número de Dependentes:
                      <i title="Rateio da Pensão por Morte" class="fa fa-question-circle fa-lg text-info"></i> 
                      </label>
                      <div class="col-md-4" [ngClass]="(true)?  'col-md-4' : 'col-md-2'">
                        <input [(ngModel)]="numDependentes" (change)="errors.clear('numDependentes')"  [ngModelOptions]="{standalone: true}" class="form-control" type="number" min="0" max="20" step="1">
                        <small *ngIf="errors.has('numDependentes')" class="text-danger">{{ errors.get('numDependentes') | i18n}}</small>
                      </div>
                  </div>
                  <div class="form-group">
                    <div class="col-md-8 col-sm-offset-3">
                      <div class="checkbox">
                        <label>
                          <input type="checkbox" name="naoAplicarSMBeneficioEsperado" [(ngModel)]="naoAplicarSMBeneficioEsperado" class="checkbox" checked="checked">
                          <span>Valor da RMI inferior ao Salário Mínimo.</span>
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-md-8 col-sm-offset-3">
                      <div class="checkbox">
                        <label>
                          <input type="checkbox" name="calcularAbono13UltimoMes" [(ngModel)]="calcularAbono13UltimoMes" class="checkbox" checked="checked">
                          <span>Cacular o 13º no Último Ano do Cálculo.</span>
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-md-8 col-sm-offset-3">
                      <div class="checkbox">
                        <label>
                          <input type="checkbox" name="chkDemandasJudiciais" [(ngModel)]="chkDemandasJudiciais" class="checkbox {{styleTheme}}">
                          <span>Não Limitar ao Teto para Demandas Judiciais.</span>
                        </label>
                      </div>
                    </div>
                  </div>
                </fieldset>
                <p class="pull-right no-margin">* Campo obrigatório</p>
              </form>
            </div>
          </div>
        </sa-widget>
      </article>

      <article class="col-sm-12 col-md-6 col-lg-6">
        <!-- Widget ID (each widget will need unique ID)-->
        <sa-widget [colorbutton]="false" [editbutton]="false" [togglebutton]="false" [deletebutton]="false" [fullscreenbutton]="false" [custombutton]="false" [collapsed]="false" [sortable]="false">
          <header>
            <span class="widget-icon">
              <i class="fa fa-money"></i>
            </span>
            <h2>Valores Recebidos</h2>
            <!-- <app-beneficios-calculos-form-recebidos
                [formData]="form" 
                [type] = "calculoType"
            ></app-beneficios-calculos-form-recebidos> -->
          </header>
          <!-- widget div-->
          <div>
            <!-- widget content -->
            <div class="widget-body fix-painel-devido-recebido">
              <form class="form-horizontal">
                <fieldset>
                  <!-- <div class="form-group mt-3 mb-3">
                    <div class="col-md-11 col-sm-offset-1">
                      <div class="checkbox">
                        <label>
                          <input name="chkPrecedidoRecebidos" [(ngModel)]='chkPrecedidoRecebidos' type="checkbox"  class="checkbox {{styleTheme}}">
                          <span>Caso queira calcular benefício precedido com DIB anterior </span>
                        </label>
                      </div>
                    </div>
                  </div> -->
                  <div class="form-group">
                    <label class=" control-label" for="especieRecebidoSelect" [ngClass]="(true)?  'col-md-2' : 'col-md-4'">Espécie:</label>
                    <div class="" [ngClass]="(true)? 'col-md-9' : 'col-md-6 col-lg-6'" >
                      <select name="especieValoresRecebidos" [(ngModel)]="especieValoresRecebidos" class="form-control" id="especieRecebidoSelect" (change)="validRecebidos()">
                        <option *ngFor="let option of especieValoresOptions" value="{{option.value}}">{{option.name}}</option>
                      </select>
                      <small *ngIf="errors.has('especieValoresRecebidos')" class="text-danger">{{ errors.get('especieValoresRecebidos') }}</small>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-md-7 control-label">Número do Benefício:</label>
                    <div class="col-md-4">
                      <input [(ngModel)]="numeroBeneficioRecebido" [textMask]="{mask: numBenefMask}" name="numeroBeneficioRecebido" class="form-control" type="text" maxlength="200">
                      <small *ngIf="errors.has('numeroBeneficioRecebido')" class="text-danger">{{ errors.get('numeroBeneficioRecebido') }}</small>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label" [ngClass]="(true)?  'col-md-7' : 'col-md-4'">Data de Início de Benefício - DIB*:</label>
                    <div class="col-md-4" [ngClass]="(true)?  'col-md-4' : 'col-md-2'">
                      <input class="form-control" [textMask]="{mask: dateMask}" name="dibValoresRecebidos" (blur)="dibValoresRecebidosChanged();setCheckRevisao();" (change)="validRecebidos()"
                       [(ngModel)]="dibValoresRecebidos" type="text" >
                      <small *ngIf="errors.has('dibValoresRecebidos')" class="text-danger">{{ errors.get('dibValoresRecebidos') }}</small>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label" [ngClass]="(true)?  'col-md-7' : 'col-md-4'">Data de Início do Pagamento - DIP*:</label>
                    <div class="col-md-4" [ngClass]="(true)?  'col-md-4' : 'col-md-2'">
                      <input class="form-control" [textMask]="{mask: dateMask}" name="dipValoresRecebidos" (change)="validRecebidos()"
                       [(ngModel)]="dipValoresRecebidos" type="text" >
                      <small *ngIf="errors.has('dipValoresRecebidos')" class="text-danger">{{ errors.get('dipValoresRecebidos') }}</small>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label" [ngClass]="(true)?  'col-md-7' : 'col-md-4'">Data Final Recebidos:</label>
                    <div class="col-md-4" [ngClass]="(true)?  'col-md-4' : 'col-md-2'">
                      <input name="cessacaoValoresRecebidos" [(ngModel)]="cessacaoValoresRecebidos" [textMask]="{mask: dateMask}" class="form-control " type="text">
                      <small *ngIf="errors.has('cessacaoValoresRecebidos')" class="text-danger">{{ errors.get('cessacaoValoresRecebidos') }}</small>
                    </div>
                  </div>
                  <div class="form-group">
                      <label class="control-label" [ngClass]="(true)?  'col-md-7' : 'col-md-4'">Data de Início do Benefício Anterior  (Se houver):</label>
                      <div class="col-md-4" [ngClass]="(true)?  'col-md-4' : 'col-md-2'">
                        <input name='dibAnteriorValoresRecebidos' [(ngModel)]="dibAnteriorValoresRecebidos" (blur)="setCcheckBoxdibAnterior()"  class="form-control" [textMask]="{mask: dateMask}" type="text">
                        <small *ngIf="errors.has('dibAnteriorValoresRecebidos')" class="text-danger">{{ errors.get('dibAnteriorValoresRecebidos') }}</small>
                      </div>
                  </div>
                  <div class="form-group">
                    <label *ngIf="recebidosBuracoNegro" class="control-label" [ngClass]="(true)?  'col-md-7' : 'col-md-4'">
                      RMI antes da revisão (Buraco Negro):</label>
                    <label *ngIf="!recebidosBuracoNegro" class="control-label" [ngClass]="(true)?  'col-md-7' : 'col-md-4'">
                      <i *ngIf="especieValoresRecebidos == '16' || especieValoresRecebidos == '11'" 
                      title="Para o benefício de LOAS, deve inserir o valor de um salário mínimo." class="fa fa-question-circle fa-lg"></i>Renda Mensal Inicial - RMI*:</label>
                    <div class="col-md-4"  [ngClass]="(true)?  'col-md-4' : 'col-md-2'">
                      <input name="rmiValoresRecebidos" currencyMask [(ngModel)]="rmiValoresRecebidos" class="form-control" type="text" (blur)="validRecebidos()">
                      <small *ngIf="errors.has('rmiValoresRecebidos')" class="text-danger">{{ errors.get('rmiValoresRecebidos') }}</small>
                    </div>
                  </div>
                  <div *ngIf="recebidosBuracoNegro" class="form-group">
                    <label class="control-label" [ngClass]="(true)?  'col-md-7' : 'col-md-4'">RMI depois da revisão (Buraco Negro):</label>
                    <div class="" [ngClass]="(true)?  'col-md-4' : 'col-md-2'">
                      <input name="rmiValoresRecebidosBuracoNegro" [(ngModel)]="rmiValoresRecebidosBuracoNegro" currencyMask class="form-control" type="text">
                    </div>
                  </div>
                  <div  class="form-group"> <!--*ngIf="recebidosPosBuracoNegro"-->
                    <label class=" control-label" [ngClass]="(true)?  'col-md-7' : 'col-md-4'">
                      Índice de Limitação no Teto (se houver):
                      <i title="Índice de Reajuste de Teto (IRT) só existe para beneficios com limitação ao teto." class="fa fa-question-circle fa-lg text-info"></i> 
                      </label>
                    <div class="col-md-4" [ngClass]="(true)?  'col-md-4' : 'col-md-2'">
                      <input name="taxaAjusteMaximaConcedida" class="form-control" [(ngModel)]="taxaAjusteMaximaConcedida" [textMask]="{mask: IndiceMask, guide: false}" type="text">
                      <small *ngIf="errors.has('taxaAjusteMaximaConcedida')" class="text-danger">{{ errors.get('taxaAjusteMaximaConcedida') }}</small>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-md-8 col-sm-offset-3">
                      <div class="checkbox">
                        <label>
                          <input type="checkbox" name="naoAplicarSMBeneficioConcedido" [(ngModel)]="naoAplicarSMBeneficioConcedido" class="checkbox" checked="checked">
                          <span>Valor da RMI inferior ao Salário Mínimo</span>
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-md-12">
                      <button *ngIf="!rowRecebidosEdit" id="adicionarRecebido" (click)="inserirRecebidoList($event)" type="button" class="btn-labeled btn-info pull-right">
                          <span class="btn-label">
                            <i class="fa fa-plus"></i>
                          </span> <span>&nbsp;&nbsp;&nbsp;Adicionar Período&nbsp;&nbsp;&nbsp;</span>
                        </button>
                        <button *ngIf="rowRecebidosEdit" id="replaceRecebido" (click)="updateRecebidoList($event, rowRecebidosEdit)" type="button" class="btn-labeled btn-info pull-right">
                          <span class="btn-label">
                            <i class="fa fa-edit"></i>
                          </span> <span>&nbsp;&nbsp;&nbsp;Atualizar Período&nbsp;&nbsp;&nbsp;</span>
                        </button>
                    </div>
                  </div>
                </fieldset>
                <p class="pull-right no-margin">* Campo Obrigatório</p>
              </form>
            </div>
          </div>
        </sa-widget>
      </article>
       <article class="col-sm-12 col-md-12 col-lg-12">
        <sa-widget [colorbutton]="false" [editbutton]="false" [deletebutton]="false">
          <header>
            <span class="widget-icon">
              <i class="fa fa-table"></i>
            </span>
            <h2> Lista de Perídos Recebidos</h2>
          </header>
          <div>
            <div class="widget-body no-padding widget-body-custom">
              <div class="well well-light" *ngIf="listRecebidos.length === 0"><strong>Não há itens na lista</strong></div>
              <table class="table table-striped table-bordered table-hover table-responsive table-condensed" 
              *ngIf="!isUpdating && listRecebidos.length > 0">
                <thead>
                  <tr>
                    <th>Espécie / Número Benefício</th>
                    <th>DIB / DIP</th>
                    <th>Final</th>
                    <th class="text-center">DIB Anterior</th>
                    <th class="text-center">RMI</th>
                    <th class="text-center">IRT</th>
                    <th class="text-center">Inferior ao Mínimo</th>
                    <th class="text-center">Ações</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let recebidoLine of listRecebidos">
                    <td>{{getTipoAposentadoria(recebidoLine.especie)}} 
                      <span *ngIf="recebidoLine.numeroBeneficio"><br> {{recebidoLine.numeroBeneficio}}</span>
                    </td>
                    <td>DIB: {{recebidoLine.dib}}  
                      <span *ngIf="recebidoLine.dip"><br>DIP: {{recebidoLine.dip}}</span>
                    </td>
                    <td>{{recebidoLine.cessacao}}</td>
                    <td>{{recebidoLine.dibAnterior}}</td>
                    <td class="text-center">
                      {{definicaoMoeda.formatMoney(recebidoLine.rmi)}}
                      <span *ngIf="recebidoLine.rmiBuracoNegro" >
                        <br>{{definicaoMoeda.formatMoney(recebidoLine.rmiBuracoNegro)}}
                      </span>
                    </td>
                    <td class="text-center">{{recebidoLine.irt}}</td>
                    <td class="text-center">{{(recebidoLine.reajuesteMinimo) ? 'Sim': 'Não'}}</td>
                    <td class="text-center" width="auto">
                      <div class="btn-group">
                        <button type="button" class="btn btn-xs btn-warning" id="editar{{recebidoLine.id}}" (click)='getupdatePeriodoRecebidoList(recebidoLine.id)' title='Editar' >
                          <i class='fa fa-edit fa-1-7x'></i>
                        </button>
                        <button type="button" class="btn btn-xs btn-danger" id="deletar{{recebidoLine.id}}" (click)='deletePeriodoRecebidoList(recebidoLine.id)' title='Excluir'>
                          <i class='fa fa-times fa-1-7x'></i>
                        </button>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div *ngIf="isUpdating" class="alert alert-info text-align-center">
                <h3> <i class="fa fa-gear fa-3x fa-spin"></i> Carregando...</h3>
              </div>
            </div>
          </div>
        </sa-widget>
      </article>

      <article class="col-sm-12 col-md-12 col-lg-12">
        <sa-widget [colorbutton]="false" [editbutton]="false" [togglebutton]="false" [deletebutton]="false" [fullscreenbutton]="false" [custombutton]="false" [collapsed]="false" [sortable]="false">
          <header>
            <span class="widget-icon">
              <i class="fa fa-list"></i>
            </span>
            <h2>Correção Monetária</h2>
          </header>
          <!-- widget div-->
          <div>
            <!-- widget content -->
            <div class="widget-body widget-body-custom">
              <form class="form-horizontal">
                <div class="form-group" [ngClass]="{'has-error': errors.has('tipoCorrecaoMonetaria')}">
                  <label class="col-md-3 control-label">Selecione a opção *:</label>
                  <div class="col-md-7 ">
                    <select name="tipoCorrecaoMonetaria" [(ngModel)]="tipoCorrecaoMonetaria" class="form-control" id="tipoCorrecaoMonetariaSelect">
                      <option *ngFor="let correcao of correcaoOptions" value="{{correcao.value}}">{{correcao.text}}</option>
                    </select>
                    <small *ngIf="errors.has('tipoCorrecaoMonetaria')" class="text-danger">{{ errors.get('tipoCorrecaoMonetaria')| i18n }}</small>
                  </div>
                </div>
              </form>
                <!-- <div class="form-group" >
                  <div class="col-md-8 col-sm-offset-2">
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" name="chkNaoUsarDeflacao" [(ngModel)]="chkNaoUsarDeflacao" class="checkbox {{styleTheme}}">
                        <span>Para não utilizar deflação na correção monetária marque a caixa</span>
                      </label>
                    </div>
                  </div>
                </div> -->
            </div>
          </div>
        </sa-widget>
      </article>

<article class="col-sm-12 col-md-12 col-lg-12">
  <!-- Widget ID (each widget will need unique ID)-->
  <sa-widget [colorbutton]="false" [editbutton]="false" [togglebutton]="false" [deletebutton]="false" [fullscreenbutton]="false" [custombutton]="false" [collapsed]="false" [sortable]="false">
    <header>
      <span class="widget-icon">
        <i class="fa fa-percent"></i>
      </span>
      <h2>Juros</h2>
    </header>
    <!-- widget div-->
    <div>
      <!-- widget content -->
      <div class="widget-body">
        <form class="form-horizontal">
          <fieldset>
              <div class="form-group" [ngClass]="{'has-error': errors.has('tipoDejurosSelecionado')}">
                <label class="col-md-3 control-label">Selecione a opção *:</label>
                <div class="col-md-6">
                  <select name="tipoDejurosSelecionado" [(ngModel)]="tipoDejurosSelecionado" (change)="setJurosAnualParaMensal()" class="form-control" id="tipoDejurosSelecionadoSelect">
                    <option *ngFor="let tipoJuros of tipoJurosOptions" value="{{tipoJuros.value}}">{{tipoJuros.text}}</option>
                  </select>
                  <small *ngIf="errors.has('tipoDejurosSelecionado')" class="text-danger">{{ errors.get('tipoDejurosSelecionado')| i18n }}</small>
                </div>
              </div>
             <div class="form-group" *ngIf="tipoDejurosSelecionado === 'manual'" >
              <div class="col-md-5 col-sm-offset-3">
                <div class="checkbox">
                  <label>
                  <input type="checkbox" name="chkBoxTaxaSelic" [(ngModel)]="chkBoxTaxaSelic" class="checkbox {{styleTheme}}" checked>
                  <span>Desmarque para não aplicar os juros da poupança</span>
                </label>
                </div>
              </div>
            </div> 
             <div class="form-group" *ngIf="tipoDejurosSelecionado !== 'sem_juros'" >
              <div class="col-md-5 col-sm-offset-3">
                <div class="checkbox">
                  <label>
                  <input type="checkbox" name="naoAplicarJurosSobreNegativo" [(ngModel)]="naoAplicarJurosSobreNegativo" class="checkbox {{styleTheme}}" checked>
                  <span>Marque para não aplicar os juros sobre o valor negativo.</span>
                </label>
                </div>
              </div>
            </div>
            <div class="form-group" *ngIf="tipoDejurosSelecionado === 'manual'" >
              <label class="col-md-3 control-label">Juros anterior a janeiro 2003 (%):</label>
              <div class="col-md-2">
                <input name="jurosAntes2003" [(ngModel)]="jurosAntes2003" currencyMask class="form-control" placeholder="0,5%" type="text" maxlength="5">
                <small *ngIf="errors.has('jurosAntes2003')" class="text-danger">{{ errors.get('jurosAntes2003') }}</small>
              </div>
              <label class="col-md-3 control-label">Juros posterior a janeiro 2003 (%):</label>
              <div class="col-md-2">
                <input name="jurosDepois2003" [(ngModel)]="jurosDepois2003"  currencyMask class="form-control" placeholder="1.0%" type="text" maxlength="5">
                <small *ngIf="errors.has('jurosDepois2003')" class="text-danger">{{ errors.get('jurosDepois2003') }}</small>
              </div>
            </div>
            <div class="form-group" *ngIf="tipoDejurosSelecionado === 'manual'">
              <label class="col-md-3 control-label">Juros posterior a julho 2009 (%):</label>
              <div class="col-md-2">
                <input name="jurosDepois2009" [(ngModel)]="jurosDepois2009"  currencyMask class="form-control" placeholder="0,5%" type="text" maxlength="5">
                <small *ngIf="errors.has('jurosDepois2009')" class="text-danger">{{ errors.get('jurosDepois2009') }}</small>
              </div>
             </div>
             <div class="form-group" *ngIf="tipoDejurosSelecionado !== 'sem_juros'" >
              <label class="col-md-3 control-label">Competência inicial dos juros:</label>
              <div class="col-md-2">
                <input class="form-control" [textMask]="{mask: dateMaskCompetencia}" name="competenciaInicioJuros"  [(ngModel)]="competenciaInicioJuros" type="text">
                <small *ngIf="errors.has('competenciaInicioJuros')" class="text-danger">{{ errors.get('competenciaInicioJuros') }}</small>
              </div>
            </div>

            <div *ngIf="(type=='AJ' && tipoDejurosSelecionado !== 'sem_juros')">
                <div class="col-md-8 col-sm-offset-2">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" [(ngModel)]="chkIndice" class="checkbox {{styleTheme}}">
                      <span>Para calcular aplicando os índices de 2,28% em 06/1999 e 1,75% em 05/2004 marque a caixa.</span>
                    </label>
                  </div>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" [(ngModel)]="chkAjusteMaximo" name="chkAjusteMaximo" disabled class="checkbox {{styleTheme}}" checked="checked">
                      <span>Para usar tetos judiciais em 12/1998 e em 12/2003 marque a caixa</span>
                    </label>
                  </div>
                </div>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </sa-widget>
</article>

      <article class="col-sm-12 col-md-12 col-lg-12">
        <!-- Widget ID (each widget will need unique ID)-->
        <sa-widget [colorbutton]="false" [editbutton]="false" [togglebutton]="false" [deletebutton]="false" [fullscreenbutton]="false" [custombutton]="false" [collapsed]="false" [sortable]="false">
          <header>
            <span class="widget-icon">
              <i class="fa fa-money"></i>
            </span>
            <h2>Honorários</h2>
          </header>
          <!-- widget div-->
          <div>
            <!-- widget content -->
            <div class="widget-body">
              <form class="form-horizontal">
                <fieldset>
                  <!-- <div class="form-group" >
                    <div class="form-group" *ngIf="taxaAdvogadoAplicacaoSobre !== 'fixo'" >
                      <div class="col-md-10 col-md-offset-2">
                        <div class="checkbox">
                          <label>
                          <input type="checkbox" name="taxaAdvogadoAplicarCPCArt85" [(ngModel)]="taxaAdvogadoAplicarCPCArt85" class="checkbox {{styleTheme}}" checked>
                          <span>Calcular o valor conforme §3º do Art. 85 da Lei 13105/15: </span>
                        </label>
                        </div>
                      </div>
                    </div>
                  </div> -->
                  <div class="form-group" [ngClass]="{'has-error': errors.has('taxaAdvogadoAplicacaoSobre')}" >
                    <label class="col-md-3 control-label" for="taxaAdvogadoAplicacaoSobre">Percentual de Honorário Sobre*:</label>
                    <div class="" [ngClass]="(taxaAdvogadoAplicacaoSobre === 'fixo')? 'col-md-4' : 'col-md-7'">
                      <select name="taxaAdvogadoAplicacaoSobre" [(ngModel)]="taxaAdvogadoAplicacaoSobre" class="form-control" id="taxaAdvogadoAplicacaoSobre" 
                      >
                        <option *ngFor="let option of tipoHonorariosOptions" value="{{option.value}}">{{option.text}}</option>
                      </select>
                      <small *ngIf="errors.has('taxaAdvogadoAplicacaoSobre')" class="text-danger">{{ errors.get('taxaAdvogadoAplicacaoSobre')| i18n }}</small>
                    </div>
                    <div class="col-md-2" *ngIf="(taxaAdvogadoAplicacaoSobre === 'fixo')" > 
                      <input name='taxaAdvogadoValorFixoHonorarios' currencyMask [(ngModel)]="taxaAdvogadoValorFixoHonorarios"  class="form-control"  
                        type="text" maxlength="14" title="Digite o valor fixo para os honorários" placeholder="Digite o valor"  >
                        <small *ngIf="errors.has('taxaAdvogadoValorFixoHonorarios')" class="text-danger">{{ errors.get('taxaAdvogadoValorFixoHonorarios') }}</small>
                    </div>
                    <div class="col-md-3" *ngIf="(taxaAdvogadoAplicacaoSobre === 'fixo')" > 
                      <input name="dataHonorariosDe" [textMask]="{mask: dateMask}" [(ngModel)]="dataHonorariosDe" 
                      class="form-control" placeholder="data da inicial honorário fixo" tooltip="data da inicial honorário fixo" type="text">
                      <small *ngIf="errors.has('dataHonorariosDe')" class="text-danger">{{ errors.get('dataHonorariosDe') }}</small>
                    </div>
                  </div>
                  <div class="form-group" *ngIf="taxaAdvogadoAplicacaoSobre === 'CPC85'">
                    <label class="col-md-3 control-label">Aplicar Percentuais Sobre:</label>
                    <div class="col-md-7">
                        <select name="taxaAdvogadoAplicarCPCArt85" [(ngModel)]="taxaAdvogadoAplicarCPCArt85"  class="form-control" id="taxaAdvogadoAplicarCPCArt85">
                          <option value="">- Selecione -</option>
                          <option value="1">Percentual sobre o Valor Total do Benefício Devido</option>
                          <option value="0">Percentual Sobre o Valor da Diferença entre os Benefícios Devido e Recebido</option>
                        </select>
                        <div class="row">
                        <div class="col-md-12">
                          <small *ngIf="errors.has('taxaAdvogadoAplicarCPCArt85')" class="text-danger">{{ errors.get('taxaAdvogadoAplicarCPCArt85')| i18n }}</small>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group" *ngIf="taxaAdvogadoAplicacaoSobre === 'CPC85'">
                    <div  class="col-md-offset-1">
                      <div class="form-group" >
                        <label class="col-md-5 control-label">Percentual Sobre o Valor até 200 Salários Mínimos (SM):</label>
                        <div class="col-md-2 col-sm-2">
                          <input name="taxaAdvogadoPercateAte200SM"  [(ngModel)]="taxaAdvogadoPercateAte200SM" class="form-control text-center"  type="text" currencyMask maxlength="5"> 
                        </div>
                        <small *ngIf="errors.has('taxaAdvogadoPercateAte200SM')" class="text-danger">{{ errors.get('taxaAdvogadoPercateAte200SM') }}</small>
                      </div>
                      <div class="form-group" >
                        <label class="col-md-5 control-label">Percentual Sobre o Valor Acima de 200 SM até 2.000 SM:</label>
                        <div class="col-md-2 col-sm-2">
                          <input name="taxaAdvogadoPerc200A2000SM"  [(ngModel)]="taxaAdvogadoPerc200A2000SM" class="form-control text-center"  type="text" currencyMask maxlength="5"> 
                        </div>
                        <small *ngIf="errors.has('taxaAdvogadoPerc200A2000SM')" class="text-danger">{{ errors.get('taxaAdvogadoPerc200A2000SM') }}</small>
                      </div>
                      <div class="form-group" >
                        <label class="col-md-5 control-label">Percentual Sobre o Valor Acima de 2.000 SM até 20.000 SM:</label>
                        <div class="col-md-2 col-sm-2">
                          <input name="taxaAdvogadoPerc2000A20000SM"  [(ngModel)]="taxaAdvogadoPerc2000A20000SM" class="form-control text-center"  type="text" currencyMask maxlength="5"> 
                        </div>
                        <small *ngIf="errors.has('taxaAdvogadoPerc2000A20000SM')" class="text-danger">{{ errors.get('taxaAdvogadoPerc2000A20000SM') }}</small>
                      </div>
                      <div class="form-group" >
                        <label class="col-md-5 control-label">Percentual Sobre o Valor Acima de 20.000 SM até 100.000 SM:</label>
                        <div class="col-md-2 col-sm-2">
                          <input name="taxaAdvogadoPerc20000A100000SM"  [(ngModel)]="taxaAdvogadoPerc20000A100000SM" class="form-control text-center"  type="text" currencyMask maxlength="5"> 
                        </div>
                        <small *ngIf="errors.has('taxaAdvogadoPerc20000A100000SM')" class="text-danger">{{ errors.get('taxaAdvogadoPerc20000A100000SM') }}</small>
                      </div>
                      <div class="form-group" >
                        <label class="col-md-5 control-label">Percentual Sobre o Valor Acima de 100.000 SM:</label>
                        <div class="col-md-2 col-sm-2">
                          <input name="taxaAdvogadoPerc100000SM"  [(ngModel)]="taxaAdvogadoPerc100000SM" class="form-control text-center"  type="text" currencyMask maxlength="5"> 
                        </div>
                        <small *ngIf="errors.has('taxaAdvogadoPerc100000SM')" class="text-danger">{{ errors.get('taxaAdvogadoPerc100000SM') }}</small>
                      </div>
                    </div>
                  </div>
                  <!-- <div class="form-group"  *ngIf="taxaAdvogadoAplicacaoSobre !== 'CPC85' && taxaAdvogadoAplicacaoSobre !== 'nao_calc' && taxaAdvogadoAplicacaoSobre !== 'fixo'">
                    <label class="col-md-2 control-label">Intervalo de Honorários:</label>
                    <div class="col-md-2">
                      <input name="dataHonorariosDe" [textMask]="{mask: dateMask}" [(ngModel)]="dataHonorariosDe" class="form-control" placeholder="De" type="text">
                      <small *ngIf="errors.has('dataHonorariosDe')" class="text-danger">{{ errors.get('dataHonorariosDe') }}</small>
                    </div>
                    <div class="col-md-2">
                      <input name="dataHonorariosAte" [(ngModel)]="dataHonorariosAte" [textMask]="{mask: dateMask}" class="form-control" placeholder="Até" type="text">
                      <small *ngIf="errors.has('dataHonorariosAte')" class="text-danger">{{ errors.get('dataHonorariosAte') }}</small>
                    </div>
                  </div> -->
                  <div class="form-group"  *ngIf="taxaAdvogadoAplicacaoSobre !== 'nao_calc'">
                    <label class="col-md-3 control-label">Calcular Honorários Até:</label>
                    <div class="col-md-2">
                      <input name="dataHonorariosAte" [(ngModel)]="dataHonorariosAte" [textMask]="{mask: dateMask}" class="form-control" placeholder="Até" type="text">
                      <small *ngIf="errors.has('dataHonorariosAte')" class="text-danger">{{ errors.get('dataHonorariosAte') }}</small>
                    </div>
                  </div>
                  <div class="form-group" *ngIf="taxaAdvogadoAplicacaoSobre !== 'CPC85' && taxaAdvogadoAplicacaoSobre !== 'nao_calc' && taxaAdvogadoAplicacaoSobre !== 'fixo'">
                    <label class="col-md-3 control-label">Percentual dos Honorários:</label>
                    <div class="col-md-2">
                      <input name="percentualHonorarios"  [(ngModel)]="percentualHonorarios" class="form-control text-center"  type="number" step="1" max="99"> <!--  placeholder="(Ex: 0,2 p/ 20%)" -->
                      <small *ngIf="errors.has('percentualHonorarios')" class="text-danger">{{ errors.get('percentualHonorarios') }}</small>
                    </div>
                    <!-- <label class="col-md-2 control-label">Percentual do Acordo Judicial:</label>
                    <div class="col-md-2">
                      <input name="acordoJudicial" [(ngModel)]="acordoJudicial"  class="form-control text-center" type="text" currencyMask maxlength="5">
                      <small *ngIf="errors.has('acordoJudicial')" class="text-danger">{{ errors.get('acordoJudicial') }}</small>
                    </div> -->
                  </div>
                </fieldset>
              </form>
            </div>
          </div>
        </sa-widget>
      </article>

<article class="col-sm-12 col-md-12 col-lg-12" *ngIf="!isUpdating">
        <!-- Widget ID (each widget will need unique ID)-->
        <sa-widget [colorbutton]="false"
              [editbutton]="false"
              [togglebutton]="false"
              [deletebutton]="false"
              [fullscreenbutton]="false"
              [custombutton]="false">
          <header>
            <h2></h2>
          </header>
          <!-- widget div-->
          <div>
            <!-- widget content -->
            <div class="widget-body" style="min-height: auto;">
              <div class="row">
                <div class="col-md-2 pull-left">
                  <button (click)="voltar()" type="submit" class="btn btn-labeled btn-info">
                    <span class="btn-label">
                      <i class="fa fa-arrow-circle-left"></i>
                    </span> Voltar para cálculos
                  </button>
                </div>
                <div class="col-md-3  pull-right">
                  <button (click)="submit($event)" type="submit" class="btn btn-labeled btn-success btn-block">
                        <span class="btn-label">
                          <i class="fa fa-save"></i>
                        </span> <span *ngIf="!isEdit">Calcular</span><span *ngIf="isEdit">Salvar e Calcular</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </sa-widget>
      </article>

     