.fix-painel-devido-recebido{
    min-height: 400px;
}

.fix-rmi-anterior{
    margin-bottom: 18px;
}


@media (min-width: 1650px) {

    .fix-painel-devido-recebido{
        min-height: 420px;
    }

  }


.widget-body-custom {
    min-height: 60px !important;
}