<div id="content">
  <!-- widget grid -->
  <sa-widgets-grid>
    <div class="row">
      <article class="col-sm-12 col-md-12 col-lg-12">
        <h1>Cálculo de Regime Geral da Previdência Social</h1>
        <ol class="breadcrumb">
          <li class="breadcrumb-item active">Criar/Buscar Segurado</li>
        </ol>
        <div class="well">
          <h2 class="margin-top-0">
            <span class="semi-bold">Instrução do cálculo</span>
          </h2>
          <ul class="list-unstyled">
            <li><a href="http://qualidade.ieprev.com.br/conteudo/id/25012/t/calculo-de-renda-mensal-inicial-do-regime-geral-da-previdencia-social" target="_blank">Veja aqui</a> Manual do Simulador de RMI do RGPS</li>
            <li><a href="https://vimeo.com/333403854">Veja aqui</a> Videoaula de utilização do Simulador de RMI do RGPS</li>
            <li><a href="https://www.youtube.com/watch?v=SOz3pozwIL8&list=PLNw6awklYZ0NN4G5zkE3jPY8IT5AqwPBt&index=5" target="_blank">Veja aqui</a> Videoaula de utilização do Simulador de RMI do RGPS - Buraco Negro</li>
            <li><a href="http://qualidade.ieprev.com.br/conteudo/id/32655/t/orientacoes-basicas-sobre-aposentadoria-especial-dos-deficientes-e-fatores-multiplicadores" target="_blank">Veja aqui</a> Orientações básicas sobre aposentadoria especial dos deficientes e fatores multiplicadores</li>
            <li><a href="http://qualidade.ieprev.com.br/conteudo/id/34748/t/manual-para-revisao-de-aposentadoria-com-retroacao-da-dib-(data-de-inicio-do-beneficio)" target="_blank">Veja aqui</a> Manual para revisão de aposentadoria com retroação da DIB (data de Início do Benefício)</li>
            <li><a href="http://www.planalto.gov.br/ccivil_03/constituicao/emendas/emc/emc103.htm" target="_blank">
              Clique aqui </a> para acessa a integra da Emenda Constitucional nº 103/2019.</li>
          </ul>
          <p class="margin-lg-top">Calcula a Renda Mensal Inicial de benefícios com datas de início a partir de  Janeiro de 1970, com aplicação da legislação histórica vigente. Efetua inclusive a revisão do Buraco Negro, para os benefícios com datas de início no período entre 05/10/1988 e 05/04/1991.</p>
        </div>
      </article>
    </div>


    <!-- row -->
    <div *ngIf="!isEdit"class="row">
      <app-rgps-segurados-create (onSubmit)="onCreate($event)"></app-rgps-segurados-create>
    </div>
    <div *ngIf="isEdit"class="row">
      <app-rgps-segurados-edit (onSubmit)="onCreate($event)"></app-rgps-segurados-edit>
    </div>
    <br>
    <div class="row">
      <article class="col-sm-12 col-md-12 col-lg-12" *ngIf="!isUpdating">
        <app-rgps-segurados-index [list]="list" [datatableOptions]="datatableOptions"></app-rgps-segurados-index>
      </article>
      <div class="row row-fix-width">
        <div class="col-sm-4 col-sm-offset-4">
          <table class="table table-bordered table-hover table-condensed">
            <thead>
              <tr>
                <th colspan="2" class="text-align-center">LEGENDA</th>
              </tr>
            </thead>
            <thead>
              <tr>
                <th>Símbolo</th>
                <th>Descrição</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <i class="fa fa-edit"></i>
                </td>
                <td>Editar</td>
              </tr>
              <tr>
                <td>
                  <i class="fa fa-times"></i>
                </td>
                <td>Remover</td>
              </tr>
              <tr>
                <td>
                  <i class="fa fa-calculator"></i>
                </td>
                <td>Ver resultados</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- end row -->
  </sa-widgets-grid>
  <!-- end widget grid -->
</div>