<form class="form-horizontal">

  <fieldset>
    <div class="form-group">

      <label class="col-md-2 control-label">Nome*</label>
      <div class="col-md-3">
        <input [(ngModel)]="formData.nome" [ngModelOptions]="{standalone: true}"  (change)="errors.clear('nome')" class="form-control" type="text">
        <small *ngIf="errors.has('nome')" class="text-danger">{{ errors.get('nome') | i18n}}</small>
      </div>

      <label class="col-md-2 control-label" for="select-1">Tipo de documento*</label>
      <div class="col-md-3">
        <select class="form-control" id="select-1" [(ngModel)]="formData.id_documento" [ngModelOptions]="{standalone: true}"  (change)="changeDocumentMask()">
          <option value='1'>PIS</option>
          <option value='2'> PASEP</option>
          <option value='3'>CPF</option>
          <option value='4'>NIT</option>
          <option value='5'>RG</option>
        </select>
        <small *ngIf="errors.has('id_documento')" class="text-danger">{{ errors.get('id_documento') | i18n }}</small>
      </div>
    </div>

    <div class="form-group">

      <label class="col-md-2 control-label">Número do documento*</label>
      <!-- <div class="col-md-3"> Com mascara
        <input [(ngModel)]="formData.numero_documento" [ngModelOptions]="{standalone: true}"  (change)="errors.clear('numero_documento')" [textMask]="{mask: docMask}" class="form-control" type="text">
        <small *ngIf="errors.has('numero_documento')" class="text-danger">{{ errors.get('numero_documento')| i18n }}</small>
      </div> -->

      <div class="col-md-3">
        <input [(ngModel)]="formData.numero_documento" [ngModelOptions]="{standalone: true}"  (change)="errors.clear('numero_documento')" class="form-control" type="text">
        <small *ngIf="errors.has('numero_documento')" class="text-danger">{{ errors.get('numero_documento')| i18n }}</small>
      </div>

      <label class="col-md-2 control-label"><i title="Define a idade e assim estabelece direitos e condições de cálculos." class="fa fa-question-circle fa-lg"></i> Data de nascimento*</label>
      <div class="col-md-3">
        <input [(ngModel)]="formData.data_nascimento" [ngModelOptions]="{standalone: true}"  (change)="errors.clear('data_nascimento')" [textMask]="{mask: dateMask}" class="form-control" type="text">
        <small *ngIf="errors.has('data_nascimento')" class="text-danger">{{ errors.get('data_nascimento') | i18n}}</small>
      </div>
    </div>

    <div class="form-group">

      <label class="col-md-2 control-label"><i title="Data da primeira contribuição, define situações de direitos e formas de cálculos." class="fa fa-question-circle fa-lg"></i> Data de filiação</label>
      <div class="col-md-3">
        <input [(ngModel)]="formData.data_filiacao" [ngModelOptions]="{standalone: true}"  (change)="errors.clear('data_filiacao')" [textMask]="{mask: dateMask}" class="form-control" type="text">
        <small *ngIf="errors.has('data_filiacao')" class="text-danger">{{ errors.get('data_filiacao') | i18n}}</small>
      </div>

      <label class="col-md-2 control-label">Sexo*</label>
      <div class="col-md-3">
        <label class="radio radio-inline">
          <input [(ngModel)]="formData.sexo" [ngModelOptions]="{standalone: true}"  (change)="errors.clear('sexo')" type="radio" name="sexo" value="m"> Masculino </label>
        <label class="radio radio-inline">
          <input [(ngModel)]="formData.sexo" [ngModelOptions]="{standalone: true}"  (change)="errors.clear('sexo')" type="radio" name="sexo" value="f"> Feminino </label>
        <div class="row">
          <div class="col-md-12">
            <small *ngIf="errors.has('sexo')" class="text-danger">{{ errors.get('sexo')| i18n }}</small>
          </div>
        </div>
      </div>
    </div>

    <p>Todo os campos com um asterisco (*) são de preenchimento obrigatório.</p>
  </fieldset>

  <div class="form-actions">
    <div class="row">
      <div class="col-md-12">
        <button (click)="submit($event)" type="submit" class="btn btn-labeled btn-success">
          <span class="btn-label">
            <i class="fa fa-save"></i>
          </span> Salvar e Continuar
        </button>
      </div>
    </div>
  </div>

</form>
