<form class="form-horizontal">

  <fieldset>
    <div class="form-group">

      <label class="col-md-2 control-label">Nome*</label>
      <div class="col-md-3">
        <input [(ngModel)]="formData.nome" [ngModelOptions]="{standalone: true}"  (change)="errors.clear('nome')" class="form-control" type="text">
        <small *ngIf="errors.has('nome')" class="text-danger">{{ errors.get('nome') }}</small>
      </div>

      <label class="col-md-2 control-label" for="select-1">Tipo de documento*</label>
      <div class="col-md-3">
        <select class="form-control" id="select-1" [(ngModel)]="formData.funcao" [ngModelOptions]="{standalone: true}"  (change)="errors.clear('funcao')">
          <option>PIS</option>
          <option>PASEP</option>
          <option>CPF</option>
          <option>NIT</option>
          <option>RG</option>
        </select>
        <small *ngIf="errors.has('funcao')" class="text-danger">{{ errors.get('funcao') }}</small>
      </div>
    </div>

    <div class="form-group">

      <label class="col-md-2 control-label">Número do documento*</label>
      <div class="col-md-3">
        <input [(ngModel)]="formData.numero_documento" [ngModelOptions]="{standalone: true}"  (change)="errors.clear('numero_documento')" class="form-control" type="text">
        <small *ngIf="errors.has('numero_documento')" class="text-danger">{{ errors.get('numero_documento') }}</small>
      </div>

      <label class="col-md-2 control-label">Data de nascimento*</label>
      <div class="col-md-3">
        <input [(ngModel)]="formData.data_nascimento" [ngModelOptions]="{standalone: true}"  (change)="errors.clear('data_nascimento')" class="form-control" type="text">
        <small *ngIf="errors.has('data_nascimento')" class="text-danger">{{ errors.get('data_nascimento') }}</small>
      </div>
    </div>

    <div class="form-group">

      <label class="col-md-2 control-label">Data de filiação*</label>
      <div class="col-md-3">
        <input [(ngModel)]="formData.data_filiacao" [ngModelOptions]="{standalone: true}"  (change)="errors.clear('data_filiacao')" class="form-control" type="text">
        <small *ngIf="errors.has('data_filiacao')" class="text-danger">{{ errors.get('data_filiacao') }}</small>
      </div>

      <label class="col-md-2 control-label">Sexo*</label>
      <div class="col-md-3">
        <label class="radio radio-inline">
          <input [(ngModel)]="formData.sexo" [ngModelOptions]="{standalone: true}"  (change)="errors.clear('sexo')" type="radio" name="sexo" value="m"> Masculino </label>
        <label class="radio radio-inline">
          <input [(ngModel)]="formData.sexo" [ngModelOptions]="{standalone: true}"  (change)="errors.clear('sexo')" type="radio" name="sexo" value="f"> Feminino </label>
        <div class="row">
          <div class="col-md-12">
            <small *ngIf="errors.has('sexo')" class="text-danger">{{ errors.get('sexo') }}</small>
          </div>
        </div>
      </div>
    </div>

    <p>Todo os campos com um asterisco (*) são de preenchimento obrigatório.</p>
  </fieldset>

  <div class="form-actions">
    <div class="row">
      <div class="col-md-12">
        <button (click)="submit($event)" type="submit" class="btn btn-labeled btn-success">
          <span class="btn-label">
            <i class="fa fa-save"></i>
          </span> Salvar
        </button>
      </div>
    </div>
  </div>

</form>
