<div class="widget-body no-padding hidden-dt" *ngIf="matrizHasValues">
  <sa-datatable paginationLength="true" [options]="matrixTableOptions" tableClass="table table-striped table-condensed-custom table-bordered table-hover" width="100%">
    <thead>
      <tr>
        <th class="text-center">Ano</th>
        <th class="text-center">Janeiro</th>
        <th class="text-center">Fevereiro</th>
        <th class="text-center">Março</th>
        <th class="text-center">Abril</th>
        <th class="text-center">Maio</th>
        <th class="text-center">Junho</th>
        <th class="text-center">Julho</th>
        <th class="text-center">Agosto</th>
        <th class="text-center">Setembro</th>
        <th class="text-center">Outubro</th>
        <th class="text-center">Novembro</th>
        <th class="text-center">Dezembro</th>
      </tr>
    </thead>
    <tbody class="font-1-0x">
      <tr *ngFor="let data of matriz" >
        <td>&nbsp;&nbsp;{{data.ano}}&nbsp;&nbsp;</td>
        <td class="matriz-line">
          <input maxlength="14" currencyMask id ="01-{{data.ano}}-{{hashKey}}" type="text" value="{{data.valores[0] }}" (focusout) = "changedGrid($event)" class="matriz-input" />
        </td>
        <td class="matriz-line">
          <input maxlength="14" currencyMask id ="02-{{data.ano}}-{{hashKey}}" type="text" value="{{data.valores[1] }}" (focusout) = "changedGrid($event)" class="matriz-input" />
        </td>
        <td class="matriz-line">
          <input maxlength="14" currencyMask id ="03-{{data.ano}}-{{hashKey}}" type="text" value="{{data.valores[2] }}" (focusout) = "changedGrid($event)" class="matriz-input" />
        </td>
        <td class="matriz-line">
          <input maxlength="14" currencyMask id ="04-{{data.ano}}-{{hashKey}}" type="text" value="{{data.valores[3] }}" (focusout) = "changedGrid($event)" class="matriz-input" />
        </td>
        <td class="matriz-line">
          <input maxlength="14" currencyMask id ="05-{{data.ano}}-{{hashKey}}" type="text" value="{{data.valores[4] }}" (focusout) = "changedGrid($event)" class="matriz-input" />
        </td>
        <td class="matriz-line">
          <input maxlength="14" currencyMask id ="06-{{data.ano}}-{{hashKey}}" type="text" value="{{data.valores[5]}}"   (focusout) = "changedGrid($event)" class="matriz-input"  />
        </td>
        <td class="matriz-line">
          <input maxlength="14" currencyMask id ="07-{{data.ano}}-{{hashKey}}" type="text" value="{{ data.valores[6] }}" (focusout) = "changedGrid($event)" class="matriz-input" />
        </td>
        <td class="matriz-line">
          <input maxlength="14" currencyMask id ="08-{{data.ano}}-{{hashKey}}" type="text" value="{{ data.valores[7] }}" (focusout) = "changedGrid($event)" class="matriz-input" />
        </td>
        <td class="matriz-line">
          <input maxlength="14" currencyMask id ="09-{{data.ano}}-{{hashKey}}" type="text" value="{{ data.valores[8] }}" (focusout) = "changedGrid($event)" class="matriz-input" />
        </td>
        <td class="matriz-line">
          <input maxlength="14" currencyMask id ="10-{{data.ano}}-{{hashKey}}" type="text" value="{{ data.valores[9] }}" (focusout) = "changedGrid($event)" class="matriz-input" />
        </td>
        <td class="matriz-line">
          <input maxlength="14" currencyMask id="11-{{data.ano}}-{{hashKey}}" type="text" value="{{ data.valores[10] }}" (focusout) = "changedGrid($event)" class="matriz-input" />
        </td>
        <td class="matriz-line">
          <input maxlength="14" currencyMask id="12-{{data.ano}}-{{hashKey}}" type="text" value="{{ data.valores[11] }}" (focusout) = "changedGrid($event)" class="matriz-input" />
        </td>
      </tr>
    </tbody>
  </sa-datatable>
</div>
